<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }
        
        p {
            margin: 0;
        }
        
        table {
            margin: 0 auto;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">
<div>




<table width="650" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td colspan="2" align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td valign="top" align="center">
 <a span="" style="text-decoration:none" href="#" target="_blank"><font size="1" face="Verdana">DEALER WEBSITE</font></a> &nbsp;|&nbsp;
 <a span="" style="text-decoration:none" href="#" target="_blank"><font size="1" face="Verdana">DIRECTIONS</font></a> &nbsp;| &nbsp;
 <a span="" style="text-decoration:none" href="#" target="_blank"><font size="1" face="Verdana">MAKE APPOINTMENT CHANGES</font></a></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td><img src="spacer.GIF" width="1"></td>
    <td align="center"><font size="2" face="Verdana"><a href="#" target="_blank"><br>
      <br>
    <img src="header.png" alt="INFINITI -- ONLINE SERVICE SCHEDULING" width="650" border="0" height="73"></a></font></td>
  </tr>
  <tr>
    <td rowspan="2"><img src="spacer.GIF" width="1"></td>
    <td align="center"><p><font size="3" face="Verdana"><b><br>
		</b></font></p></td></tr>
  <tr>
    <td colspan="2" align="center"><p>&nbsp;</p></td>
  </tr>
  <tr>
<td rowspan="2"><img src="spacer.GIF" width="1"></td>
<td align="center"><p><font size="3" face="Verdana"><b>SERVICES DETAIL</b></font></p>
      <p>
</p>
    <font size="2" face="Verdana">&nbsp;</font></td>
  </tr>
<tr>
    <td>
Dear {{app_details.customer.first_name|default_if_none:""}} {{app_details.customer.last_name}},<br><br>

The following services have been selected for this appointment.
<p>
<table>
  <thead>
    <tr>
      <th>SERVICES</th>
      <th>COST</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in app_services %}
    <tr>
      <td>{{obj.service.name}}</td>
      <td>${{obj.service.price}}</td>
    </tr>
   {% endfor %}
    <tr>
      <td class="bg_blu"><strong>TOTAL</strong></td>
      <td class="bg_blu"><strong>${{totalcost}}</strong></td>
    </tr>
  </tbody>
</table>

<table>
<thead>
  <tr>
    <th colspan="2" class="text-center bg_blu">WALK AROUND DETAILS</th>
  </tr>
</thead>
<tbody>
{% for obj in wlkarnd_details %}
  <tr>
    <td>{{obj.type}}: {{obj.image_name}}<br>{{obj.notes}}</td>
    <td class="text-center"><i class="fa fa-car fa-lg text_grn"></i></td>
  </tr>
 {% endfor %}
 </tbody>
 </table>

      <p>If you have any questions, please contact us using the information listed below. </p>
	  <br>
	  <p>Sincerely,</p>
       FRONTIER INFINITI <br> <a href="#" value="+14082600806" target="_blank">(408) 260-0806</a>
      <p>Directions:</p>
        Map to <a href="#">Dealership</a>
4355 STEVENS CREEK BLVD, SANTA CLARA, California - 95051
<p></p>
    </td>
  </tr>
  <tr>
    <td align=""><img src="spacer.GIF" width="1"></td>
    <td align=""><br><font size="2" face="Verdana"><i>Note: This is an automated message and please do not reply to it.</i></font></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  
  
</tbody></table>

</font></span></div>
</body>

</html>
