#loading_page {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: none;
   opacity: 0.7;
   background-color: #ftestff;
    z-index: 100000000000000000000000;
   text-align: center;
}

#loading-image-page {
  position: absolute;
  top: 40%;
  left: 45%;

}

.table > thead > tr > th, table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #cccccc !important;
    color : #cccccc !important;
    font-weight: 600;
    vertical-align: middle;
    padding: 0 1rem;
}

.table > thead > tr > th, table > thead > tr > th > a {
  padding-left: 0.5rem;
}

.breadcrumb-top .breadcrumb > .active {
    color: #715E5E;
}

element.style {
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
    z-index: 2;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning.active, .open .dropdown-toggle.btn-warning{
	color: #ffffff;
	background-color: #ffdd00;
}
input[type="radio"]{

}
.navbar-nav {margin: 0;}


@media (max-width: 900px) {
  .navbar-inverse .navbar-nav > li > .submenu {
    border: 1px solid #ccc;
    width: 100%;
  }
}

#printable button {
  width: 100%;
}

.applicationMenu .submenu > li > ul {
  width: 300px;
}

@media (max-width: 900px) {
  .applicationMenu .submenu > li > ul {
    width: auto;
  }

  /*.navbar-inverse .navbar-nav > li:hover > a,
  .navbar-inverse .navbar-nav > li.active > a,
  .navbar-inverse .navbar-nav > li:focus > a {
    background-color: #2196f3;
    color: #fff ! important;
 }*/
}

.tableScrl{
  overflow-x: scroll;
}


.dsplyRNo{
  display:none;
}

@media only screen and (max-width: 767px){
  .mrgnfrInctvRo{
    margin-top:10px ! important;
 }
}

@media only screen and (max-width: 480px) {

.hideclmn{
/*
  display: none;
  */
 }
.dsplyRNo{
  display: table-cell;
}
.brdrrgt{
  border-right:0px ! important;
 }

}
