{% load flagging_tags %}

<div class="modal fade addflag" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">x</span></button>
                <h4 class="modal-title">ADD Flag</h4>
            </div>
            <div class="modal-body" style="height:405px">
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal" id="addnewflag">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Flag Title</label>
                                <div class="col-sm-9">
                                    {{nfform.flag_name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Flag Type</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="aflagtype" value="1" checked> Shop
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="aflagtype" value="2"> Parts
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="aflagtype" value="3"> Customer
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Customer facing</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="acfacing" value="1" checked> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="acfacing" value="2"> No
                                    </label>
                                </div>
                            </div>
							              <div class="form-group approval_required_radio" style="display:none">
                                <label class="col-sm-3 control-label">*Approval Required</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="approvalRequired" value="yes" > Yes
                                    </label>
                                     <label class="radio-inline">
                                        <input type="radio" name="approvalRequired" value="no" checked> No
                                    </label>
                                 </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label">Flag Color</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="arole">
	                                      {% for opt in flag_role_choices %}
                                            <option style="background:{{opt.bgcolor}};
                                            {% if opt.fgcolor %}
                                                color:{{opt.fgcolor}};
                                            {% endif %}"                                                                                             value="{{opt.choice}}" {% if ob.role == opt.choice %}selected {% endif %}>{{opt.description}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group show-flag-colors">
                                <label class="col-sm-3 control-label">Custom Flag Color</label>
                                <div class="col-sm-9">
                                    <input type="text" name="flag_color" title="Click to open ColorPicker" class="jscolor colorfield_field form-control"                                                           data-jscolor="{hash:true}" value="#FFFFFF">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus mr-10" aria-hidden="true"></span>ADD Flag</button>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <div class="FlagCurrentColorsWrap show-flag-colors">
                            <p><b>Current Flag Color:</b></p>
                            {% for oj in flags  %}
                            <ul class="FlagCurrentColors">
                                <p>
                                  {% if oj.type == 1 %}
                                    Shop
                                  {% elif oj.type == 2 %}
                                    Parts
                                  {% elif oj.type == 3 %}
                                    Customer
                                  {% endif %}
                                </p>
                                {% for o in oj.data %}
                                <li style="background-color:{{o.display_color}};
																			{% if o.display_color|getForegroundColor %}
																				color: {{o.display_color|getForegroundColor}} !important;
																		  {% endif %}"
                                    class="CurrentColorItem">{{o.label}}
                                </li>
                                {% endfor %}
                            </ul>
                       		{% endfor %}
                        </div>
                        <div class="show-flag-text">
                            <p>Choose "Flag Color" -> "Custom" to set a unique color for this flag.</p>
                            <p>Any other "Flag Color" choice will use the flag color assigned to that role.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
	 $(".addflag").find("input[name=aflagtype]").on("change",function(){
		 		if($(this).val() == "3" && $(".addflag").find("input[name=acfacing]:checked").val() == "1" ){
					$(".addflag").find(".approval_required_radio").show();
				}else{
					$(".addflag").find(".approval_required_radio").hide();
				}
	 	});
	 $(".addflag").find("input[name=acfacing]").on("change",function(){
			if($(this).val() == "1" && $(".addflag").find("input[name=aflagtype]:checked").val() == "3" ){
				$(".addflag").find(".approval_required_radio").show();
			}else{
				$(".addflag").find(".approval_required_radio").hide();
			}
			});
	 
	 $(".addflag").find("select[name=arole]").on("change",function() {
	    initflagrole($(this));
	    });
	    
	 $(".addflag").ready( function() {
	    $selector = $(this).find("select[name=arole]");
	    initflagrole($selector);
	 });
	 
		});
 
</script>
