<form class="form-horizontal" id="contact_details">
<div class="row">
	<div class="col-sm-4">
		<div class="bg_wht pad-15">
				<div class="form-group">
					<label for="shopnam" class="col-sm-4 control-label">Shop Name:</label>
					<div class="col-sm-8">
						{{dform.name}}
					</div>
				</div>
				<div class="form-group">
					<label for="dcod" class="col-sm-4 control-label">Dealer Code:</label>
					<div class="col-sm-8">
						{{dform.dealer_code}}
					</div>
				</div>
				
				<div class="form-group">
					<label for="discription" class="col-sm-4 control-label">Address:</label>
					<div class="col-sm-8">
						{{dform.address_line1}}
					</div>
				</div>
				<div class="form-group">
					<label for="discription" class="col-sm-4 control-label">Description:</label>
					<div class="col-sm-8">
						{{dform.description}}
					</div>
				</div>
				<div class="form-group">
					<label for="time" class="col-sm-4 control-label">Time Zone:</label>
					<div class="col-sm-8">
						{{dform.timezone}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<a href="#">Launch Consumer Portal</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<p>Disable Consumer Address</p>
						{{dform.consumer_access}}
						<!-- label class="radio"><input type="radio" checked><span>Yes</span></label>
						<label class="radio"><input type="radio"><span>No</span></label-->
					</div>
				</div>
		</div>
	</div>
	<div class="col-sm-4">
		{% comment %}
		{# DMS Settings Aren't Used At The Moment #}
		<div class="bg_wht pad-15">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="webkey" class="col-sm-4 control-label">Web Key:</label>
					<div class="col-sm-8">
						{{dform.webkey}}
					</div>
				</div>
				<div class="form-group">
					<label for="frameset" class="col-sm-4 control-label">Frameset URL:</label>
					<div class="col-sm-8">
						{{dform.frameset_url}}
					</div>
				</div>
				<div class="form-group">
					<label for="service" class="col-sm-4 control-label">Service URL:</label>
					<div class="col-sm-8">
						{{dform.service_url}}
					</div>
				</div>
				<div class="clear pad-20"></div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						DMS INTEGRATION
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						{{dform.dms_access}}
						<!-- label class="radio"><input type="radio" checked><span>Active</span></label>
						<label class="radio"><input type="radio"><span>Disactive</span></label-->
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						{{dform.customer}}
					</div>
				</div>
			
			</div>
		</div>
		{% endcomment %}

		<div class="bg_wht pad-15">
			<div class="form-horizontal">
			<p class="text-center">APP SETTINGS</p>
				<div class="form-group">
					<label for="labor Hours" class="col-sm-4 control-label">Technician Hourly Rate:</label>
					<div class="input-group col-sm-5">
				      <div class="input-group-addon">$</div>
					    {{dform.technician_default_hourly_rate}}
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-sm-4">
		<div class="bg_wht pad-15">
			<p class="text-center">MESSAGE OF THE DAY</p>
			<div class="form-group">
				{{dform.message_of_the_day}}
			</div>
			<div class="clear pad-10"></div>
			<p class="text-center"><a href="#" class="text_grey">PRIVACY POLICY</a></p>
			<div class="form-group text-center">
				{{dform.privacy_polilcy}}
			</div>
			<div class="form-group">
				{{dform.privacy_policy}}
			</div>
		
		
		</div>
	</div>


</div>
<div class="bg_wht pad-15">
	<p class="text-center">STORE IMAGES</p>
<div class="row">
	<div class="col-sm-8">
		
		<div class="clear pad-15"></div>
		<p><a href="#" class="text_grey">EMAIL HEADER IMAGE</a></p>
		<div class="form-group">
			<label class="control-label">
				<input type='file' id="edit_emailheader_image" name="email_header_image"/>
			</label>
			<p>
				<input id="email_header_img_clear_id" name="email_header_img_clear" type="checkbox">
				<label for="email_header_img_clear_id">Clear</label>
			</p>
			<div class=""><img id="email_header_img"
			                   src="{% if dform.email_header_image.value %}{{dform.email_header_image.value.url}}{%endif%}"
			                   class="img-responsive"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="clear pad-15"></div>
		<p><a href="#" class="text_grey">CUSTOMER PORTAL HEADER IMAGE</a></p>
		<div class="form-group">
			<label class="control-label">
				<input type='file' id="edit_customerportal_image" name="customer_portal_header_image"/>
			</label>
			<p>
				<input id="customerportal_img_clear_id" name="customerportal_img_clear" type="checkbox">
				<label for="customerportal_img_clear_id">Clear</label>
			</p>
			<div class=""><img id="customerportal_img"
			                   src="{% if dform.customer_portal_header_image.value %}{{dform.customer_portal_header_image.value.url}}{%endif%}"
			                   class="img-responsive"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="clear pad-15"></div>
		<p><a href="#" class="text_grey">DEFAULT CAR IMAGE</a></p>
		<div class="form-group">
			<label class="control-label">
				<input type='file' id="edit_default_car_image" name="default_car_image"/>
			</label>
			<p>
				<input id="default_car_img_clear_id" name="default_car_img_clear" type="checkbox">
				<label for="default_car_img_clear_id">Clear</label>
			</p>
			<div class=""><img id="default_car_img"
			                   src="{% if dform.default_car_image.value %}{{dform.default_car_image.value.url}}{%endif%}"
			                   class="img-responsive"></div>
		</div>
	</div>
</div>
</div>

<div class="clear pad-10"></div>
<div class="text-right">
	
	<button type="submit" class="btn btn-success" id="save_details">save</button>
</div>
</form>
