{% load flagging_tags %}

{% for obj in flags %}
{% for ob in obj.data %}
<div class="modal fade editflags{{ob.value}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">x</span></button>
                <h4 class="modal-title">Edit Flag</h4>
            </div>
            <div class="modal-body" style="height:405px">
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal editflagform">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Flag Title</label>
                                <div class="col-sm-9">
                                    <input type="text" name="eflagname" class="form-control" placeholder="Flag Title" value="{{ob.label}}">
                                    <input type="hidden" name="eflagid" class="form-control" placeholder="Flag Title" value="{{ob.value}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Flag Type</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="eflagtype" value="1"{% if ob.type == "1" %} checked{% endif %}> Shop
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="eflagtype" value="2" {% if ob.type == "2" %} checked{% endif %}> Parts
                                    </label>
                                    <label class="radio-inline">
                                    	{% if ob.type == "3" %}
                                        <input type="radio" name="eflagtype" value="3" checked> Customer
                                        {% else %}
                                        <input type="radio" name="eflagtype" value="3" disabled> Customer
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Customer facing</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="ecfacing" value="1" {% if ob.cfacing == "True" %} checked{% endif %}> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ecfacing" value="2" {% if ob.cfacing == "False" %} checked{% endif %}> No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Flag Color</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="erole">
	                                      {% for opt in flag_role_choices %}
                                            <option style="background:{{opt.bgcolor}};
                                            {% if opt.fgcolor %}
                                                color:{{opt.fgcolor}};
                                            {% endif %}"                                                                                             value="{{opt.choice}}" {% if ob.role == opt.choice %}selected {% endif %}>{{opt.description}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group approval_required_radio" {% if ob.cfacing != "True" or ob.type != "3"%} style="display:none" {% endif %}>
                                <label class="col-sm-3 control-label ">*Approval Required</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="approvalRequired" value="yes" {% if ob.approval_required == "true" %} checked {% endif %}> Yes
                                    </label>
                                     <label class="radio-inline">
                                        <input type="radio" name="approvalRequired" value="no" {% if ob.approval_required == "false" %} checked {% endif %}> No
                                    </label>
                                 </div>
                            </div>
                            <div class="form-group show-flag-colors">
                                <label class="col-sm-3 control-label">Custom Flag Color</label>
                                <div class="col-sm-9">
                                    <input type="text" name="flag_color" placeholder="Select Flag Color" title="Click to open ColorPicker" value="{{ob.color}}"
                                           class="jscolor form-control colorfield_field" data-jscolor="{hash:true}">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus mr-10" aria-hidden="true"></span>Save Changes</button>
                            </form>
                        </div>
                    
                    <div class="col-md-5 show-flag-colors">
                        <p><b>Currently Used Flag Colors:</b></p>
                        <div class="FlagCurrentColorsWrap">
                        {% for oj in flags  %}
                            <ul class="FlagCurrentColors">
                              <p>
                                  {% if oj.type == 1 %}
                                    Shop
                                  {% elif oj.type == 2 %}
                                    Parts
                                  {% elif oj.type == 3 %}
                                    Customer
                                  {% endif %}
                                {% for o in oj.data %}
                              </p>
                                <li style="background-color:{{o.display_color}};
																			{% if o.display_color|getForegroundColor %}
																				color: {{o.display_color|getForegroundColor}} !important;
																		  {% endif %}"
                                    class="CurrentColorItem">{{o.label}}
                                </li>
                                {% endfor %}
                            </ul>
                       {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-5 show-flag-text">
                        <p>Choose "Flag Color" -> "Custom" to set a unique color for this flag.</p>
                        <p>Any other "Flag Color" choice will use the flag color assigned to that role.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
    <script>
  
  	$(function(){
	 $(".editflags{{ob.value}}").find("input[name=eflagtype]").on("change",function(){
				if($(this).val() == "3" && $(".editflags{{ob.value}}").find("input[name=ecfacing]:checked").val() == "1" ){
					$(".editflags{{ob.value}}").find(".approval_required_radio").show();
				}else{
					$(".editflags{{ob.value}}").find(".approval_required_radio").hide();
				}
	 	});
	 $(".editflags{{ob.value}}").find("input[name=ecfacing]").on("change",function(){
			if($(this).val() == "1" && $(".editflags{{ob.value}}").find("input[name=eflagtype]:checked").val() == "3" ){
				$(".editflags{{ob.value}}").find(".approval_required_radio").show();
			}else{
				$(".editflags{{ob.value}}").find(".approval_required_radio").hide();
			}
			});
	 
	 $(".editflags{{ob.value}}").find("select[name=erole]").on("change",function() {
	    initflagrole($(this));
	    });
	    
	 $(".editflags{{ob.value}}").on('show.bs.modal', function() {
	    $selector = $(this).find("select[name=erole]");
	    console.log("init: " + $selector.val() );
	    initflagrole($selector);
	 });
	 
	 /*
	 var initeditflagrole = function(role_selector)  {
	    var val = role_selector.val();
	    var selected = role_selector.find("option[value="+val+"]");
	    var bgcolor = selected.css("background");
	    var color = selected.css("color");
	    role_selector.css({"background-color": bgcolor});
	    if (color!=null) {
	      role_selector.css({"color": color});
	    }
	    else {
	      role_selector.css({"color": "#000"});
	    }
	    $editform = role_selector.closest(".modal-body");
	    if (val == "CM") {
	      console.log("Init Custom");
	      $editform.find('.show-editflag-colors').each(function(){$(this).show()});
	      $editform.find('.show-editflag-text').each(function(){$(this).hide()});
	    }
	    else {
	      console.log("Init Sepcific");
	      $editform.find('.show-editflag-colors').each(function(){$(this).hide()});
	      $editform.find('.show-editflag-text').each(function(){$(this).show()});
	    }
	   };
	   */
 		});
  </script>
  {% endfor %}
  {% endfor %}
