<div id="flagmain">
    <div class="col-sm-8">
      <div class="bg_wht pad-15">
        <p>EDIT FLAGS</p>
        <p class="text-small">Select a Flag to Edit</p>
        <div class="row">
            <div class="col-sm-6">
                <div class="EditFlagCont clearfix">
                    <div class="list-group FlagList">
                    {% for obj in flags %}
                        <a class="list-group-item" id="flagtype{{obj.type}}" value="{{obj.data}}">
                          {% if obj.type == 1 %}
                            Shop
                          {% elif obj.type == 2 %}
                            Parts
                          {% elif obj.type == 3 %}
                            Customer
                          {% endif %}
                        </a>
                    {% endfor %}
                    </div>
                    <div class="FlagListItemsCont">
                        <input id="FlagItemSearchField" class="FlagItemAutoSearch" placeholder="Search">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-default"  data-toggle="modal" data-target=".addflag"><span aria-hidden="true" class="glyphicon glyphicon-plus mr-10"></span> Add New Flag</button>
            </div>
        </div>
       
        
       {% include "manage/editflag.html" %}
       {% include "manage/addflag.html" %}
      </div>
  </div>
</div>



