<div class="col-sm-4">
  <div class="bg_wht pad-15">
  <form id="rolecolorsform" class="form-horizontal" action="{% url 'customer:main' %}" method="POST">
       {% csrf_token %}
       {{ rolecolorform.non_field_errors }}

    
      <p>DEFAULT FLAG COLORS BY ROLE</p>
      
        <div class="form-group">
            {{ rolecolorform.dealer_flag_color_default.errors }}
            <label for={{rolecolorform.dealer_flag_color_default.id_for_label}} class="col-sm-6 control-label">Dealer:</label>
            <div class="col-sm-6">
              {{rolecolorform.dealer_flag_color_default}}
            </div>
        </div>
      
        <div class="form-group">
            {{ rolecolorform.advisor_flag_color_default.errors }}
            <label for={{rolecolorform.advisor_flag_color_default.id_for_label}} class="col-sm-6 control-label">Advisor:</label>
            <div class="col-sm-6">
              {{rolecolorform.advisor_flag_color_default}}
            </div>
        </div>

        <div class="form-group">
            {{ rolecolorform.technician_flag_color_default.errors }}
            <label for={{rolecolorform.technician_flag_color_default.id_for_label}} class="col-sm-6 control-label">Technician:</label>
            <div class="col-sm-6">
              {{rolecolorform.technician_flag_color_default}}
            </div>
        </div>

        <div class="form-group">
            {{ rolecolorform.parts_flag_color_default.errors }}
            <label for={{rolecolorform.parts_flag_color_default.id_for_label}} class="col-sm-6 control-label">Parts:</label>
            <div class="col-sm-6">
              {{rolecolorform.parts_flag_color_default}}
            </div>
        </div>
      
        <div class="form-group">
            {{ rolecolorform.customer_flag_color_default.errors }}
            <label for={{rolecolorform.customer_flag_color_default.id_for_label}} class="col-sm-6 control-label">Customer:</label>
            <div class="col-sm-6">
              {{rolecolorform.customer_flag_color_default}}
            </div>
        </div>
        <input type="hidden" name="dealer_code" value="{{config.dealer_code}}"/>
  </form>
  
  <div class="alert alert-success rolecolorss" style="display:none; width:100%">
      <strong>Success!</strong>
      <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
      <div class="rolecolorss_msg"></div>
  </div>
  <div class="alert alert-danger rolecolorfl" style="display:none; width:100%">
    <strong>Error!</strong>
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <div class="rolecolorfl_msg"></div>
  </div>
  
  </div>
</div>
