{% load staticfiles %}

{% if  recommendations %}
	{% if appt.appointment_recommendation_status %}
    <table class="table table-bordered table-headgray">
        <thead>
          <tr>
	          <th width="5%"></th>
	          <th width="25%">INSPECTION ITEM</th>
	      
	          <th width="10%" class="text-center">RESULT</th>
	      
	          <th width="20%" class="text-center">CAUSE</th>
	          <th width="20%" class="text-center">CORRECTION</th>
	          <th width="10%" class="text-center">TOTAL</th>
	          <th width="5%" class="text-center">Approved</th>
          </tr>
        </thead>
        {% for obj in recommendations %}
        <tr>
          <td width="5%">{{forloop.counter}}</td>
          <td width="25%">{% if obj.title %}{{obj.title}}{% else %}obj.note{% endif %}</td>
	        
          {% if obj.result == "Fail" %}
						<td width="10%" class="text-center bg_red"><strong>FAIL</strong></td>
          {% elif obj.result == "Warn" %}
						<td width="10%" class="text-center bg_ylw"><strong>WARN</strong></td>
					{% else %}
						<td width="10%" class="text-center bg_grn">PASS</td>
					{% endif %}
        
	        <td width="20%" >{{obj.recommendation}}</td>
	        <td width="20%">{{obj.specs}}</td>
          <td width="15%" class="text-center">${{obj.price}}</td>

					<td width="15%" class="text-center">
					{% if obj.status == "Accept" %}
						<img width="15" height="15" src="{% static 'images/sign-check.png' %}">
					{% elif obj.status == "Decline" %}
						<img width="15" height="15" src="{% static 'images/sign-error.png' %}">
					{% elif obj.status == "Pending" %}
						<img width="15" height="15" src="{% static 'images/sign-pending.png' %}">
			    {% endif %}
			    </td>
        </tr>
        {% endfor %}
		    <tr class="info">
	        <td colspan="5" class="total text-right"><strong>TOTAL APPROVED ESTIMATE</strong></td>
	        <td class="total text-center"><strong> </strong></td>
		      <td class="total text-center"><strong class="">{{inspection.recommendation.0.price_unit}}{{inspection.approved }}</strong></td>
		      {% comment %}
			      <td class="text-center"><strong class="text_grn">{{inspection.recommendation.0.price_unit}}{{inspection.approved }}</strong></td>
			      <td class="text-center"><strong class="text_red">{{inspection.recommendation.0.price_unit}}{{inspection.declined }}</strong></td>
			      <td class="text-center"><strong class="text_orange">{{inspection.recommendation.0.price_unit}}{{inspection.pending }}</strong></td>
		      {% endcomment %}
			  </tr>
	  </tbody>
   </table>

		<div class="spacer">
		
		<div id="approval">
	    <table>
	      <thead>
	          <tr>
	              <th width="40%" class="info">
	                  <h5>CUSTOMER SIGNATURE</h5>
	              </th>
	          </tr>
	      </thead>
	      <tbody>
	          <tr>
		          
	              <td width="300">
	                  I, the customer agree to terms & conditions and Work Order for the appointment
			              {% if appt.customer_actionplan_signature %}
			              <img src="{{appt.customer_actionplan_signature}}"/>
		                {% else %}
										<p>The customer did not supply a signature on approval</p>
			              {% endif %}
			              <p>Typed Full Name: {{appt.customer_actionplan_typed_full_name}}</p>
			              </td>
	              </td>
	          </tr>
	      </tbody>
	    </table>
		</div>

		</div>

	{% else %}
  <table class="table table-bordered table-headgray">
      <thead>
        <tr>
              <th width="5%" ></th>
              <th width="35%">INSPECTION ITEM</th>
          
              <th width="10%" class="hd-status text-center">RESULT</th>
          
              <th width="15%" class="text-center">CAUSE</th>
              <th width="15%" class="text-center">CORRECTION</th>
              <th width="10%" class="text-center">TOTAL</th>
              <th width="5%" class="text-center">Approve</th>
          </tr>
      </thead>
      <tbody>
      {% for obj in recommendations %}
        <tr>
            <td width="5%" class="text-center">{{forloop.counter}}</td>
            <td width="35%">{% if obj.title %}{{obj.title}}{% else %}obj.note{% endif %}</td>
          
						 {% if obj.result == "Fail" %}
						<td width="10%" class="text-center bg_red"><strong>FAIL</strong></td>
						{% elif obj.result == "Warn" %}
						<td width="10%" class="text-center bg_ylw"><strong>WARN</strong></td>
						{% else %}
						<td width="10%" class="text-center bg_grn">PASS</td>
						{% endif %}
          
              <td width="15%">{{obj.recommendation}}</td>
              <td width="15%">{{obj.specs}}</td>
              <td width="10%" class="text-center">${{obj.price}}</td>
              <td width="10%" class="text-center"><img width="10" height="10" src="{% static 'images/crop_square.png' %}"></td>
          </tr>
         {% endfor %}
          <tr>
            <td class="text-right total" colspan="5"><strong>TOTAL</strong></td>
	          <td class="text-center total"><strong>${{total}}</strong></td>
            <td class="total" colspan="1"></td>
          </tr>
      </tbody>
    </table>
	
		<div class="spacer">
		
		<div id="approval">
	    <table>
	      <thead>
	          <tr>
	              <th width="40%" class="info">
	                  <h5>CUSTOMER SIGNATURE</h5>
	              </th>
	          </tr>
	      </thead>
	      <tbody>
	          <tr>
	              <td width="300">
	                  <!-- button type="button" class="btn btn-default btn-sm disabled">Type</button> &nbsp;
	                  <button type="button" class="btn btn-info btn-sm">Draw</button--->
	                  I, the customer agree to terms & conditions and Work Order for the appointment
	                  <!-- button type="button" class="btn btn-default btn-sm disabled">Type</button> &nbsp;
	                  <button type="button" class="btn btn-info btn-sm">Draw</button--->
	                  <div class="sign-here">Sign Here</div>
	              </td>
	          </tr>
	      </tbody>
	    </table>
		</div>

		</div>
	{% endif %}
{% else %}
	<p class="text-danger">No Recommendations </p>
{% endif %}
