{% if  recommendations %}
{% if appt.appointment_recommendation_status %}
	<p class="text-danger">Details Of Your Approved Appointment Recommendations Are:</p>
            <div class="table-responsive">
                <table class="table table-bordered table-headgray">
                    <thead>
                    	<tr>
                        	<th></th>
                            <th class="text-center">STATUS</th>
                            <th>INSPECTION NOTES</th>
                            <th class="text-center">CAUSE</th>
                            <th class="text-center">CORRECTION</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">Approved</th>
                            <th class="text-center">Declined</th>
                            <th class="text-center">Pending</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for obj in recommendations %}
                    	<tr>
                        	<td>{{forloop.counter}}</td>
													 {% if obj.result == "Fail" %}
													<td class="text-center bg_red"><strong>FAIL</strong></td>
													{% elif obj.result == "Warn" %}
													<td class="text-center bg_ylw"><strong>WARN</strong></td>
													{% else %}
													<td class="text-center bg_grn">PASS</td>
													{% endif %}
		                    
                            <td>{% if obj.title %}{{obj.title}}{% else %}obj.note{% endif %}</td>
                            <td>{{obj.recommendation}}</td>
                            <td>{{obj.specs}}</td>
                            <td class="text-center">${{obj.price}}</td>

							{% if obj.status == "Accept" %}
							<td class="text-center"><i
								class="fa fa-check-circle fa-lg text_grn"></i></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							{% elif obj.status == "Decline" %}
							<td class="text-center"></td>
							<td class="text-center"><i
								class="glyphicon glyphicon-remove-sign fa-lg text_red"></i></td>
							<td class="text-center"></td>
							{% elif obj.status == "Pending" %}
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"><i
								class="glyphicon glyphicon-question-sign fa-lg text_orange"></i></td>
              {% endif %}
              </tr>
             {% endfor %}
              <tr class="info">
                  <td colspan="6" class="text-right"><strong>APPROVED TOTAL</strong></td>
              {% if action_plan == None %}
                  <td class="text-center"><strong>{{inspection.recommendation.0.price_unit}}{{inspection.total}}</strong></td>
                  <td></td>
                {% endif %}
              {% if action_plan != None %}
                <td class="text-center"><strong class="">{{inspection.recommendation.0.price_unit}}{{inspection.approved }}</strong></td>
	              <td></td>
	              <td></td>
	              {% comment %}
                <td class="text-center"><strong class="text_grn">{{inspection.recommendation.0.price_unit}}{{inspection.approved }}</strong></td>
                <td class="text-center"><strong class="text_red">{{inspection.recommendation.0.price_unit}}{{inspection.declined }}</strong></td>
                <td class="text-center"><strong class="text_orange">{{inspection.recommendation.0.price_unit}}{{inspection.pending }}</strong></td>
	              {% endcomment %}
              {% endif %}
              </tr>
                    </tbody>
                </table>
            </div>
{% else %}
<p class="text-danger">Please review the service recommendations listed for approval below:</p>
            <div class="table-responsive">
                <table class="table table-bordered table-headgray">
                    <thead>
                    	<tr>
                        	<th></th>
                            <th class="text-center">STATUS</th>
                            <th>INSPECTION NOTES</th>
                            <th class="text-center">CAUSE</th>
                            <th class="text-center">CORRECTION</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">APPROVE</th>
                            <th class="text-center">DECLINE</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for obj in recommendations %}
                    	<tr>
                        	<td>{{forloop.counter}}</td>
													 {% if obj.result == "Fail" %}
													<td class="text-center bg_red"><strong>FAIL</strong></td>
													{% elif obj.result == "Warn" %}
													<td class="text-center bg_ylw"><strong>WARN</strong></td>
													{% else %}
													<td class="text-center bg_grn">PASS</td>
													{% endif %}
                            <td>{% if obj.title %}{{obj.title}}{% else %}obj.note{% endif %}</td>
                            <td>{{obj.recommendation}}</td>
                            <td>{{obj.specs}}</td>
                            <td class="text-center">${{obj.price}}</td>
                            <td class="text-center"><label class="checkbox m-0"><input type="radio" name="{{obj.id}}" value="Accept"/> <span>&nbsp;</span></label></td>
                            <td class="text-center"><label class="checkbox m-0"><input type="radio" name="{{obj.id}}" value="Decline" checked/> <span>&nbsp;</span></label></td>
                        </tr>
                       {% endfor %}
                        <tr class="info">
                        	<td colspan="5"></td>
                            <td class="text-center"><strong>${{total}}</strong></td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
            	<div class="col-lg-offset-3 col-lg-6 col-md-offset-1 col-md-9">
		            
                	<div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="info">
                                    <th>
                                        <h5 class="pull-left">CUSTOMER SIGNATURE</h5>
                                        <div class="col-sm-6 pull-right">
	                                        <div class="mb-0 form-group">
                                            <input id="full-name" type="text" class="form-control" placeholder="Type Your Full Name" name="full-name">
	                                        </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>I, the customer agree to terms & conditions and Work Order for the appointment</p>
	                                    
																				    <p>Draw your signature. On non-touch enabled devices please use the mouse.</p>
                                            <div id="review_signatures">
	                                            <div style="width:650px">
	                                            <canvas id="signature-drawn" style="border:1px solid black;" width="650" height="125"></canvas>
																			        <div class="col-2">
		                                          <a id="erase-signature" type="button" class="btn btn-sm btn-primary pull-right">Reset/Clear Signature</a>
																			        </div>
		                                          </div>
																						</div>
	                                    
                                        <!-- button type="button" class="btn btn-default btn-sm disabled">Type</button> &nbsp;
                                        <button type="button" class="btn btn-info btn-sm">Draw</button--->
                                        <!-- div class="input-group">
                                            <input class="form-control" type="text" name="mirror">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-grey rest" aria-label="Help">Reset</button>
                                                <button type="button" class="btn btn-info apply">Apply</button>
                                            </div>
                                        </div-->
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="checkbox"><input type="checkbox" id="status_email"><span>Send me an email of the approved work order</span></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary submitapproval">SUBMIT APPROVAL</button></div>
                </div>
            </div>
{% endif %}
{% else %}
<p class="text-danger">No Recommendations </p>
{% endif %}
