<div style="font-size:larger;" id="reply_div">Your vehicle is at the car wash and will be ready shortly.
{% comment %}
Please <strong><a href="#" data-toggle="modal" data-target=".payment_details" class="text_red">Reply Here</a></strong> when you are on your way.<br>
This will help to streamline the pick-up process. Thank you.
{% endcomment %}
</div>
{% if appt.ro.shop_notes %}
<div class="clear pad-10"></div>
<div style="font-size:larger">
<strong>Addtional Notes:</strong><br>
{{appt.ro.shop_notes|linebreaks}}
</div>
{% endif %}
