<div style="font-size:larger;" id="reply_div">Your vehicle's condition has been inspected and has been prepared for your review. You will be sent a separate email with instructions on how to review and approve any recommended services and repairs.
</div>

{% if appt.ro.shop_notes %}
<div class="clear pad-10"></div>
<div style="font-size:larger">
<strong>Addtional Notes:</strong><br>
{{appt.ro.shop_notes|linebreaks}}
</div>
{% endif %}

