{% if "Service Complete" in appt.ro.flag3.name  %}
<div class="text_red" style="font-size:larger;">Your Auto Service is complete. You will be notified when it's ready to be picked up.</div>
{% elif "Working on Vehicle" in appt.ro.flag3.name  %}
<div class="text_red" style="font-size:larger;">Your Auto Service is In Progress. </div>
{% elif "Ready For Pickup" in appt.ro.flag3.name  %}
<div class="text_red" style="font-size:larger;">Your Auto is ready to pick-up.</div>
{% elif "In Queue" in appt.ro.flag3.name %}
<div class="text_red" style="font-size:larger;">Your Auto Service is in queue. </div>
{% endif %}
{% if appt.ro.shop_notes %}
<div class="clear pad-10"></div>
<div style="font-size:larger">
<strong>Addtional Notes:</strong><br>
{{appt.ro.shop_notes|linebreaks}}
</div>
{% endif %}
