{% extends 'mobilecheckin/login/password_base.html' %}
{% block title %}
<h3 class="font_regular">Create New Password</h3>
{% endblock %}

{% block fields %}
<div class="col-sm-9">
<p>Please enter a new password that you will remember. The password must be at least six characters. With at least one upper case character, one lower case character, one number and one symbol.</p>

	<form id="form_pass" action="{% url 'mobilecheckin:firstlogin' %}" method="post">
		{% csrf_token %}
	    <div class="form-group">
	    	{{ form.new }}
	        <!-- <input type="password" class="form-control" id="new" placeholder="Enter New Password"> -->
	    </div>
	    <div class="form-group">
	    	{{ form.confirm }}
	        <!-- <input type="password" class="form-control" id="confirm" placeholder="Confirm Password"> -->
	    </div>
	    <div class="form-group">
	    	{{ form.questions }}
	        <!-- <input type="password" class="form-control" id="confirm" placeholder="Confirm Password"> -->
	    </div>
	      <div class="form-group">
	    	{{ form.answer }}
	        <!-- <input type="password" class="form-control" id="confirm" placeholder="Confirm Password"> -->
	    </div>
	    <div class="clear pad-5"></div>

	    <button type="submit" class="btn btn-info">Ok</button> &nbsp;
	    

	</form>

</div>
{% endblock %}
