{% extends 'mobilecheckin/base.html' %}
{% block main %}
<div class="clear pad-50"></div>
<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-offset-3 col-sm-6">
            <div class="LoginBox">
	            <h3 class="mt-0 text-center">Login to <strong>Mobile Checkin</strong></h3>
                <hr>
               	{% if  form.non_field_errors %}
		                <div class="alert error alert-danger fade in">
					    	<a href="#" class="close" data-dismiss="alert">&times;</a>
					    	<strong>Error!</strong>{{ form.non_field_errors }}
						</div>
               	
                {%endif%}
	              {% if user.is_authenticated %}
	                <div class="clear pad-5"></div>
	                <p>User <strong>{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}</strong> is currently logged in.<a href="{% url 'mobilecheckin:logout' %}">Click here</a> to log them out</p>
	              {% else %}
                <form action="{% url 'mobilecheckin:login' %}" method="post">
                <input type="hidden" name="dealer_code" value="{{code}}" />
                	{% csrf_token %}
                	<div class="form-group">
                    	<!--  <input type="text" class="form-control" id="" name="username" placeholder="Username">-->
                    		{% if  form.username.errors %}
                    	 <div class="alert error alert-danger fade in">
					    	<a href="#" class="close" data-dismiss="alert">&times;</a>
					    	<strong>Error!</strong>{{ form.username.errors }}
						</div>
						{%endif%}
                    	{{ form.username }}
                        <p class="text-right"><small><a href="{% url 'mobilecheckin:userreset' %}?dealer_code={{code}}">Forgot Username?</a></small></p>
  					</div>
  					<div class="form-group">
                    	<!--  <input type="password" class="form-control" id="" name="password" placeholder="Password">-->
                    	{{ form.password }}
                        <p class="text-right"><small><a href="{% url 'mobilecheckin:passreset' %}?dealer_code={{code}}">Forgot Password?</a></small></p>
  					</div>
                    <div class="checkbox-inline no_indent">
	                      <input class="form-check-input position-static" type="checkbox" id="id_remember" value="{{form.instance.remember}}">
	                      <span  class="mr-10">Keep me logged in </span>
                    </div>
                    <div class="clear pad-5"></div>
                    <button type="submit" class="btn btn-info">Submit</button>
				</form>
			            <div class="clear pad-10"></div>
	                <hr>
	                <p class="mt-0 text-larger"><a href="{%url 'dealership:login'%}?dealer_code={{dealer_code}}">Login</a> to the <strong>Dealership</strong> app instead</p>
	                <p class="mt-0text-larger"><a href="{%url 'flagging:login'%}?dealer_code={{dealer_code}}">Login</a> to the <strong>Flagger</strong> app instead</p>
		            {% endif %}
	            
            </div>
        </div>
    </div>
</div>
<div class="clear pad-5"></div>
{% endblock %}
