{% extends 'mobilecheckin/login/password_base.html' %}
{% block title %}
<h3 class="font_regular">Create New Password</h3>
{% endblock %}

{% block fields %}
<div class="col-sm-9">
<p>Please enter a new password that you will remember. The password must be at least six characters with at least one upper case character, one lower case character, one number and one symbol.</p>

	<form id="form_pass" action="{% url 'mobilecheckin:passcreate' %}?token={{ token }}&dealer_code={{code}}" method="post">
		{% csrf_token %}
	    <div class="form-group">
	    	{{ form.new }}
	        <!-- <input type="password" class="form-control" id="new" placeholder="Enter New Password"> -->
	    </div>
	    <div class="form-group">
	    	{{ form.confirm }}
	        <!-- <input type="password" class="form-control" id="confirm" placeholder="Confirm Password"> -->
	    </div>
	    
	    <div class="form-group">
	    	<label>{{ question }}</label>
	    </div>
	    
	    <div class="form-group">
	    	{% if  form.answer.errors %}
	        	 <div class="alert error alert-danger fade in">
			    	<a href="#" class="close" data-dismiss="alert">&times;</a>
			    	<strong>Error!</strong>{{ form.answer.errors }}
				</div>
			{%endif%}
	    	{{ form.answer }}
	    </div>
	    <div class="clear pad-5"></div>
	    <button type="submit" class="btn btn-info">Ok</button>
	    
	</form>

</div>
{% endblock %}
