<div class="row">
        	<div class="col-sm-3">
            	<h4>Today's Appointments</h4>
            </div>
            <div class="col-sm-6">
            	<div rel="time" class="btn-group main_filter">
                	<a rel="time" class="btn btn-info">Time</a>
                    <a rel="advisor" class="btn btn-default">Advisor</a>
                    <a rel="status" class="btn btn-default">Status</a>
                </div>
            </div>
            <div class="col-sm-3">
            	<a id="new-appointment-btn" class="btn btn-default">New Appointment</a>
                <button type="button" class="newcustomer_button btn btn-default">New Customer</button>
            </div>
        </div>
        <div class="clear pad-10"></div>
        <div class="row">
        	<div class="col-sm-3"></div>
            <div rel="daily" class="col-sm-3 sub_filter">
            	<a rel="daily" class="btn btn-info">Day View</a>
                <a rel="weekly" class="btn btn-default">Week View</a>
            </div>
            <div class="col-sm-3 text_13">
            	<div class="DatePickerBtn btn-default">
            	<a class="filter-date-control pointer" id="filter-date-prev"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
                <a id="filter-date-text" class="ml-10 mr-10"></a>
             
                <a class="filter-date-control pointer" id="filter-date-next"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="pointer ml-10 filter-date-picker"><span aria-hidden="true" class="glyphicon glyphicon-calendar"></span></a>
            </div>
            </div>
            
            	<!--
            	<div class="input-group date">
				  <input type="text" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
				-->
				
            <div class="col-sm-3">
            	<div class="btn-group">
                    <button type="button" class="appts-print btn btn-default"><span class="glyphicon glyphicon-print mr-10"></span> Print</button>
                    {% comment %}
  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span aria-hidden="true" class="glyphicon glyphicon-print mr-10"></span>Print</button>
  					<ul id="appts-print" class="dropdown-menu">
                        <li><a href="#" class="appts-print" data-url="appts-print-all">Print All Today`s Appts</a></li>
                        <li><a href="#" class="appts-print" data-url="appts-print-open">Print Open Appts. Only</a></li>
                    </ul>
                    {% endcomment %}
				</div>
            </div>
        </div>
        
        <div class="clear pad-20"></div>
  		<script>
  		$(function(){
  			$(".appts-print").off("click").on("click",function(){
  			    // var d = $(this).data('url');
  				print($("#main_content"));
  			});
  		});
  		</script>
