{% load dealership_tag %}
<h4 class="mt-0">{{ day }} ({{ availed }})</h4>
<div class="panel-group" id="{{ id }}" role="tablist" aria-multiselectable="true">
	{% for slab in slabs %}
		{% include "overview/time_weekly_slab.html" %}
	{% endfor %}
	

	{% if show_capacity %}
	{% dealer_capacity day as cap_percent %}
	<div class='panel
						{% if cap_percent == None %}
							panel-default
			      {% elif cap_percent >= 100 %}
			        panel-danger
			      {% elif cap_percent >= 80 %}
			        panel-warning
						{% else %}
			        panel-info
			      {% endif %}'>
		<div class="panel-heading">
		    <h6 class="panel-title">
			      {% if cap_percent == None %}
			        Capacity N/A
			      {% else  %}
			        Capacity at {{ cap_percent }}%
			      {% endif %}
		    </h6>
		</div>
	</div>
	{% endif %}

</div>
