<div class='panel panel-default' id='{{slab.slab_id}}'>

	<div class="panel-heading {{ slab.color }}" role="tab" id="accordion-head-{{slab.slab_id}}">
	    <h6 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#accordion-body-{{slab.slab_id}}"
	        aria-expanded="false" aria-controls="accordion-0">
                {% if slab.capacity == 0 %}
                    {{ slab.title }} ({{ slab.size }})
                {% else %}
                    {{ slab.title }} ({{ slab.size }}/{{ slab.capacity }})
                {% endif %}
	        <i class="fa fa-plus-circle text_wht pull-right"></i></a>
	    </h6>
	</div>
	<div id="accordion-body-{{slab.slab_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-head-{{slab.slab_id}}">
	    <div class="panel-body">
	       <div class="table-responsive">
	            <table class="table table-striped mb-0">
	                	{% for row in slab.data %}
							{% include "overview/time_weekly_row.html" %}
						{% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>

</div>
