<div id="addvehicle" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" style="margin: 30px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close addvehicleclose" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Vehicle</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="alert alert-danger" style="display:none">
						<a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
						<strong>Error</strong>
						<div class="errmsg"></div>
					</div>
					<div class="row">
						<div class="col-sm-offset-2 col-sm-8">
							<div class="clear pad-5"></div>
							<h5>Vehicle Information</h5>
							<form id="addvehicleform">
								<div class="form-horizontal">
									<h4>Select Make, Model , Year</h4>
									<div class="form-group">
										<label for="addmake" class="col-sm-2 control-label">Make*</label>
										<div class="col-sm-10">
											<select class="form-control vehicle_selectbox" data-name="Make" data-key="make" id="addmake"
											        name="make" required="required">
												<option value="">Select Make</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="addmodel" class="col-sm-2 control-label">Model*</label>
										<div class="col-sm-10">
											<select class="form-control vehicle_selectbox" data-name="Model" name="model" data-key="model"
											        required="required" id="addmodel">
												<option value="">Select Model</option>
											</select>
										</div>
									</div>
									
									<div class="form-group">
										<label for="addyear" class="col-sm-2 control-label">Year*</label>
										<div class="col-sm-10">
											<select class="form-control vehicle_selectbox" data-name="Year" name="year" data-key="year"
											        required="required" id="addyear">
												<option value="">Select Year</option>
											</select>
										</div>
									</div>
									<!--    <div class="form-group">
											 <label for="make" class="col-sm-2 control-label">Trim*</label>
												 <div class="col-sm-10">
													 <select class="form-control" disabled="disabled"  required="required" id="trim"><option>Select Trim</option></select>
												 </div>
										 </div> -->
									
									<div class="form-group" style="display:none">
										<label for="make" class="col-sm-2 control-label">Trim</label>
										<div class="col-sm-10">
											{% if vehicleform.trim.errors %}
											<div class="alert error alert-danger fade in">
												<a href="#" class="close" data-dismiss="alert">&times;</a>
												<strong>Error!</strong>{{ vehicleform.trim.errors }}
											</div>
											{%endif%}
											{{ vehicleform.trim }}
										</div>
									</div>
									<div class="form-group">
										<label for="make" class="col-sm-2 control-label">Mileage*</label>
										<div class="col-sm-10">
											{% if vehicleform.mileage.errors %}
											<div class="alert error alert-danger fade in">
												<a href="#" class="close" data-dismiss="alert">&times;</a>
												<strong>Error!</strong>{{ vehicleform.mileage.errors }}
											</div>
											{%endif%}`
											{{ vehicleform.mileage }}
										</div>
									</div>
									<div class="form-group">
										<label for="make" class="col-sm-2 control-label">License Number*</label>
										<div class="col-sm-10">
											{% if vehicleform.license_number.errors %}
											<div class="alert error alert-danger fade in">
												<a href="#" class="close" data-dismiss="alert">&times;</a>
												<strong>Error!</strong>{{ vehicleform.license_number.errors }}
											</div>
											{%endif%}
											{{ vehicleform.license_number }}
										</div>
									</div>
									<div class="form-group">
										<label for="make" class="col-sm-2 control-label">Color*</label>
										<div class="col-sm-10">
											{% if vehicleform.color.errors %}
											<div class="alert error alert-danger fade in">
												<a href="#" class="close" data-dismiss="alert">&times;</a>
												<strong>Error!</strong>{{ vehicleform.color.errors }}
											</div>
											{%endif%}
											{{ vehicleform.color }}
										</div>
									</div>
									<div class="form-group">
                    <div class="col-sm-2 control-label"><label for="make" class="control-label">Manually Enter VIN#</label></div>
                       <div class="col-sm-10">
                        {% if  vin_number_errors %}
				                      <div class="alert error alert-danger fade in">
									            <a href="#" class="close" data-dismiss="alert">&times;</a>
									            <strong>Error!</strong>{{ vin_number_errors }}
															</div>
												{%endif%}
		                      <input type="text" id="addvin_vehicle" name="vin_number" class="form-control" />
                       </div>
											</div>
										<div class="form-group">
											<div class="col-sm-2 control-label"><label for="make" class="control-label">Vehicle Description</label></div>
											<div class="col-sm-10">
													<textarea  id="desc_vehicle" name="customer_vehicle_desc" class="form-control" /></textarea>
											</div>
										</div>
								
								<div class="modal-footer">
									<div class="text-center">
										<button id="add_button" type="submit" class="btn btn-default" value="">Add</button>
	                  <input type="hidden" name="dealer_code" value="{{ config.dealer_code }}"/>
			              <input type="hidden" class="form-control" id="addvehicle_id_field" name="vehicle">
										<input type="hidden" id="customerid" name="user" value="">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
