<div class="modal-body">
	<form id="altcontactform" method="POST" url=".">
		<input type="hidden" name="type" value="account"/>
		{% csrf_token %}
		{% if contact_form.errors %}
		{% endif %}
		<div class="well">
			<h5>Alternate Contact Details</h5>
			<div>
				<div class="clear pad-10"></div>
				{% if contact_form.non_field_errors %}
				<div class="alert error alert-danger fade in">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					<strong>Error!</strong>{{ contact_form.non_field_errors }}
				</div>
				{%endif%}
				
				<div class="row">
					<div class="form-group col-xs-6">
						<label for="fnam">First Name*</label>
						{{contact_form.first_name}}
						{% if contact_form.first_name.errors %}
						<div class="alert error alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<strong>Error!</strong>{{ contact_form.first_name.errors }}
						</div>
						{%endif%}
					</div>
					<div class="form-group col-xs-6">
						<label for="lnam">Last Name*</label>
						{{contact_form.last_name}}
						{% if contact_form.last_name.errors %}
						<div class="alert error alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<strong>Error!</strong>{{ contact_form.last_name.errors }}
						</div>
						{%endif%}
					</div>
				</div>
				<label for="fnam">Phone Number*</label>
				<div class="row">
						<div class="form-group col-xs-8">
							{{contact_form.phone_number_1}}
							{% if contact_form.phone_number_1.errors %}
							<div class="alert error alert-danger fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<strong>Error!</strong>{{ contact_form.phone_number_1.errors }}
							</div>
							{%endif%}
						</div>
						<div class="form-group col-xs-4">
							{{contact_form.phone_1_type}}
							{% if contact_form.phone_1_type.errors %}
							<div class="alert error alert-danger fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<strong>Error!</strong>{{ contact_form.phone_1_type.errors }}
							</div>
							{%endif%}
						</div>
					</div>
				<div class="row">
					<div class="form-group col-xs-12">
						<label for="mail">Email*</label>
						{{contact_form.email_1}}
						{% if contact_form.email_1.errors %}
						<div class="alert error alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<strong>Error!</strong>{{ contact_form.email_1.errors }}
						</div>
						{%endif%}
					</div>
				</div>
				<label for="method">Preferred Contact Method*</label>
				<div class="row">
						<div class="form-group col-xs-4">
							{{contact_form.method_of_contact}}
							{% if contact_form.method_of_contact.errors %}
							<div class="alert error alert-danger fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<strong>Error!</strong>{{ contact_form.method_of_contact.errors }}
							</div>
							{%endif%}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<button type="submit" class="btn btn-info save_alt_contact">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


