<div class="row">
	   		<div class="col-sm-6">
	   		<div class="well" style="font-size:larger;">
	   		History :
	   		{% if odo_history %}
	   		<ul>
	   		{% for obj in odo_history %}
	   			<li class="text_blue">{{obj.start_time}} obj.odometer_reading_in|default:"Not Available"</li>
	   		{% endfor %}
	   		</ul>
	   		{%else%}
	   		<ul>
	   			<li class="text_red">NO Records Found</li>
	   		</ul>
	   		{% endif %}
	   		</div>
	   		</div>
	   	</div>
