<div class="col-xs-10">
        	<div class="bg_wht pad-10">
            	<div class="row">
                	<div class="col-xs-8">
                    	<div class="row">
                        	<div class="col-xs-5">
                            	<h5 class="text-center text_wht bg_blu mt-0 pad-10 font_regular">Customer Details</h5>
                                <p class="text_12">
                                	Cutomer Name: &nbsp; {{app_details.customer.first_name|default_if_none:""}} {{app_details.customer.last_name}}<br>
                                    Cell Phone #: &nbsp; {{app_details.customer.phone_number_1}}<br>
                                    Cutomer #: &nbsp; {{app_details.customer.id}}<br>
                                    Email: &nbsp; {{app_details.customer.email_1}}<br>
	                                  {% comment %}
                                    Previous CSI Score: &nbsp;<br>
	                                  {% endcomment %}
                                    <a href="#" class="checkin_customer_details" data-remote="false" data-toggle="modal" data-target=".checkin_customer_account_detail">Customer Account</a>
                                </p>
                                <p>
		                              {% if app_details.alt_contact and app_details.alt_contact.first_name and app_details.alt_contact.last_name  %}
		                              <h5 class="text-center text_wht bg_blu mt-0 pad-10 font_regular">Alternate Contact For This Appointment</h5>
		                                Contact Name: &nbsp; {{app_details.alt_contact.first_name}} {{app_details.alt_contact.last_name}}<br>
		                                {{app_details.alt_contact.get_phone_1_type_display}} Phone #: &nbsp; {{app_details.alt_contact.phone_number_1}}<br>
		                                Email: &nbsp; {{app_details.alt_contact.email_1}}<br>
		                                Contact Method: &nbsp; {{app_details.alt_contact.get_method_of_contact_display}}<br>
		                              <a href="#" id="checkin_alt_contact_button" data-remote="false" data-toggle="modal" data-target=".checkin_alt_contact">Edit</a> /
		                              <a href="#" id="checkin_remove_alt_contact_button">Remove</a>
		                              {% else %}
		                        <p>
		                              <a href="#" id="checkin_alt_contact_button" data-remote="false" data-toggle="modal" data-target=".checkin_alt_contact">Add Alternate contact</a>
                               </p>
		                        {% endif %}
		                        <p>
		                        </p>
                                <!-- div class="alert alert-danger">
                                	<h5 class="mt-0">STATUS ALERTS</h5>
                                    <div class="row">
                                    	<div class="col-xs-6"><label class="radio text_12"><input type="radio" name="statusalert"><span>By Email</span></label></div>
                                    	<div class="col-xs-6"><label class="radio text_12"><input type="radio" name="statusalert"><span>By Text</span></label></div>
                                    </div>
                                </div-->
                                <p class="text_12">
                                	<strong>Pickup Time: 04:00pm</strong><br>
                                    A Way Away: &nbsp; {{app_details.way_away.name}}<br>
	                                  {% comment %}
                                    DL #: &nbsp; {{app_details.customer.driver_license_number}}<br>
                                    In. Carrier: &nbsp; XXXX
	                                  {% endcomment %}
                                </p>
                            </div>
                            <div class="col-xs-7">
                            	<h5 class="text-center text_wht bg_blu m-0 pad-10 font_regular">Today`s Services</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-headgray">
                                      <thead>
                                        <tr>
                                          <th>SERVICES</th>
                                          <th>COST</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for obj in app_services %}
                                        <tr>
                                          <td>{{obj.service.name}}
                                          	{%if obj.note %}
                                          		<br/>Note (Customer): {{obj.note}}
                                          	{%endif%}
                                          	{%if obj.desc %}
                                          		<br/>Note (Advisor): {{obj.desc}}
                                          	{%endif%}
                                          </td>
                                          <td>${{obj.price|floatformat:2}}</td>
                                        </tr>
                                       {% endfor %}
                                        <tr>
                                          <td class="bg_blu"><strong>TOTAL</strong></td>
                                          <td class="bg_blu"><strong>${{totalcost|floatformat:2}}</strong></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="clear pad-5"></div>
                        <div class="row">
                        	<div class="col-lg-12">
                            	<div class="table-responsive">
                            		<table class="table table-bordered table-headgray">
                                      <thead>
                                        <tr>
                                          <th class="bg_blu form-inline">
                                          	<div class="form-group">
                                            	<label for="signature">CUSTOMER SIGNATURE</label>
    											<input type="text" class="form-control" id="signature" placeholder="Type Customer Name" style="width:auto;">&nbsp;&nbsp;
    											<button class="btn btn-danger erase">Erase</button> &nbsp;
  											</div>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>
                                          	<p style="font-size:8px">Repair authorization & vehicle depository receipt (AB 409 amending civil code)
I hereby authorize the repair work to be done along with necessary materials. You and your employees may operate vehicle for purposes of testing, inspection or delivery at my risk. An express mechanic's lien is acknowledged on vehicle to secure the amount of repairs thereto. In the event legal action is necessary to enforce this contract, I will pay reasonable attorney's fees and costs. I acknowledge this deposited property is not insured or protected in the amount of cash value thereof by the dealer against loss occasioned by theft fire and vandalism while such property remains with the depository. I also acknowledge no articles of personal property have been left in the vehicle and that dealer is not responsible for the inspection thereof.</p>
                                            <div id="review_signatures">
                                            <canvas id="customer_checkin_signature" width="650" height="125"></canvas>
                                            </div>
                                            <button type="submit" class="btn btn-danger cancelappointment">Cancel</button> &nbsp;
                                            <button type="submit" class="btn btn-success acceptappointment">Accept</button> &nbsp;
                                            <a href="{% url 'mobilecheckin:pdf_view' app_details.id %}" target="_blank"><button class="btn btn-info">Export PDF</button></a> &nbsp;
                                            <label class="checkbox"><input type="checkbox" id="preorderemail"><span>Email Pre-work Order</span></label>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                        		</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="table-responsive">
                            <table class="table table-bordered table-headgray">
                              <thead>
                                <tr>
                                  <th colspan="2" class="text-center bg_blu">WALK AROUND DETAILS</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for obj in wlkarnd_details %}
                              {% if obj.type != "Tires" %}
                                <tr>
                                  <td><a href="{{MEDIA_URL}}{{obj.image}}" data-lightbox="image-{{forloope.counter}}" data-title="Image: {{obj.image_name}} <br> Note: {{obj.notes}}"> {{obj.image_name}}</a><br>{{obj.notes}}</td>
                                  <td class="text-center"><i class="fa fa-car fa-lg text_grn"></i></td>
                                </tr>
                                {% endif %}
                               {% endfor %}
                                <tr>
                                  <th colspan="2" class="text-center bg_blu">INSPECTION ITEM FAILED</th>
                                </tr>
                                 {% for obj in wlkarnd_details %}
                              		{% if obj.type == "Tires" %}
		                                <tr>
		                                  <td>RR Tire {{obj.RR.width}}</td>
		                                  <td class="text-center">
		                                  {% if obj.RR.safe %}
		                                  <i class="fa fa-check-circle fa-lg text_grn"></i>
		                                  {% else %}
		                                   <i class="fa fa-times-circle fa-lg text-danger"></i>
		                                   {% endif %}
		                                  </td>
		                                </tr>
		                                <tr>
		                                  <td>RF Tire {{obj.RF.width}}</td>
		                                  <td class="text-center">
		                                   {% if obj.RF.safe %}
		                                  <i class="fa fa-check-circle fa-lg text_grn"></i>
		                                  {% else %}
		                                   <i class="fa fa-times-circle fa-lg text-danger"></i>
		                                   {% endif %}
		                                  </td>
		                                </tr>
		                                <tr>
		                                  <td>LR Tire {{obj.LR.width}}</td>
		                                  <td class="text-center">
		                                   {% if obj.LR.safe %}
		                                  <i class="fa fa-check-circle fa-lg text_grn"></i>
		                                  {% else %}
		                                   <i class="fa fa-times-circle fa-lg text-danger"></i>
		                                   {% endif %}
		                                  </td>
		                                </tr>
                                <tr>
                                  <th colspan="2" class="text-center bg_blu">INSPECTION ITEM FAILED</th>
                                </tr>
		                            {% endif %}
		                          {% endfor %}
                                <tr>
	                                <th colspan="2" class="text-center bg_blu">Tag No: <input id="tagno" class="text" name="tagno"></th>
                                </tr>
                              
                                <!-- tr>
                                  <td>RF Tire 4//32</td>
                                  <td class="text-center"><i class="fa fa-info-circle fa-lg text-warning"></i></td>
                                </tr>
                                <tr>
                                  <td>LF Tire 3//32</td>
                                  <td class="text-center"><i class="fa fa-times-circle fa-lg text-danger"></i></td>
                                </tr>
                                <tr>
                                  <td>LF Tire 2//32</td>
                                  <td class="text-center"><i class="fa fa-check-circle fa-lg text_grn"></i></td>
                                </tr>
                                <tr>
                                  <td>RF Tire 1//32</td>
                                  <td class="text-center"><i class="fa fa-info-circle fa-lg text-warning"></i></td>
                                </tr>
                                <tr>
                                  <td>LF Tire 3//32</td>
                                  <td class="text-center"><i class="fa fa-times-circle fa-lg text-danger"></i></td>
                                </tr-->
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


