<div class="col-xs-10">
	<div class="bg_wht pad-10">
	   	<div class="row">
		<div class="col-sm-2">
	          <a class="CamCtrls clearfix" id="cameracontorls">
	          <label for='safarifile'>
	              <div class="CamBtn mb-10"><span id="startcamera" class="glyphicon glyphicon-camera pointer"></span></div>
	              <button id="cancelbutton" class="btn btn-xs btn-danger hidden" type="button"><span aria-hidden="true" class="glyphicon glyphicon-camera"></span> Cancel</button>
	          </a>
	    </div>
		<div class="col-sm-6">
			<div class="wlktype col-sm-12" data-toggle="buttons" style="display:none">
               <label class="btn btn-default " name="scratch">
                   <input type="radio" name="walkaroundtype" value="Scratch" checked/> Scratch
               </label>
               <label class="btn btn-default" name="ding">
                   <input type="radio" name="walkaroundtype" value="Ding" /> Ding
               </label>
               <label class="btn btn-default" name="dent">
                   <input type="radio" name="walkaroundtype" value="Dent" /> Dent
               </label>
               <!--label class="btn btn-default" name="tires">
                   <input type="radio" name="walkaroundtype" value="Tires" /> Tires
               </label-->
               <label class="btn btn-default active" name="others">
                   <input type="radio" name="walkaroundtype" value="Other" /> Other
               </label>
           </div>
			<div id="vehicle_details">
			{% include "mobilecheckin/checkin/walkaroundvehicleselect.html" %}
			</div>
			<div class="col-sm-12">
	          	<input type="text" class="form-control mt-10" name="notes" placeholder="Add Notes" />
	      	</div>
	
	      	<div class="col-sm-12">
	          	<input type="text" name="photoname" class="form-control mt-10" placeholder="Type Image Name"  style='display:none'/>
	      	</div>
	        <div class="col-sm-12 mt-10" align="right">
	        	<button class="btn addnotes btn-info" type="button"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Add</button>
	        </div>
	    </div>
		<div class="col-sm-4">
		<div class="clear"></div>
			<select id="wlkcusveh" class="form-control">
			<option value="">customer vehicle</option>
			{% for obj in vehicles %}
			<option value ="{{obj.vehicle.id}}" {% if obj.id == appointment.vehicle.vehicle.id %} selected {% endif %}>{{obj.vehicle.model.name}}/{{obj.vehicle.make.name}}/{{obj.vehicle.year.name}}</option>
			{% endfor %}
			</select>
		</div>
	</div>
		<div class="clear pad-5"></div>
		<div class="row" style="position: relative">
			<div class="col-sm-12">
			
			{% include "mobilecheckin/checkin/walkaround_imagecapture.html" %}
			<div id="vehicle_image_map" style="display:none">
			</div>
			<div id="vehicle_image_list">
				
				{% include "mobilecheckin/checkin/walkaroundmedia.html"%}
			</div>
			</div>
			<div class="col-sm-2" style="position: absolute; bottom:0; right:0;">
				<div class="well" style="padding : 8px">
					<input type="text" placeholder="Type Initials" class="form-control" name="initials">
					<div class="clear pad-5"></div>
					<button class="btn btn-sm addinitials btn-success" type="button" >Accept</button>
					<button class="btn btn-sm btn-danger cancelinitials" type="button" >Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
