  <div class="col-sm-6">
	  <div class="camera hidden">
	    <video id="video">Video stream not available.</video>
	    <button id="startbutton">Take photo</button>
	  </div>
 </div>
 <div class="col-sm-6">
  <canvas id="canvas" class="hidden">
  </canvas>
  <div class="output hidden" style="max-width:700px;max-height:700px;">
    <img id="photo" width="700" height="700" style="max-width:700px;max-height:700px;" alt="The image capture will appear in this box.">
  </div>
</div>
 <div class="col-sm-10">
 	<div class="container soutput hidden" style="max-width:700px;max-height:700px;">
 		<img id="sphoto" width="700" height="700" style="max-width:700px;max-height:700px;"  alt="The image capture will appear in this box.">
 	</div>
 </div>

