{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% block html_header %}
			{% include 'customer/includes/htmlheader.html' %}
		{%endblock%}
	</head>
	<body>
	<header>
	<div class="page-header">
        <div class="container-fluid">
        	<div class="row">
            	<div class="col-sm-6">
		                <a href="index.html" class="logo">
		                {% if dealership.customer_portal_header_image %}
		                <img src="{{dealership.customer_portal_header_image.url}}" width="60" />
		                {% else %}
		                <img src="{% static 'customer/images/logo.png' %}" width="60" />
		                {% endif %}
		                </a>
                    <h1>BMWSF Service Scheduler</h1>
                </div>
                
            </div>
        </div>
    </div>
</header>
<div class="clear"></div>
{% block main %}
{% endblock %}
<div id="loading_page">
	<img id="loading-image-page" src="{% static "customer/images/ajax-loader.gif" %}" alt="Loading..." />
</div>
</body>
</html>
{% block js %}
{% endblock %}
