<nav class="navbar navbar-inverse">
	<div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="overview"><a href="{% url 'dealership:overview' %}">Today's Overview</a></li>
            <li class="appointment"><a href="{% url 'dealership:appointment' %}">Appointments</a></li>
            <li class="customers"><a href="{% url 'dealership:customers' %}">Customers</a></li>
            <li class="rservices"><a href="{% url 'dealership:rservices' %}">Manage Services & Repairs</a></li>
            {% if config.group == "Dealer" %}
            	<li class="manage"><a href="{% url 'dealership:manage' %}">Manage Dealership</a></li>
            {% endif %}
            <li><a>Favorites</a>
            	<ul class="submenu">
                	{% include "dealership/app/partials/favorites-list.html" %}
                </ul>
            </li>
            <li class="create_models"><a href="{% url 'dealership:create_models' %}">Create Models</a></li>
            <li class="delete_models"><a href="{% url 'dealership:delete_models' %}">Delete Models</a></li>
            <li class="select_makes"><a href="{% url 'dealership:select_makes' %}">Select Makes</a></li>
        </ul>
    </div>
</nav>
<div class="clear"></div>
