<ul>
    <li><a href="#"><strong><span class="
															    {% if wallboard.capacity == None %}
																		text-default
														      {% elif wallboard.capacity >= 100 %}
														        text-danger
														      {% elif wallboard.capacity >= 80 %}
														        text-warning
														      {% endif %}">
	                                {% if wallboard.capacity == None %}
	                                      0
	                                {% elif wallboard.capacity < 100%}
																		    {{ wallboard.capacity|floatformat:"0"  }}
	                                {% else %}
	                                      100
	                                {% endif %}
    </span></strong>Capacity(%)</a></li>
    <li><a href="#"><strong>{{ wallboard.scheduled }}</strong>Appoint. Scheduled</a></li>
    <li><a href="#"><strong>{{ wallboard.notarrived }}</strong>Have Not Arrived</a>
    	<ul class="inner_menu">
        	<li><a href="#"><strong>{{ wallboard.waiting }}</strong>Waiting</a></li>
    		<li><a href="#"><strong>{{ wallboard.loaner }}</strong>Loaners</a></li>
    		<li><a href="#"><strong>{{ wallboard.other }}</strong>UBER/Shuttle/Other</a></li>
        </ul>
    </li>
    <li><a href="#"><strong>{{ wallboard.arrived_greeted }}</strong>Arrived & Greeted</a></li>
    <li><a href="#"><strong>{{ wallboard.checked_in }}</strong>Vehicles Checked In</a></li>
    <li><a href="#"><strong>{{ wallboard.in_progress }}</strong>Work In Progress</a></li>
    <li><a href="#"><strong>{{ wallboard.need_approval }}</strong>Need Approval</a></li>
    <li><a href="#"><strong>{{ wallboard.hold_for_parts }}</strong>Waiting for Parts</a></li>
    <li><a href="#"><strong>{{ wallboard.completed }}</strong>Work Completed</a></li>
    <li><a href="#"><strong>{{ wallboard.at_wash }}</strong>At Car Wash</a></li>
    <li><a href="#"><strong>{{ wallboard.picked_up }}</strong>Vehicle Picked Up</a></li>
</ul>
