 <form id="form_pass" action="{% url 'customer:accountsettings' %}" method="post">
 {% csrf_token %}
 <input type="hidden" name="type" value="change_password"/>
<div class="well collaps_main_container" >
					<h5 class="mt-0">
                    	<a  class="text_blck"><i class="fa fa-minus-square-o fa-lg mr-10 collapse_button"></i></a>
                       Change Password
                    </h5>
        				{{pass_form.user}}
	                    <div class="clear pad-10"></div>
	                    {% if  pass_form.non_field_errors %}
			                <div class="alert error alert-danger fade in">
						    	<a href="#" class="close" data-dismiss="alert">&times;</a>
						    	<strong>Error!</strong>{{ pass_form.non_field_errors }}
							</div>
	               		 
	               		 {%endif%}
		
		<div class="container-fluid collapsable_div">
			<div class="row">
		    	<div class="col-sm-8">
		    		 
		            <div class="row">
		            	<div class="col-sm-9">
						<p>Please enter a new password that you will remember. The password must be at least six characters with at least one upper case character, one lower case character, one number and one symbol.</p>
					    
					    	<div class="form-group">
					    		 {% if pass_form.current.errors %}
				                    	 <div class="alert error alert-danger fade in">
									    	<a href="#" class="close" data-dismiss="alert">&times;</a>
									    	<strong>Error!</strong>{{ pass_form.current.errors }}
										</div>
										{%endif%}
					    		
					    		{{ pass_form.current }}
					            <!-- <input type="password" class="form-control" id="current" placeholder="Enter Current Password"> -->
					        </div>
					        <div class="form-group">
					          {% if pass_form.new.errors %}
				                    	 <div class="alert error alert-danger fade in">
									    	<a href="#" class="close" data-dismiss="alert">&times;</a>
									    	<strong>Error!</strong>{{ pass_form.new.errors }}
										</div>
										{%endif%}
					        	{{ pass_form.new }}
					            <!-- <input type="password" class="form-control" id="new" placeholder="Enter New Password"> -->
					        </div>
					        <div class="form-group">
					          {% if pass_form.confirm.errors %}
				                    	 <div class="alert error alert-danger fade in">
									    	<a href="#" class="close" data-dismiss="alert">&times;</a>
									    	<strong>Error!</strong>{{ pass_form.confirm.errors }}
										</div>
										{%endif%}
					        	{{ pass_form.confirm }}
					            <!-- <input type="password" class="form-control" id="confirm" placeholder="Confirm Password"> -->
					        </div>
					        <div class="clear pad-5"></div>
					        <button type="submit" class="btn btn-info" id="submit">Ok</button> &nbsp;
					        <button type="submit" class="btn btn-grey">Cancel</button>
					 
					</div>
		                <div class="col-sm-3">
		                	<div class="clear pad-30"></div>
		                	<ul class="tick">
		                    	<li id="char">Six Characters</li>
		                        <li id="uper">Upper Case</li>
		                        <li id="lower">Lower Case</li>
		                        <li id="number">Number</li>
		                        <li id="symbol">Symbol</li>
		                        <li id="match">Passwords Match</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="clear pad-5"></div>
</div>
</form>

