<ul class="nav navbar-nav">
                    	<li  {% if tab == "" %} class="active" {%endif%}>
                    			<a href="{% url 'customer:index' %}?dealer_code={{dealer_code}}">Log In</a>
                    	</li>
                        <li {% if tab == "find" %} class="active" {%endif%}>
                        	<a href="{% url 'customer:findapp' %}?dealer_code={{dealer_code}}">Find My Existing Appointment</a>
                        </li>
                        <li {% if tab == "new" %} class="active" {%endif%}>
                        		<a href="{% url 'customer:new_customer_vehicle' %}?dealer_code={{dealer_code}}">I am a New Customer</a>
                        </li>
												{% comment %}
												Removed for now  due to no car being generated messing up the checkin process.
                        <li {% if tab == "appointmentnow" %} class="active" {%endif%}>
                        		<a href="{% url 'customer:book_appointment_now_new' %}?dealer_code={{dealer_code}}">I need an Appointment Now!</a>
                        </li>
												{% endcomment %}
                    </ul>
