{% load staticfiles %}
{% load get_vehicle_image %}
{% for customer_vehicle in customer_vehicles%}
		        	{% if forloop.counter0|divisibleby:2 %}
		        		</div>
		        		<div class="row">
		        	{%endif%}

		          <div class="col-sm-6" style="padding-top:10px;">
		                    	<div class="bg_wht pad-15">
		                        	<h4 class="mt-0">
		                            	<a data-href="{% url 'customer:del_vehicle' %}?vehicle_id={{customer_vehicle.vehicle.id}}" data-toggle="modal" data-target="#confirm-delete-vehicle" class="text_blck del_vehicle">
		                            			<span class="glyphicon glyphicon-remove text_red" style='cursor:pointer'></span>
		                            			Delete Vehicle
		                            	</a>
		                            </h4>
		                            <div class="row">
		                            	<div class="col-sm-6 col-xs-12 text-center">
		                            			<a href="#"><img class="imgpopup" src="{% get_vehicle_image customer_vehicle.vehicle %}" width="100"></a>
		                            	</div>

		                            	 <div class="col-sm-6 col-xs-12">
					                                	<div class="media">
					                                		{%if customer_vehicle.appointment.is != 'false' %}
							                            	  		{%if customer_vehicle.advisor.is == "true" %}

										                                    	<div class="media-left">
										                                        	<a href="#">
										                                        			{%if customer_vehicle.advisor.icon != ""  %}
										                                        				<img src="{{customer_vehicle.advisor.icon}}" width="50" class="media-object img-thumbnail">
										                                        			{%else%}
										                                        				<img src="{%static 'images/noimage.gif' %}"  width="50" class="media-object img-thumbnail">
										                                        			{%endif%}
										                                        	</a>
										                                        </div>

											                                        <div class="media-body">
											                                        	<p>Advisor:<br>{{customer_vehicle.advisor.first}} {{customer_vehicle.advisor.last}}</p>
											                                            <a  class=" pointer btn btn-info btn-xs pull-right advisor_selector" data-toggle="modal" data-target="#confirm-edit-advisor" data-appointment="{{customer_vehicle.appointment.id}}" data-advisor = "{{customer_vehicle.advisor.id}}" >Edit</a>
											                                        </div>
											                         {%else%}
											                         			<div class="media-left">
										                                        	<a href="#">
										                                        				<img src="{%static 'images/noimage.gif' %}"  width="75" class="media-object img-thumbnail">

										                                        	</a>
										                                        </div>

											                                        <div class="media-body">
											                                        	<p>Advisor:<br>None</p>
											                                            <a  class=" pointer btn btn-info btn-xs pull-right advisor_selector" data-toggle="modal" data-target="#confirm-edit-advisor" data-appointment="{{customer_vehicle.appointment.id}}" data-advisor = "{{customer_vehicle.advisor.id}}">Edit</a>
											                                        </div>
									                             {%endif%}
									                      {%endif%}
					                                    </div>
					                           </div>

		                            </div>
		                            <div class="clear pad-5"></div>
		                            <div class="row">
		                            	<div class="col-sm-6 col-xs-12">
		                                	<p><strong>{{customer_vehicle.vehicle.vehicle__make__name}} {{customer_vehicle.vehicle.vehicle__model__name}} {{customer_vehicle.vehicle.vehicle__year__name}}</strong></p>
		                                    <p>
		                                    	Make: &nbsp; {{customer_vehicle.vehicle.vehicle__make__name}}<br>
		                                        Model: &nbsp;  {{customer_vehicle.vehicle.vehicle__model__name}}<br>
		                                        Year: &nbsp;  {{customer_vehicle.vehicle.vehicle__year__name}}<br>
		                                        Mileage: &nbsp; {{customer_vehicle.vehicle.mileage}}<br/>
		                                        <!-- Trim: &nbsp; {{customer_vehicle.vehicle.trim__name}} -->
		                                    </p>
		                                </div>
		                                <div class="col-sm-6 col-xs-12">
		                                	<p>
		                                    	<strong>VIN #:</strong> &nbsp;  {{customer_vehicle.vehicle.vin_number}}<br>
		                                        <strong>License #:</strong> &nbsp; {{customer_vehicle.vehicle.license_number}}
		                                    </p>
		                                </div>
		                            </div>
		                            <h4>Service Appointment</h4>

		                             {%if customer_vehicle.appointment.is != 'false' %}

				                            <p><strong>Confirmation Code: &nbsp; {{customer_vehicle.appointment.code}}</strong></p>
				                             <p><strong>Date: &nbsp; {{customer_vehicle.appointment.time}}</strong></p>
				                            <p><strong></strong></p>
				                           <!--  <p>	<a href="#" class="text_blck"><span class="glyphicon glyphicon-calendar text_blue"></span>
				                            		Sync with Calendar
				                            		</a></p> -->
				                            <div class="row">
				                            	<div class="col-sm-6 col-xs-12">
				                                	<a href="{%url 'customer:service_selection_appointment'%}?appointment_id={{customer_vehicle.appointment.id}}" class="btn btn-default  btn-block">Edit Appointment</a>
				                                </div>
				                                <div class="col-sm-6 col-xs-12">
				                                	<a data-href="{%url 'customer:cancel_appointment'%}?appointment_id={{customer_vehicle.appointment.id}}" class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirm-cancel-appointment">Cancel Appointment</a>
				                                </div>
				                            </div>
				                      {%else%}
				                      		<div style="height:">
					                      	    <div class="row">
					                            	<div class="col-sm-6 col-xs-12">
					                                	<a href="{%url 'customer:schedule_appointment'%}?customer_vehicle_id={{customer_vehicle.vehicle.id}}" class="btn btn-default btn-success btn-block">Schedule Appointment</a>
					                                </div>

					                            </div>
					                        </div>
				                      {%endif%}
		                            <div class="clear pad-5"></div>
		                             {%if customer_vehicle.flag_data.is != 'false' %}
		                             	<div class="row">
		                                	<div class="col-sm-6 col-xs-12">
		                                		<a target="__blank" href="{%url 'customer:status_alert_index_hash' customer_vehicle.flag_data.flag_appt.status_url_hash %}" class="btn btn-default btn-block btn-danger">Service Status</a>
		                                	</div>
		                            	</div>
		                             {%endif%}
		                             <div class="row">
		                                	<div class="col-sm-6 col-xs-12">
		                                		{{customer_vehicle.id}}
		                                		  <a  href="{%url 'customer:service_history' vehicle_id=customer_vehicle.vehicle.id %}" class="btn btn-default btn-block btn-danger">Service History</a>
		                                	</div>
		                            	</div>

		                             <div class="clear pad-5"></div>
		                            <!-- <div class="row">
		                                <div class="col-xs-6">
		                                	<a href="#" class="btn btn-default btn-block">View Service History</a>
		                                </div>
		                            </div> -->
		                            <div class="clear pad-5"></div>
		                            <!-- <div class="well well-sm">
		                            	<h5 class="mt-0">Notifications</h5>
		                                This vehicle is due to XXX service
		                            </div> -->
		                             {%if customer_vehicle.appointment.is != 'false' %}
				                              <p class="text_14">
							                	Sync to your calender &nbsp;
							                	<a href="{%url 'customer:sync_gcalendar'%}?appointment_id={{customer_vehicle.appointment.id}}&refferrer={{ request.get_full_path|urlencode }}" title="Sync to Google">
							                		<i class="fa fa-calendar fa-lg"></i></a>
							                	&nbsp;
							                    <a href="{%url 'customer:download_calendar'%}?appointment_id={{customer_vehicle.appointment.id}}" class="text_blck" title="Add to your Calendar">
							                    	<i class="fa fa-file-archive-o fa-lg"></i>
							                    </a> &nbsp;
							                    <!--  <a href="#"><i class="fa fa-calendar-plus-o fa-lg"></i></a>-->
							                    <a target="__blank" href="{%url 'customer:print_appointment'%}?appointment_id={{customer_vehicle.appointment.id}}" style="margin-top: 10px;" class="btn btn-info pull-right btn-sm">Print</a>
							                </p>
					                {%endif%}
		                        </div>
		                    </div>

{%endfor%}
   <script>
   $(document).ready(function(){
	   	var advisor_selection = new AdvisorSelection();
		advisor_selection.panel = "#advisor-appointment";
		advisor_selection.dealer_code = "{{dealer_code}}"
		advisor_selection.pagination_container = "#advisor_pagination"
		advisor_selection.select_listener = advisor_selection.selectAdvisor;
		advisor_selection.advisor_fetch_url = "{% url 'customer:get_all_advisors_ajax'%}"
		advisor_selection.advisor_save_url = "{% url 'customer:save_advisor_ajax'%}";
		advisor_selection.profile_id = {{profile.id}}
		advisor_selection.type = "appointment"
		$('#confirm-edit-advisor').on('show.bs.modal', function(e) {
			var advisor_id = $(e.relatedTarget).data("advisor");
			var appointment_id = $(e.relatedTarget).data("appointment");
			advisor_selection.appointment_id = appointment_id;
			advisor_selection.setAdvisors();
		});
   })

   </script>
    <script type="text/javascript">

    	$('document').ready(function(){

			$('#confirm-delete').on('show.bs.modal', function(e) {
			    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
			});
			$('#confirm-edit-advisor').on('hide.bs.modal', function(e) {
			    window.location=window.location
			});
			$('#confirm-cancel-appointment').on('show.bs.modal', function(e) {
			    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
			})

    	});
  </script>
   <div class="modal fade" id="confirm-delete-vehicle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               	Delete Vehicle
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Vehicle. All information regarding this vehicle will be deleted
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-edit-advisor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4> Select Advisor</h4>
            </div>
            <div class="modal-body" >
               <div class="row" id ="advisor-appointment"></div>
               <nav class="text-center">
					     			   <ul id="advisor_pagination" class="pagination">
					     			   </ul>
			     					</nav>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-cancel-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               	Cancel Appointment
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this appointment.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" href="#">Cancel</a>
            </div>
        </div>
    </div>
</div>




