{%if appointment %}
	<ul id="myTabs" class="service_menu ">
	        	<li role="dropdown" class="dropdown dropdown-hover {% if tab == '' %} active {%endif%}">
		            	<a href="{% url 'customer:vehicle_selection_appointment' %}?dealer_code={{dealer_code}}&appointment_id={{appointment.id}}" id="vehicles-tab">Vehicles</a>
		            	<ul class="dropdown-menu" style="display: none;width:100%">
		           			 <li>
		           			 		{%if appointment.vehicle%}
		           			 			{{appointment.vehicle.vehicle.make.name}} {{appointment.vehicle.vehicle.model.name}}
		           			 		{%else%}
		           			 			Please select a vehicle
		           			 		{%endif%}
		           			 </li>
		     		   </ul>
          		  </li>
          		  
	            <li role="dropdown"  class="dropdown dropdown-hover {% if tab == 'service' %} active {%endif%}">
	          	  
	            	  <a href="{% url 'customer:service_selection_appointment' %}?dealer_code={{dealer_code}}&appointment_id={{appointment.id}}">Service and Repair </a>
	            		<ul class="dropdown-menu" style="display: none;width:100%">
		            		<li>
		            				<div id="service_repair_top_bar" >
			           			 			No Service or Repair added
			           			 	</div>
			           			 </li>
			           	</ul>
	            </li>
	            
	            <li role="dropdown" {% if tab == 'appointment' %} class="active" {%endif%}>
	            	
	            	 <a href="{% url 'customer:date_selection_appointment' %}?dealer_code={{dealer_code}}&appointment_id={{appointment.id}}">Appointment</a>
	            </li>
	            <li role="dropdown" {% if tab == 'book' %} class="active" {%endif%}>
	            	
	            	 <a href="{% url 'customer:book_appointment' %}?dealer_code={{dealer_code}}&appointment_id={{appointment.id}}">Review and Book</a>
	            </li>
	</ul>
{%endif%}
	<div class="clear pad-10"></div>
