<div bgcolor="#878787" style="background:#878787;height:100%!important;margin:0;padding:30px 0 0 0;width:100%!important">

    <table style="background-color:#878787;border-collapse:collapse!important;height:100%!important;margin:0;padding:0;width:100%!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td style="height:100%!important;margin:0;padding:0 20px;width:100%!important" valign="top" align="center">
                    <table style="border-collapse:collapse!important;width:600px;padding:0px;margin:0px" width="600" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style="background-color:#3e3e3e" valign="middle" height="26" bgcolor="#3e3e3e" align="left">
                                    <span style="color:#ffffff;font-family:helvetica,arial,sans-serif;font-size:10px;padding:0 0 0 30px;margin:0">Your BMW Service Appointment.</span>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <table style="background:#f4f4f4;background-color:#f4f4f4;border-collapse:collapse!important" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="color:#505050;font-family:Helvetica;font-size:20px;font-weight:bold;line-height:100%;padding:0;text-align:left;vertical-align:middle" valign="top" align="left">
                                                    <img src="cid:header_bmw.jpg" alt="BMW Service" style="border:0;height:auto;line-height:100%;max-width:600px;outline:none;text-decoration:none" tabindex="0">
                                                    <div dir="ltr" style="opacity: 0.01; left: 659px; top: 753px;">
                                                        <div role="button" tabindex="0" aria-label="Download attachment">
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #e5e5e5;padding:0;margin:0" valign="top" align="center">
                                    <table style="background:#fff;background-color:#fff;border-collapse:collapse!important" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 20px 30px;text-align:left" valign="top" align="left">
                                                    <h1 style="color:#000000!important;display:block;font-family:Helvetica,arial,sans-serif;font-size:30px;font-style:normal;font-weight:bold;letter-spacing:normal;line-height:100%;margin:50px 0 5px 0;padding:0;text-align:left"><strong>APPOINTMENT RESERVATION DETAILS</strong></h1>
                                                    <p style="font-family:Helvetica;font-size:24px;font-weight:bold;line-height:100%;padding:0;margin:0"><strong>BMW OF SAN FRANCISCO</strong> </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 20px 30px;text-align:left" valign="top" align="left">
                                                    <p><strong>Dear {{name}},</strong></p>
                                                    <p>Thank you for taking the time to reserve your service appointment. This is an automated appointment confirmation for your {{start_time}} service appointment.<br></p>
													<p>
													Confirmation Code:&nbsp;&nbsp;
													<b>{{c_code}}</b><br>
													Date and Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<strong>{{start_time}}</strong><br>
													Vehicle:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<strong>{{vehicle}}</strong><br>
													Advisor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<b>{{advisor}}</b><br>
													Requested Arrangement:&nbsp;&nbsp;
													<strong>{{wayaway}}</strong><br>
													</p>
													{% if service_name %}
													<p>The following services have been selected for this appointment: </p>

														  <p><u><b>Maintenance Services:</b></u></p>
														  {% for obj in service_name %}
														  <pre>{{obj}}</pre>
															{% endfor %}
													{% endif %}
                                                </td>
												<td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 20px 30px;text-align:left" valign="top" align="left">
													<img src="cid:bmw_Sch1.jpg" width="224" height="147" />
													<br />
                                                    <p>Reshedule or Modify your reservation <b><a href="{{appointment_change_url}}" style="color:#0057bf" >here</a></b></p>
                                                    <br />
                                                    <img src="cid:bmw_Sch2.jpg" width="224" height="147" />
                                                    <br />
                                                    <p>View Service specials <b><a href="http://www.bmwsf.com/service-specials" style="color:#0057bf" >now</a></b></p>
                                                    <br />
												</td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 55px 30px;text-align:left" valign="top" align="left">
                                                    <p>We look forward to seeing you very soon.</p>
                                                    <p>Sincerely,</p>
                                                    {{dealer_name}}
                                                    {{dealer_address}}
                                                    <strong>Website: <a href="{{main_site_url}}" target="_blank">{{dealer_name}}</a></strong><br>
													<a href="http://maps.google.com/?q={{dealer_address}}" target="_blank"><strong>Map to Dealership</strong></a></span></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
								<td style="background:#fff;color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 20px 30px;text-align:left" valign="top" align="left">
                                             <p><u></u>Add this appointment to your Outlook calendar using the attached file, if present, or by clicking a link below:<u></u><br><br>
									</p><center>
									<img src="cid:google.png" border="0" align="absmiddle">&nbsp;
									<a href="{{g_cyl}}" style="text-decoration:none" target="_blank">
									<span style="color:#3333ff;font-family:Arial,Helvetica,sans-serif;font-size:12px">Google</span>
									</a>&nbsp;&nbsp;&nbsp;<b>|</b> &nbsp;&nbsp;
									<img src="cid:yahoo.png" border="0" align="absmiddle">&nbsp;
									&nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;<img src="cid:windows.png" border="0" align="absmiddle">&nbsp;<a href="{{o_cyl}}" style="text-decoration:none" target="_blank"><span style="color:#660099;font-family:Arial,Helvetica,sans-serif;font-size:12px">Windows Live/Hotmail</span></a>
									</center>
									<br><p></p>
								</td>
                            </tr>
                            <tr>
                                <td style="background-color:#3e3e3e;font-family:Helvetica,arial,sans-serif;line-height:125%;font-size:10px;color:#fff;font-weight:bold;text-decoration:none;padding:10px 0" valign="middle" height="26" bgcolor="#3e3e3e" align="center">THIS IS AN AUTOMATED MESSAGE &ndash; <span style="white-space:nowrap">PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL.</span>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <table style="background:#e6e6e6;background-color:#e6e6e6;border-collapse:collapse!important;margin:15px 0 0 0" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="color:#808080;font-family:Helvetica,arial,sans-serif;font-size:10px;line-height:150%;margin-top:0;padding:30px;text-align:left" valign="top" align="left">
                                                    <p>&copy; 2016 BMW of North America, LLC. The BMW name, model names and logo are&nbsp;registered trademarks.</p>
                                                    <p>Repair times and costs vary based upon the nature of the repair, parts availability, your warranty status, and other factors. Once your vehicle is in the shop, we will diagnose your problem and contact you as soon as we can to provide details and specific time and cost estimate. Diagnostic and/or repair fees may apply if work to be performed is not covered under warranty.
                                                        <br>
                                                        <br>Please use the <a href="#" target="_blank">My Account</a> link to unsubscribe or adjust your privacy preferences.</p>
                                                    <p>Please note we are located at 1675 HOWARD STREET, SAN FRANCISCO, California 94103.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</div>
