<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }
        
        p {
            margin: 0;
        }
        
        table {
            margin: 0 auto;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">
<div>




<table width="650" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td colspan="2" align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td valign="top" align="center">
 <a span="" style="text-decoration:none" href="#" target="_blank"><font size="1" face="Verdana">DEALER WEBSITE</font></a> &nbsp;|&nbsp;
 <a span="" style="text-decoration:none" href="#" target="_blank"><font size="1" face="Verdana">DIRECTIONS</font></a> &nbsp;| &nbsp;
 <a span="" style="text-decoration:none" href="#" target="_blank"><font size="1" face="Verdana">MAKE APPOINTMENT CHANGES</font></a></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td></td>
    <td align="center"><font size="2" face="Verdana"><a href="#" target="_blank"><br>
      <br>
      {% if header %}
    <img src="cid:{{header}}" alt="{{dealer_name}} -- ONLINE SERVICE SCHEDULING" width="650" border="0" height="73"></a></font></td>
    {% else %}
      <td align="center"><p><font size="1" face="Verdana"><b> {{ dealer_name }}</b></font></p>
    {% endif %}
  </tr>
  <tr>
    <td rowspan="2"></td>
    <td align="center"><p><font size="3" face="Verdana"><b><br>
		</b></font></p></td></tr>
  <tr>
    <td colspan="2" align="center"><p>&nbsp;</p></td>
  </tr>
  <tr>
<td rowspan="2"></td>
<td align="center"><p><font size="3" face="Verdana"><b> Appointment Cancelled</b></font></p>
      <p>
</p>
    <font size="2" face="Verdana">&nbsp;</font></td>
  </tr>
<tr>
    <td>
Dear {{name}},<br><br>

Thank you for taking the time to cancel your scheduled appointment.


      <p>If you have any questions, please contact us using the information listed below. </p>
	  <br>
	  <p>Sincerely,</p>
       {{dealer_name}} <br> <a href="#" value="{{dealer_number}}" target="_blank">{{dealer_number}}</a>
      <p>Directions:</p>
        Map to <a href="http://maps.google.com/?q={{dealer_address}}">Dealership</a>{{dealer_address}}
<p></p>
    </td>
  </tr>
  <tr>
    <td align=""></td>
    <td align=""><br><font size="2" face="Verdana"><i>Note: This is an automated message. Please do not reply to it.</i></font></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  
  
</tbody></table>

</font></span></div>
</body>

</html>
