{% extends 'flagging/password_base.html' %}
{% block title %}
<h3 class="font_regular">Create New Password</h3>
{% endblock %}

{% block fields %}
<div class="col-sm-9">
<p>Please enter a new password that you will remember. The password must be at least six characters with at least one upper case character, one lower case character, one number and one symbol.</p>

	<form id="form_pass" action="{% url 'flagging:passcreate' %}?token={{ token }}" method="post">
		{% csrf_token %}
	    <div class="form-group">
	    	{{ form.new }}
	        <!-- <input type="password" class="form-control" id="new" placeholder="Enter New Password"> -->
	    </div>
	    <div class="form-group">
	    	{{ form.confirm }}
	        <!-- <input type="password" class="form-control" id="confirm" placeholder="Confirm Password"> -->
	    </div>
	    
	    <div class="form-group">
	    	<label>{{ question }}</label>
	    </div>
	    
	    <div class="form-group">
	    	{% if  form.answer.errors %}
	        	 <div class="alert error alert-danger fade in">
			    	<a href="#" class="close" data-dismiss="alert">&times;</a>
			    	<strong>Error!</strong>{{ form.answer.errors }}
				</div>
			{%endif%}
	    	{{ form.answer }}
	    </div>
	    <div class="clear pad-5"></div>
	    <button type="submit" class="btn btn-info">Ok</button> &nbsp;
	    <a href="{% url 'flagging:index' %}" class="btn btn-grey">Cancel</a>
	</form>

</div>
{% endblock %}
<script>
$(document).ready(function(){
	$('#form_pass #new').focusout(function(){
		alert("geg");
		console.info($(this).val().length);
		
		if($(this).val().length > 5) { $(".tick #char").addClass("check"); }
		else { $(".tick #char").removeClass("check") }
		
		if($(this).val().match(/[A-Z]/)){$(".tick #uper").addClass("check"); }
		else {$(".tick #uper").removeClass("check")}
		
		if($(this).val().match(/[a-z]/)){$(".tick #lower").addClass("check"); }
		else {$(".tick #lower").removeClass("check")}
		
		if($(this).val().match(/[0-9]/)){$(".tick #number").addClass("check"); }
		else {$(".tick #number").removeClass("check")}
		
		if($(this).val().match(/[!@#$%^&*()+=\';,.\/{}|":<>?~_-]/)){$(".tick #symbol").addClass("check"); }
		else {$(".tick #symbol").removeClass("check")}
		
		if($(this).val() == $('#form_pass #confirm').val()){ $(".tick #match").addClass("check") ; }
		else { $(".tick #match").removeClass("check") }
	});
 
	$('#form_pass #confirm').focusout(function(){
		if($(this).val() == $('#form_pass #new').val()){ $(".tick #match").addClass("check") ; }
		else { $(".tick #match").removeClass("check") }
	});
	
	$('#form_pass').submit(function(event){
		if($('.tick .check').size() < 6){
			event.preventDefault();
		}
	});
});
</script>
