<!DOCTYPE html>
<html lang="en">
<head>
{% load flagging_tags %}
{% load dealership_detail %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>{% dealer_title code%} Dealership</title>
{% load staticfiles %}

<!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-timepicker.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-editable.css" %}" rel="stylesheet">
<link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "customer/css/custom.css" %}" rel="stylesheet">
<link href="{% static "css/custom.css" %}" rel="stylesheet">
<link href="{% static "css/dealership.css" %}" rel="stylesheet">
<link href="{% static "css/simplePagination.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/font-awesome.css" %}" />
<link rel="stylesheet" href="{% static "css/jquery.sidr.dark.css" %}">
<link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="{% static "js/css/jsgrid.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "js/css/theme.css" %}" />
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "customer/js/bootstrap_dialog.js" %}"></script>
<script src="{% static "js/dealership.js" %}"></script>
<script src="{% static "js/dealership_custom.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{% static "js/notifications.js" %}"></script>
<!-- centrifuge js file -->
<script src="{% static "js/puller.js" %}"></script>
<script src="{% static "js/centrifuge.js" %}"></script>
<script src="{% static "js/sock.js" %}"></script>
<script src="{% static "js/sha.js" %}"></script>
<!-- centrifuge js file -->

</head>
<body>
{% block mainheader %}
<header>
	<div class="page-header">
	    <div class="container-fluid">
	    	<div class="row">
	        	<div class="col-lg-12">
	        		<h1 class="mt-5"> {% dealer_detail_dealer code %}</h1>
	            </div>
	        </div>
	    </div>
	</div>
	{% block sider %}

	{% endblock %}
</header>
<div class="clear pad-5"></div>
{% endblock %}

{% block messages %}
	{% if messages %}
		<div class="error_messages">
		    {% for message in messages %}
		    
				<div class="alert alert-{{message.level_tag}} fade in">
				    <a href="#" class="close" data-dismiss="alert">&times;</a>
				     {{ message }}
				</div>
		    {% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block main %}
{% endblock %}
<!-- Bootstrap core JavaScript
<!-- Placed at the end of the document so the pages load faster -->
{% block script %}

{% endblock %}
<div id="loading_page">
	 <img id="loading-image-page" src="{% static "customer/images/ajax-loader.gif" %}" alt="Loading..." />
</div>

</body>
</html>
