{% extends 'dealership/subbase.html' %}
{% load staticfiles %}
{% block content %}
<div class="clear pad-10"></div>
<div class="container-fluid">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" style="padding:30px;">
        
			<form action="{% url 'dealership:create_models'  %}?dealer_code={{dealer_code}}" method="post" enctype="multipart/form-data">
                                		{% csrf_token %}
				
                                			<div class="row">
	                                            Make: <select name="make" class="form-control">
	                                            	{%for mk in make%}
	                                            		<option value="{{mk.id}}">{{mk.name}}</option>
	                                            	{%endfor%}
	                                            </select><br/>
                                            </div>
                                            <div class="row">
                                            	<div class="col-md-6">
	                                            	Model: <select name="model" class="form-control">
	                                           		 {%for md in model%}
	                                            		<option value="{{md.id}}">{{md.name}}</option>
	                                            	{%endfor%}
	                                            	</select>
	                                            </div>
	                                            <div class="col-md-6">
	                                            	Model Name:
	                                             	<input type="text" name="model_text" value="" class="form-control"/>
	                                             </div>
                                            </div>
                                           
                                            <div class="row">
                                            Year: <select name="year" multiple="true" class="form-control">
                                            	 {%for yr in year%}
                                            		<option value="{{yr.id}}">{{yr.name}}</option>
                                            	{%endfor%}
                                            
                                            </select><br/>
                                            
                                            </div>
                                            <div class="row">
                                            	<input id="id_image" type="file" class="" name="image">
                                            </div>
                                            <input type="submit" name="submit" value="Submit" class="button"/>
    </form>
    </div>
   </div>
  </div>
  
{%endblock%}
