{% extends 'dealership/subbase.html' %}
{% load staticfiles %}
{% block content %}
<div class="clear pad-10"></div>
<div class="container-fluid">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" style="padding:30px;">
        
	        <h2 class="text-center">Add/Remove Car Makes</h2>
	        <h4 class="text-center">To/From your Dealership</h4>
	        
			<form action="{% url 'dealership:select_makes'  %}?dealer_code={{dealer_code}}" method="post" enctype="multipart/form-data">
                                		{% csrf_token %}
				
				
                                			<div class="row">
				                                <form>
																					 <div class="table-responsive">
																					  <table class="table table-bordered">
																					    <thead>
																					      <tr>
																					        <th>Select</th>
																					        <th>Make</th>
																					        <th>Added</th>
																					        <th>Available</th>
																					      </tr>
																					    </thead>
	                                            {% for make_name, selected, count, total_count in makes_list %}
																					    <tbody>
																					      <tr class="{% if selected %}success{% endif %}">
																						      <td><input class="" type="checkbox" name="{{make_name}}" {% if selected %}checked{% endif %}></td>
																						      <td><span class="{% if selected %}txt-red{% endif %}">{{make_name}}</span></td>
																					        <td>{{count}}</td>
																					        <td>{{total_count}}</td>
																					      </tr>
				                                      {%endfor%}
																					    </tbody>
																					  </table>
					                                <div>
						                                <div class="col-xs-12">
                                            <input type="submit" name="submit" value="Submit" class="button"/>
							                                <p>This may take awhile! Go get a coffee.</p>
						                              </div>
                                        </form>
			                                </div>
			</form>
    </div>
   </div>
  </div>
  
{%endblock%}
