{% load staticfiles %}
{% load flagging_tags %}
{% load addf %}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">

	@media all {
	
     @page {
      size: 8.5in 11in;
      margin: 1cm;
      }
      
      @font-face {
        font-family: DejaVuSans;
        src: url('/usr/share/fonts/truetype/DejaVuSans.ttf')
      }
      html,body{
         font-size: 10pt;
         font-family: DejaVuSans;
      }

      hr {
          display: block;
          height: 1em;
          border: 0;
          border-top: 0.1em solid #ccc;
          margin: 1em 0;
          padding: 0;
      }


			.spacer {
			    margin-top: 3em;
			}

      .sign-here {
        padding-top: 60px;
      }

      .inspection-image {
        padding-top: 1em;
      }

      .bg_br  {background-color:#9c6602 !important; color:#FFF;}
      .bg_mg  {background-color:#ff24c7 !important; color:#FFF;}
      .bg_tq  {background-color:#31cdfd !important; color:#FFF;}
      .bg_grn {background-color:#9bc935 !important; color:#FFF;}
      .bg_red {background-color:#F00 !important; color:#FFF;}
      .bg_mrn {background-color:#d62e2e !important; color:#FFF;}
      .bg_ylw {background-color:#ffffac !important; color:#000;}


      tr.info {
        background-color: #31cdfd;
      }
      
      /* Set font to 16px/13pt, set background to white and font to black.*/
      /* This saves ink */
      body {
        font: 13pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        /* background: #fff !important; */
        color: #000;
      }
      
      h1 {
        font-size: 24pt;
      }
      
      h2 {
        font-size: 18pt;
        margin-top: 25px;
        font-weight: normal;
      }

      h3 {
        font-size: 16pt;
        margin-top: 25px;
      }
      
      h4 {
        font-size: 14pt;
        margin-top: 25px;
      }


      img {
        max-width: 100%;
      }
      
	    .ActionPlanHead {
        font-size: 20pt;
        vertical-align:middle;
	    }
	    
      .hd-status {
        width: 100px;
      }
      
	    .logo-text {
        margin-left: 10px;
      }

      .table-headgrey {
	      background-color: #eeeeee;
	    }

      table, th, td {
        padding-top: 3px;
        padding-bottom: 2px;
        line-height: 50%;
        word-break: break-all;
        font-size: 8pt;
      }

      th, td {
        margin-left: 5px;
        margin-right: 5px;
      }

	    table {
        border-collapse: collapse;
        table-layout:fixed;
	    }

      .total {
        background-color:#31cdfd !important;
        color:#FFF;
      }

      .sig {
        width: 820px;
        margin-left: auto ;
        margin-right: auto ;
      }

	    td {
	      vertical-align: top;
	      padding-left: 2px;
        border: 1px solid #333;
	    }

	    th {
	      vertical-align: baseline;
	      text-align: left;
        border: 1px solid #333;
	      background-color: #888;
	      color: white;
	      padding-left: 5px;
        font-size: 8pt;
        height: 25px;
	    }
	    
	    .text-center {
          text-align: center;
	    }
	    .text-right {
          text-align: right;
	    }

	}

  </style>
</head>

<body>

  <div class="ActionPlanHead" style="padding: 0px">
      <div class="ActionPlanHeadLogo">
           {% dealer_detail_tag dealer_code %}
      </div>
      <h2>
          Recommended Action Plan for {{customer}}
      </h2>
      <h2>
          Vehicle Vin#: {{vehicle_vin}}
      </h2>
  </div>
  <hr>
  <h3>Original Customer Requests:</h3>
  <div>
   {% if service %}
      <table class="table table-bordered table-headgray" >
        <thead>
          <tr>
            <th width="5%"></th>
            <th width="50%">ORIGINAL CUSTOMER REQUESTS</th>
            <th width="10%" class="text-center">LABOR</th>
            <th width="10%" class="text-center">PARTS</th>
            <th width="10%" class="text-center">COST</th>
            <th width="15%" class="text-center">APPROVED</th>
          </tr>
        </thead>
       
         
          <tbody>
          {% if service.appointmentService %}
          {% for o in service.appointmentService %}
          <tr>
            <td width="5%">{{forloop.counter}}</td>
            <td width="50%">
                {% if o.service.name %}
                  {{ o.service.name }}
                {% endif %}
                {% if o.note %}
                  <br/>Note (customer): {{ o.note}}
                {%endif%}
                {% comment %}
                {% if o.desc  %}
                  <br/>Note (Advisor): {{ o.desc}}
                {%endif%}
                {% endcomment %}
            </td>
            <td width="10%" class="text-center">{{ o.service.price_unit }}{{o.service.labor}}</td>
            <td width="10%" class="text-center">{{ o.service.price_unit }}{{o.service.parts}}</td>
            <td width="10%" class="text-center">{{ o.service.price_unit }}{{o.price}}</td>
            <td width="15%" class="text-center">
              <img width="15" height="15" src="{% static 'images/sign-check.png' %}">
            </td>
          </tr>
           {% endfor %}
          <tr>
            <td class="total text-right" colspan="4"><strong>TOTAL APPROVED ESTIMATE</strong></td>
            <td class="total text-center"><strong>{{service.appointmentService.0.service.price_unit}}{{ service.total }}</strong></td>
            <td class="total" colspan="1"></td>
          </tr>
          {% else %}
          <p>You have no original customer requests</p>
          {% endif %}
        </tbody>
      </table>
    
    {% else %}
      <p>No Original Requests</p>
    {% endif %}
  </div>
                      
                        <!-------------->
  <h3>Inspection Results:</h3>
  <div>
    {% if summary %}
      <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="25%">Inspection Item</th>
                    <th width="30%">Findings</th>
                    <th width="30%">Correction</th>
                    <th width="15%">Cost</th>
                </tr>
            </thead>
            <tbody>
                {% if num_fail != 0 %}
                <tr>
                    <td width="25%"></td>
                    <td colspan="3" class="bg_red"><strong>FAIL</strong></td>
                </tr>
                {% for s in summary %}
                {% if s.status == "fail" %}
                <tr>
                    <td width="25%">{{ s.inspection.item.item}}
                    </td>
                    <td width="30%">{{ s.observation }}
                        {% if s.image %}
                              <br /><br />
                              <img class="inspection-image" width="150" height="150" src="{{s.image.url}}">
                        {% endif %}
                      
                    </td>
                    <td width="30%">{{ s.recommendations }}</td>
                    <td class="text-center" width="15%">
                      {% if s.partscost|add:s.laborcost != 0.0 %}
                        ${{ s.partscost|addf:s.laborcost }}
                      {% endif %}
                    </td>

                  
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if num_warn != 0 %}
                <tr>
                    <td></td>
                    <td colspan="3" class="bg_ylw"><strong>WARN</strong></td>
                </tr>
                {% for s in summary %}
                {% if s.status == "warning" %}
                <tr>
                    <td width="25%">{{ s.inspection.item.item}}
                    </td>
                    <td width="30%">{{ s.observation }}
                {% if s.image %}
                      <br /><br />
                      <img class="inspection-image" width="150" height="150" src="{{s.image.url}}">
                {% endif %}
                    </td>
                    <td width="30%">{{ s.recommendations }}</td>
                    <td class="text-center" width="15%">
                      {% if s.partscost|add:s.laborcost != 0.0 %}
                        ${{ s.partscost|addf:s.laborcost }}
                      {% endif %}
                    </td>

                </tr>

                {% endif %}
                {% endfor %}
                {% endif %}
               
                {% if num_pass != 0 %}
                <tr>
                    <td></td>
                    <td colspan="3" class="bg_grn"><strong>PASS</strong></td>
                   
                </tr>
                  {% for s in summary %}
                    {% if s.status == "pass" %}
                      {% if s.observation or s.recommendations or s.partscost|add:s.laborcost != 0.0 or s.image %}
                      <tr>
                          <td  style="vertical-align:top;" width="25%">{{ s.inspection.item.item}}</td>
                          <td  style="vertical-align:top;" width="30%">{{ s.observation }}
                            {% if s.image %}
                            <br /><br />
                            <img class="inspection-image" width="150" height="150" src="{{s.image.url}}">
                            {% endif %}
                          </td>
                          <td  style="vertical-align:top;" width="30%">{{ s.recommendations }}</td>
                          <td  class="text-center" style="vertical-align:top;" width="15%">
                            {% if s.partscost|add:s.laborcost != 0.0 %}
                              ${{ s.partscost|addf:s.laborcost }}
                            {% endif %}
                          </td>
                      </tr>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <tr>
                  <td colspan="3" class="text-right total"><b>INSPECTION TOTAL</b></td>
                  <td class="text-center total"><b>${{inspection_total}}</b></td>
                </tr>
            </tbody>
        </table>
      </div>
    {% else %}
    <p>You have no inspection results</p>
    {% endif %}
  </div>
  
  <h3>Recommended Services:</h3>
  {% if  recommendations %}
      {% include "customer/statusalert/vehicles/approval_pdf.html" %}
  {% else %}
    <p>You have no recommended services</p>
  {% endif %}

  {% comment %}
  <div>
    <p>For more information on these services please visit WikiPedia and Google</p>
    <div class="RecomendedServicesLogo">
        <a href="http://www.wikipedia.org" target="_blank"><img class="RecSerGoogle" width="48" src="{% static "images/wikipedia.png" %}"></a>
        <a href="http://www.google.com" target="_blank"> <img class="RecSerWiki" width="48" src="{% static "images/google.png "%}"></a>
    </div>
  </div>
  {% endcomment %}

</body>
</html>
