<!DOCTYPE html>
<html lang="en">
<head>
{% load flagging_tags %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>{% dealer_title_tag dealer_code  %}</title>
{% load staticfiles %}


<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "customer/css/custom.css" %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "flagging/custom.css" %}" rel="stylesheet">

<link rel="stylesheet" href="{% static "css/font-awesome.css" %}" />
<link rel="stylesheet" href="{% static "css/editor.css" %}" />
<link rel="stylesheet" href="{% static "css/jquery.sidr.dark.css" %}">
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
</head>
<body>
<header>
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                <h1 class="mt-5">
                	{%dealer_detail_tag dealer_code%} Flagging
                    <!-- <a href="{% url 'flagging:index' %}" class="logo"><img src="{% static "images/logo.png" %}" width="60" /></a>
                
                    <h1>San Francisco Flag System</h1> -->
                    </h1>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="row">
                        <div class="col-xs-9 text_14 mt-20">
                            <span class="mr-6">Hi ({{ user.username }})<br/> Role: {{ user.groups.all.0 }}</span>
                        </div>
                        <div class="col-xs-3 text_14 mt-20">
                            <a href="{% url 'flagging:logout'%}"><i class="fa fa-chevron-circle-down text_blck"></i> Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="clear"></div>
<div class="breadcrumb-top">
    <ol class="breadcrumb">
          <li><a href="{% url 'flagging:index' %}">Home</a></li>
          <li id="selectedTab" class="active">Repair Order List</li>
    </ol>
    <!-- <a href="#" class="btn btn-default btn-sm pull-right mr-10 mt-5">Help</a> -->
</div>
<div class="clear"></div>
<!-- <div class="top-links">
    <ul>
        <li><a href="#">File</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">View</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Switch Users</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</div> -->
<div class="clear"></div>
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav applicationMenu" >
            <li ><a  id = "roList" href="#" data="Repair Order List">Ro List</a></li>
            <li><a id="shopFlags" style="" href="#">Shop Flags</a>
                <ul class="submenu">
                    <li><a href="#" class="text_grey" id="flag1">Shop</a>
                        <ul>

                            <!-- <li><a href="#" class="text_grey">Clear All</a></li> -->
                            {% for f in flag1%}
                            <li><a class="flags" href="#" id="f1_{{ f.id }}">{{f.name}}</a></li>
                            {% endfor %}
							
                        </ul>
                    </li>
                    <li><a href="#" id="flag2">Parts</a>
                        <ul>
                           <!--  <li><a href="#" class="text_grey">Clear All</a></li> -->
                            {% for f in flag2%}
                            <li><a class="flags" href="#" id="f2_{{ f.id }}">{{f.name}}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li><a href="#" id="flag3">Customer</a>
                        <ul>
                           <!--  <li><a href="#" class="text_grey">Clear All</a></li> -->
                            {% for f in flag3%}
                            <li><a class="flags {% if f.customer_facing %}customerFacing{% endif %}" data-modal-name="{{ f|getModalName }}" href="#" id="f3_{{ f.id }}">{{f.name}}</a></li>
                            {% endfor %}


                        </ul>
                  <!--   </li>
                                        <li><a href="#" id="flag4">flag4</a>
                        
                    </li> -->
                </ul>
            </li>
            <li><a id="shopNotes" href="#">Shop Notes</a></li>
            <li><a id="techView" href="#">Recommendations</a></li>
            <li><a id="inspection" href="#">Inspection</a></li>
            <li><a id="actionPlan" href="#">Action Plan</a></li>
            <li><a id="media" href="#">Media</a></li>
            <li><a id="reports" href="#">Reports</a></li>
            <li><a id="editRO" href="#">Edit RO</a></li>
            
        </ul>
    </div>
</nav>


<div id="ajaxDiv" class="flagTopFilterBlk mt-15">
{% block main %}
{% endblock %}
</div>
<div id="loading_page">
 <img id="loading-image-page" src="{% static "customer/images/ajax-loader.gif" %}" alt="Loading..." />
</div>

<div class="modal fade" id="flaggingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Record</h4>
      		</div>
      		<div class="modal-body text-center" id="flaggingModalBody">
        
      		</div>
            <div class="modal-footer">
                <h4 class="text-center" style="margin-bottom:20px"> Are you sure you wish to send a notification to the customer with the flag change {{flag.name}} ? </h4>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            	<button id="submitFlag" type="button" class="btn btn-danger">Submit</button>
      		</div>
    	</div>
  	</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "flagging/js/flagging_app.js" %}"></script>
<script src="{% static "flagging/js/flag_modals.js" %}"></script>
<script src="{% static "js/detectmobile.js" %}"></script>
<script src="{% static "flagging/js/camera_snap_shot.js" %}"></script>
<script src="{% static "customer/js/utility.js" %}"></script>
<script src="{% static "flagging/js/inspection.js" %}"></script>
<script src="{% static "flagging/js/techview.js" %}"></script>
<script src="{% static "js/editor.js" %}"></script>
<script src="https://web.archive.org/web/20140814064901/http://www.nihilogic.dk/labs/exif/exif.js"></script>
<script src="https://web.archive.org/web/20140814064903/http://www.nihilogic.dk/labs/binaryajax/binaryajax.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{% static "js/notifications.js" %}"></script>



<style>
.hidden {
    visibility: hidden;
}
.popover {
    color: black;
}
.submenu{
overflow:visible !important:

}
</style>

<script>
window.get_flag_notes_url = "{% url 'flagging:get_flag_notes' %}";
window.update_flags_url =  "{% url 'flagging:update_flags' %}";
window.add_recommendations_url  = "{% url 'flagging:add_recommendations' %}"
var url_get_notifications = "{% url 'dealership:get_notifications'%}";
var url_reset_notifications = "{% url 'dealership:reset_notifications'%}";
window.flagger_home  = "{% url 'flagging:index' %}"
window.refresh_timer = null;

$(document).ajaxStart(function(){
    /* alert("loading"); */
    $("#loading_page").show();
});
$(document).ajaxComplete(function(){
    $("#loading_page").hide();
});

$(document).ready(function() {
    reset_live_notifications(url_reset_notifications);

	$(function(){
		// Basic timeout fuction to refresh the page.
     var time = new Date().getTime();
     {% if refresh_rolist %}
		  var refresh_ok = true;
	 {% else %}
          var refresh_ok = false;
	 {% endif %}
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
        console.log("Activity Check");
        if (refresh_ok &&
            $('#roList').parent().hasClass("active") &&
            (new Date().getTime() - time >= 30000)) {
             time = new Date().getTime()
             console.log("Refresh");
             searchRos();
             }
        window.refresh_timer = setTimeout(refresh, 10000);
     }
     if (refresh_ok == true) {
        // Start refresh timer.
		window.refresh_timer = setTimeout(refresh, 10000);
		}
	});

});



function addVariables(){



    window.selectedRoNumber = (function(){
        var roNumber = "";
        return function (ro){
            if(ro){

            roNumber = ro;
            }
        return roNumber;}
    })();
};

function successFunction(response){
    window.selectedRow = (function () {
        var selectedRow ;
        return function (row) {
            if (row){
                selectedRow = row;
                }
            return selectedRow;}
    })();
        $("#ajaxDiv").html(response);
}
    $(document).ready(function() {
        /* $('#simple-menu').sidr(); */
        bindEventsForBase();
         $("#roList").trigger("click");


    });

    function bindEventsForBase(){
        $(document).on("click",function(event){
            if($("#shopFlags").parent().find($(event.target)).length < 1){
                $(".submenu").attr("style","margin:0; padding:0; list-style:none; position:absolute; width:150px; display:none;");
                $(".submenu > li > ul").attr("style","display:none; position:absolute; left:149px; top:-1px; width:300px; margin:0; padding:0; list-style:none;");

            }
  
        });

         $("#shopFlags").on("click",function(){
            if(!$(".submenu").is(":visible")){
                $(".submenu").attr("style","display:block;z-index:999;");
            }
            else{
                $(".submenu").attr("style","margin:0; padding:0; list-style:none; position:absolute; width:150px; display:none;");
                $(".submenu > li > ul").attr("style","display:none; position:absolute; left:149px; top:-1px; width:300px; margin:0; padding:0; list-style:none;");

            }
        });
        $(".submenu > li").on("click",function(){

            $(".submenu > li > ul").attr("style","display:none; position:absolute; left:149px; top:-1px; width:300px; margin:0; padding:0; list-style:none;");
            $(this).find("ul").attr("style","display:block; z-index:999;");
            $(this).find("ul").find("li").find("a").attr("style","text-align:left; text-transform:none;");
        });




        $(".flags").on("click",function(event){
             event.preventDefault();
                $(".submenu").attr("style","margin:0; padding:0; list-style:none; position:absolute; width:150px; display:none;");
                $(".submenu > li > ul").attr("style","display:none; position:absolute; left:149px; top:-1px; width:300px; margin:0; padding:0; list-style:none;");
            /* $(".submenu").hide(); */
            var roID = null;
            if(selectedRow()){
                roID = selectedRow();
            } else {
                roID = $("#ro_id").val();
            }
            if (roID) {
                var flagType = $(this).attr("id").split("_")[0];
                var flagID = $(this).attr("id").split("_")[1];
                var data = {"roId": roID, "flagId" : flagID, "flagType" :flagType};
                if($(this).hasClass("customerFacing")){
                    var modalName = $(this).attr("data-modal-name");
                    if (modalName == "flaggingModal"){
                        var obj = new CustomerFacingFlagsModal($(this),roID);
                        obj.init();
                    }
                    else{
                        var obj = new CustomerFacingFlagsModal($(this),roID);
                        obj.init();
                    }
                    
                }else{
                    var url = "{% url 'flagging:update_flags' %}";
                    ajaxRequest(url,"GET",updateFlagResponse,data);
                }
            }
            else{
                alert("Select Row");
            }

    });
     $("#flag4").click(function(){
    	 $(".submenu").attr("style","margin:0; padding:0; list-style:none; position:absolute; width:150px; display:none;");
         $(".submenu > li > ul").attr("style","display:none; position:absolute; left:149px; top:-1px; width:300px; margin:0; padding:0; list-style:none;");
		if(selectedRow()){
			var ro_id = selectedRow();
			var url = "{% url 'flagging:mark_ro_complete' %}";
			var data = {"ro_id" : ro_id};
			ajaxRequest(url,"GET",successFunction,data);
		}else{
			alert("Select Row");
		}
     });
    $("#roList, #editRO, #shopNotes, #inspection,#techView, #actionPlan, #media, #reports").on("click",function(event){
        event.preventDefault();

        var id = $(this).attr("id");
        $("#navbar-collapse > ul > li").removeClass("active");
        $(this).parent().addClass("active");

        switch(id){
        case "roList":
            addVariables();
            $("#selectedTab").text($("#roList").text());
            if (jQuery.isFunction(window.selectedRoNumber)) {
                // Returning to the flagger screen from another flagger window
                // Ideally the filter/sort and order options are restored to when the user clicked away
                var url = "{% url 'flagging:ro_list' %}";
                ajaxRequest(url,"GET",successFunction);
            }
            else {
                var url = "{% url 'flagging:ro_list' %}";
                ajaxRequest(url,"GET",successFunction);
            }
            break;
        case "editRO":
            var roNumber = selectedRoNumber();
            clickEditRO(roNumber);
            break;
        case "shopNotes":
            var roNumber = selectedRoNumber();
            clickShopNotes(roNumber);
            break;
        case "inspection":
            var roNumber = selectedRoNumber();
            clickInspection(roNumber);
            break;
        case "actionPlan":
            var roNumber = selectedRoNumber();
            clickActionPlan(roNumber);
            break;
        case "media":
            var roNumber = selectedRoNumber();
            clickMediaView(roNumber);
            break;
        case "techView":
            var roNumber = selectedRoNumber();
            clickTechView(roNumber);
            break;
        case "reports":
            clickReportsView();
            break;
        }
    });

    }
    function clickTechView(roNumber){
        $("#selectedTab").text($("#techView").text());
        $("#navbar-collapse > ul > li").removeClass("active");
        $("#techView").parent().addClass("active");
        var url = "{% url 'flagging:tech_view'%}";
        var data = {};
        if(roNumber){
            data = {"roNumber" : roNumber}
        }
        ajaxRequest(url,"GET",successFunction,data);
    }
     function clickInspection(roNumber,pakage){
        $("#selectedTab").text($("#inspection").text());
        $("#navbar-collapse > ul > li").removeClass("active");
        $("#inspection").parent().addClass("active");
        /* var url = "{% url 'flagging:inspection'%}"; */
        var url = "{% url 'flagging:inspection'%}" ;
        var data ={};
        if(roNumber){
            data = {"ro_number" : roNumber}
        }
        if (pakage){
        	data["package"] = pakage;
        }
        ajaxRequest(url,"GET",successFunction,data);
    }
    function clickShopNotes(roNumber){
        if(selectedRow()){
            roID = selectedRow();
        } else {
            roID = $("#ro_id").val();
        }
        if (roID) {
            $("#selectedTab").text($("#shopNotes").text());
            var id = $("#shopNotes").attr("id");
            $("#navbar-collapse > ul > li").removeClass("active");
            $("#shopNotes").parent().addClass("active");
            var url = "{% url 'flagging:shop_notes'%}";
            var data ={};
            if(roNumber){
    
                data = {"ro_number" : roNumber};
    
            }
            ajaxRequest(url,"GET",successFunction,data);
        }else{
          alert("Select Row");
        }

    }
    function clickEditRO(roNumber){
        if(selectedRow()){
            roID = selectedRow();
        } else {
            roID = $("#ro_id").val();
        }
        if (roID) {
            $("#selectedTab").text($("#editRO").text());
            var id = $("#editRO").attr("id");
            $("#navbar-collapse > ul > li").removeClass("active");
            $("#editRO").parent().addClass("active");
            var url = "{% url 'flagging:editro'%}";
            var data ={};
            if(roNumber){
    
                data = {"ro_number" : roNumber};
    
            }
            ajaxRequest(url,"GET",successFunction,data);
        }else{
          alert("Select Row");
        }
    }
    function clickMediaView(roNumber){
        $("#selectedTab").text($("#media").text());
        var id = $("#media").attr("id");
        $("#navbar-collapse > ul > li").removeClass("active");
        $("#media").parent().addClass("active");
        var url = "{% url 'flagging:media'%}";
        var data = {};
        if(roNumber){
            data = {"roNumber" : roNumber}
        }
        ajaxRequest(url,"GET",successFunction,data);


    }
    function clickActionPlan(roNumber){
        $("#selectedTab").text($("#actionPlan").text());
        $("#navbar-collapse > ul > li").removeClass("active");
        $("#actionPlan").parent().addClass("active");
        var url = "{% url 'flagging:action_plan'%}";
        var data = {}
        if (roNumber){
            data["roNumber"] = roNumber;
        }
        ajaxRequest(url,"GET",successFunction,data);
    }
    function clickReportsView(){
        $("#selectedTab").text($("#reports").text());
        $("#navbar-collapse > ul > li").removeClass("active");
        $("#reports").parent().addClass("active");
        var url = "{% url 'flagging:reports'%}";
        var data = {}

        ajaxRequest(url,"GET",successFunction,data);
    }
     function ajaxRequest(url,type,success,data,error){

        var ajaxData = new Array();
        if(url)
             ajaxData["url"] = url;
        if(data)
            ajaxData["data"] = data;
        if(type)
            ajaxData["type"] = type;
        if(success)
            ajaxData["success"] = success;
        if(error)
            ajaxData["error"] = error;

        if(type == "POST"){
                ajaxData["beforeSend"] = function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", new Utility().getCookie("csrftoken"));
                    }
                }
            }
        $.ajax(ajaxData);
    }
    
    function print(table){
        var divToPrint = "";
        if(table != undefined ){

           divToPrint = table;
          }
          var data = '<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">';

           /* data += '<link href="{% static "css/style.css" %}" rel="stylesheet">';  */

          data +='<link rel="stylesheet" href="{% static "css/font-awesome.css" %}" />';
          data +='<link rel="stylesheet" href="{% static "css/editor.css" %}" />';
          data +='<link rel="stylesheet" href="{% static "css/jquery.sidr.dark.css" %}">';
          data +='<link rel="shortcut icon" href="{% static "images/favicon.png" %}" />';
          data +='<link href="{% static "flagging/custom.css" %}" rel="stylesheet">';
          data += "<style> .bg_red {background-color: #F00 !important;color: #FFF;}</style>";
          newWin= window.open("");

           newWin.document.write(data+divToPrint.html());
             newWin.print();
              newWin.close();

    }
    
</script>

</body>
</html>
