{% load flagging_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
<div class="clearfix bg_wht FlaggingFilterForm">
	<div class="form-inline pad-10">
    	<div class="form-group">
        	<input type="search" class="form-control" id="searchRoEdit" placeholder="Search RO #" value="{{ro_number}}">
  		</div>
         <div class="form-group">
        	<button id="search"class="btn btn-link"><i class="fa fa-search fa-lg text-black"></i></button>
          <input type="hidden" id="ro_id" name="roID" value="{{ ro.id }}">
          <input type="hidden" id="roNumber" name="roNumber" value="{{ ro.ro_number }}">
	         
  		</div>
  	  {% include "flagging_app/partial/ro_details.html"%}
  		</div>
	
</div></div></div>
<div class="clear pad-15"></div>

<div class="container-fluid" id="shop_notes_div">


  <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
	      
            <div class="bg_wht pad-10">
              <h5 class="text_blck mt-0">Update RO Details</h5>
                <div id="roform" class="well">
                 
                    
                    <div class="clear pad-5"></div>
                    <div class="form-group">
                    <label>DMS Tracking Number:</label>
                    <input class="form-control" placeholder="EnterRO No." name="roedit_number" value="{{roedit_number}}">
                    </div>
                  
                    <div class="form-group">
                    <label>RFID Tag No:</label>
                    <input class="form-control" placeholder="Enter RFID Tag No." name="roedit_rfid" value="{{roedit_rfid}}">
                    </div>
                  
                    <div class="clear pad-10"></div>
				            <div class="form-group">
                    <button id="submitRO" class="btn btn-default">Save</button>
				            </div>
	                
	                  {% if message %}
		                  <p class="form-control-static"><strong>{{ message }}</strong></p>
		                {% endif %}
                
							</div>
            </div>
        </div>
    </div>
 
  </div>
</div>

<script>
$(document).ready(function(){
	var editRO = new EditRO();
});

function EditRO(){

		$("#search").off("click").on("click",function(){
			getEditRO();
		});
		
		$("#submitRO").click(function(){
		
			   var roId = $("#ro_id").val();
			   var url = "{% url 'flagging:editro' %}?ro_number=" + $("#roNumber").val();
				 var data  = {};
				 $("#roform").find("input,textarea").each(function(){
					      console.log("textinput");
								if($(this).attr("name") != undefined){
									if ($(this).attr("name").indexOf("result_radio") == -1) {
										data[$(this).attr("name")]= $(this).val();
									}
								}
				 });
			   
			   ajaxRequest(url,"POST",function(response){
				   $("#ajaxDiv").html(" ");
			        $("#ajaxDiv").html(response);
			   },data);
			   
		});
}

function getEditRO(type){
	  type = type || "ro_number";
		if(type !=undefined ){
				var  url = "{% url 'flagging:editro'%}";
				var data = new Array();
				if(type == "ro_number"){
					  var roNumber = $("#searchRoShopNotes").val();
					  data = {"ro_number" : roNumber, "ajaxRequest" : "true"};
				}
				else if (type == "roId") {
					ata = {"roId" : selectedRow()};
				}
				ajaxRequest(url,"GET",successFunction,data);
		}
}

</script>

{% comment %}
	$("#submitRecommendations").on("click",function(){

		var emptyInputs = $('#new_inspection_items  input,textarea').filter(function() { return this.value.trim() == ""; })
		var data  = {};
		 $("#roform").find("input,textarea").each(function(){
		      console.log("textinput");
					if($(this).attr("name") != undefined){
					if ($(this).attr("name").indexOf("result_radio") == -1)
					{
						data[$(this).attr("name")]= $(this).val();
					}
			}
		});
		
		
    data["roNumber"] = {{roNumber|default:"none"}};
    //data["flagId"] = flagId;
		//data["flagType"] = flagType;
		setTimeout(function(){
			ajaxRequest(window.add_recommendations_url,"GET",returntoropage,data);
		},300);
	});
{% endcomment %}
