{% load flagging_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
<div class="clearfix bg_wht FlaggingFilterForm">
	<div class="form-inline pad-10">
    	<div class="form-group">
        	<input type="search" class="form-control" id="search" placeholder="Search RO #" value="{{ro_number}}">
  		</div>
        <div class="form-group">
        	<button type="submit" id="searchB" class="btn btn-link"><i class="fa fa-search fa-lg text_grey"></i></button>
          <input type="hidden" id="ro_id" value="{{ roID }}">
  		</div>
  		<div class="form-group">
			    
        	<select class="form-control"  id="packages">
        	{% for package in packages.packages %}
        	<option {% if package.failed_count > 0 %}style="background:#D13531;color:#FFF;"
		              {% else %}style="background:#FFF;color:#000;"
		              {% endif %}
					        value="{{package.package}}" {% ifequal selected_package package.package.package %} selected {% endifequal %}>{{package.package}}</option>
        	{% endfor %}
        	</select>
					{% if packages.num_failed_packages > 0 %}<span style="background:#D13531;color:#FFF;" class="pad-5"> {{packages.num_failed_packages}} Failed</span>{% endif %}
  		</div>
	{% include "flagging_app/partial/ro_details.html"%}
	</div>
</div></div></div></div>

<div class="clear pad-15"></div>

<div class="container-fluid" id="printable">
    <div class="row">
    	<div class="col-sm-4"><h4 class="mt-0">VISUAL INSPECTION BY {{ name }} </h4></div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
            	<button id="passAll" type="button" class="btn btn-primary"><i class="fa fa-calculator"></i> Save</button> &nbsp;
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <button id="submitAll" type="button" class="btn btn-success"><i class="fa fa-check-square"></i> Send To Advisor</button> &nbsp;
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
            	<button id="export" type="button" name="notifyadvisor" class="btn btn-default" {% if summary|length < 1 %} disabled {% endif %}>Export PDF</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
              <button id="clearAll" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Clear All</button> &nbsp;
            </div>
          </div>
        </div>
    </div>
    <div class="clear pad-10"></div>
	<div class="row">
    	<div class="col-lg-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            
            {% for category_item_key, category_item_value in category_items.items %}
  				<div class="panel panel-default">
                	<div class="panel-heading gry-heading clearfix" role="tab" id="heading{{ forloop.counter }}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse1" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">{{category_item_key.category}}
                        </h4>
	                </div>
        
    				<div id="collapse{{ forloop.counter }}" class="" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
      					<div class="panel-body">
                        	<!-- <div class="text-right"><a href="#" id="Lights" class="btn btn-grey addRecord"><i class="fa fa-calculator"></i> Add Record</a></div> -->
                            <div class="clear pad-5"></div>
                         {% for key,value in category_item_value.items %}
                            <div  class="categories_div {{value.status|getDivColors}}" role="alert">
                            
                            	<div class="row">
                                	<div class="col-sm-6"><h4 class="mt-0 font_regular">
		                                <a type="button" data-toggle="collapse" href="#collapse-details-{{ key.id }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-details-{{ key.id }}-{{ forloop.counter }}">{{ key.item }}</a></h4>
	                                </div>
                                    <div class="col-sm-6 text-right">
	                                    
                                    	<!-- <div class="btn-group">
                                        	<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span></button>
                                            <button type="button" class="btn btn-success">PASS</button>
                                            <button type="button" class="btn btn-warning">WARN</button>
                                            <button type="button" class="btn btn-danger disabled">FAIL</button>
										</div> -->

															 <div class="btn-group-sm" data-toggle="buttons">
										                <label class="btn btn-sm btn-success ">
										                    <input type="radio"  class="button-pass" name="status_radio_{{key.id}}" value="pass" {% if value.status == "pass" %} checked {% endif %}  />Pass
										                </label>
										                <label class="btn btn-sm btn-danger">
										                    <input type="radio"  class="button-fail" name="status_radio_{{key.id}}" value="fail" {% if value.status == "fail" %} checked {% endif %} />FAIL
										                </label>
										                <label class="btn btn-sm btn-warning">
										                    <input type="radio"  class="button-warn" name="status_radio_{{key.id}}" value="warning"  {% if value.status == "warning" %} checked {% endif %}/>WARN
										                </label>
															</div> {# Button Group #}
														</div>
	                            
	                            <div id="collapse-details-{{ key.id }}-{{ forloop.counter }}" class="collapse">
                                <div class="clear pad-10"></div>
	                              <form>
		                                <div class="col-sm-12">
				                            <button type="button" class="btn btn-sm btn-default camera" data=""><span class="glyphicon glyphicon-camera"></span></button>
		                                </div>
		                                <div class="col-sm-12">
			                                
		                                  <div class="col-sm-6">
																				
			                                  <input type="hidden" class="status" name="status_{{category_item_key.id}}_{{key.id}}" value="{{value.status}}">
				                                <div class="form-group"><label>Complaint:</label><textarea type="text" style="" class="form-control" placeholder="Add Complaint" name="observation_{{category_item_key.id}}_{{key.id}}">{{value.observation|default_if_none:""}}</textarea></div>
				                                <div class="form-group">
																				<label>Cause:</label>
					                                <textarea type="text" style="" class="form-control" placeholder="Add Cause" name="recommendations_{{category_item_key.id}}_{{key.id}}">{{value.recommendation|default_if_none:""}}</textarea></div>
			                                    <div class="form-group"><label>Correction:</label><textarea type="text" style="" class="form-control" placeholder="Add Correction" name="specs_{{category_item_key.id}}_{{key.id}}">{{value.specs|default_if_none:""}}</textarea></div>
	                                    </div>
			                                
	                                    <div class="col-sm-6">
					                                <div class="form-group">
																				<label>Labor Notes:</label>
						                                <textarea type="text" style="" class="form-control" placeholder="Add Labor Notes" name="labornotes_{{category_item_key.id}}_{{key.id}}">{{value.labornotes|default_if_none:""}}</textarea></div>
		                                    
					                                <div class="form-group">
																					<label>Labor Hours:</label>
																					<input style="" type="number" min="0" step="1.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="Add Labor Hours" name="laborhours_{{category_item_key.id}}_{{key.id}}" value="{{value.laborhours}}">
					                                </div>
		                                    
		                                    <div class="form-group">
																					<label>Labor Cost:</label>
																					<div class="input-group">
																					<span class="input-group-addon">$</span>
																					<input style="width:50%" type="number" min="0" step="1.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="Default: {{default_rate}}" name="laborcost_{{category_item_key.id}}_{{key.id}}" value="{{value.laborcost}}">
																				</div>
		                                    </div>
		                                    
					                                <div class="form-group"><label>Parts:</label><textarea type="text" style="width:80%; line-height:normal;" class="form-control" placeholder="Add Parts" name="parts_{{category_item_key.id}}_{{key.id}}">{% if value.parts != "None" %}{{value.parts}}{% endif %}</textarea></div>
		                                    
		                                    <div class="form-group">
																			<label>Parts Cost</label>
																			<div class="input-group">
																			<span class="input-group-addon">$</span>
																			<input style="width:50%" type="number" min="0" step="1.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="Add Parts Cost" name="partscost_{{category_item_key.id}}_{{key.id}}" value="{{value.partscost}}">
																			</div>
		                                    </div>
	                                    </div>
	                                    <div class="col-xs-12">
																		{% if value.image %}
			                                <img height="100" src="{{value.image.url}}">
			                              {% endif %}
				                              <canvas data-image="false" name="image_{{category_item_key.id}}_{{key.id}}" class="hidden"  ></canvas>
					                            <input height="100" style="height:100; visibility:hidden;" type="file" accept="image/*" capture="camera" class="hidden pull-right safari_camera">
																		  <div class="container soutput hidden pull-right">
																		    <img class="sphoto" alt="The image capture will appear in this box.">
																		  </div>
		                                   
	                                    </div>
                                    </div>
                                </form>
						                  </div>
                              </div>
                            </div>
                            {% endfor %}
                            

      					</div>
    				</div>
    				
  				</div>
  			{% endfor %}
	      {% if summary|length > 0 %}
	      <div class="panel panel-default">
    				<div class="panel-heading gry-heading clearfix" role="tab" id="heading6">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" data-toggle="collapse"
					           data-parent="#accordion" href="#collapseresults" aria-expanded="false"
					           aria-controls="collapseresults">RESULT SUMMARY</a>
      					</h4>
    				</div>
    				<div id="collapseresults"
    				{% if summary|length > 0 %}
    				class="panel-collapse collapse in"
    				{% else %}
    				class="panel-collapse collapse"
    				{% endif %}
    				 role="tabpanel" aria-labelledby="heading6">
      					<div class="panel-body">
        					{% include "flagging_app/result_summary.html" %}
      					</div>
    				</div>
  				</div>
	            {% endif %}
			</div>
        </div>
    </div>

</div>

<div class="modal fade" id="camera_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Capture Image</h4>
      		</div>
      		<div class="modal-body text-center" id="camera_modal_body">
        
      		</div>
            <div class="modal-footer">
            	<button id="save" type="button" class="btn btn-danger">Save</button>
      		</div>
    	</div>
  	</div>
</div>
<script>

$( document ).ready(function() {
	$(".categories_div").each(function(){
		var inspectCat = new InspectionCategoriesDiv(this).bindEvents();
	});
	var inspect = new Inspection().bindEvents();
});
function Inspection(){

	this.bindEvents= function(){
		$("#searchB").off("click").on("click",function(){
			getInspectionView();
		});
		$("#packages").off("click").on("change",function(){
			 getInspectionView();
		});
		$("#clearAll").click(function(){
			$("input:text").val("");
			$(':input[type="number"]').val("");
			$("textarea").val("");
		});
		$("#passAll").click(function(){
			/* $(":radio[value=pass]").trigger("click"); */
			var data ={};
			$(".container-fluid form").each(function(){
				$(this).find("input, textarea").each(function(){
					if($(this).attr("name") != undefined){
					if ($(this).attr("name").indexOf("status") > -1)
					{
						data[$(this).attr("name")] = $(this).val() == "" ? "pass" : $(this).val();
					}
					else {
						data[$(this).attr("name")]= $(this).val();
					}
				}
				});
				var canvas = $(this).find("canvas")[0];
				if($(this).find("canvas").attr("data-image") =="true"){
					data[$(this).find("canvas").attr("name")]= canvas.toDataURL();
				}
			});
			data["ro_number"] = "{{ro_number}}";
			data["package"] = $("#packages").val();
			var url = "{% url 'flagging:inspection'%}";
			ajaxRequest(url,"POST",successFunction,data);
		});
		$("#export").off("click").on("click",function(){
			var url = "{% url 'flagging:inspection_pdf'%}?roNumber="+ $("#search").val() + "&package=" + $("#packages").val();
			window.open(url);
		});
		$("#search").keydown(function(e){
			  if(e.which == 10 || e.which == 13) {
				  getInspectionView();
	       }
		});

		$('input:radio[class="button-pass"]').change(function(){
			var inspection_div = $(this).closest(".categories_div");
			$(inspection_div).find('[id^="collapse-details"]').attr("class","collapse");
		});

		$('input:radio[class="button-warn"]').change(function(){
			var inspection_div = $(this).closest(".categories_div");
			$(inspection_div).find('[id^="collapse-details"]').removeClass("collapse");
		});
		$('input:radio[class="button-fail"]').change(function(){
			var inspection_div = $(this).closest(".categories_div");
			$(inspection_div).find('[id^="collapse-details"]').removeClass("collapse");
		});


		$("#submitAll").click(function(){
			var data ={};
			$(".container-fluid form").each(function(){
				$(this).find("input").each(function(){
					if($(this).attr("name") != undefined){
					if ($(this).attr("name").indexOf("status") > -1)
					{
						data[$(this).attr("name")] = $(this).val() == "" ? "pass" : $(this).val();
					}
					else {
						data[$(this).attr("name")]= $(this).val();
					}
				}
				});
				var canvas = $(this).find("canvas")[0];
				if($(this).find("canvas").attr("data-image") =="true"){
					data[$(this).find("canvas").attr("name")]= canvas.toDataURL();
				}
			});
			data["ro_number"] = "{{ro_number}}";
			data["package"] = $("#packages").val();
			data["sendtoadvisor"] = "sendtoadvisor";
			var url = "{% url 'flagging:inspection'%}";
			ajaxRequest(url,"POST",successFunction,data);
		});
	};
}
function getInspectionView(){
	clickInspection( $("#search").val(),$("#packages").val());
}

</script>
