
{% if not summary == None %}
<div class="table-responsive">
                            	<table class="table table-bordered">
                                	<thead>
                                    	<tr>
                                        	<th>Inspection Item</th>
                                            <th>Complaint</th>
                                            <th>Cause</th>
                                            <th>Correction</th>
                                            <th>Lbr Notes</th>
                                            <th>Lbr Hrs</th>
                                            <th>Lbr Cost</th>
                                            <th>Parts</th>
                                            <th>Parts Cost</th>
                                            <th>Img</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr>
                                        	 
                                            <td colspan="10" class="bg_red"><strong>FAIL</strong></td>
                                        </tr>
                                        {% for s in summary %}
                                        {% if s.status == "fail" %}
                                        <tr>
                                        	<td>{{ s.inspection.item.item}}</td>
                                            <td>{{ s.observation|default_if_none:"" }}</td>
                                            <td>{{ s.recommendations|default_if_none:"" }}</td>
                                            <td>{{ s.specs|default_if_none:"" }}</td>
                                            <td>{{ s.labornotes|default_if_none:"" }}</td>
                                            <td>{% if s.laborhours != 0.0 %}{{ s.laborhours|default_if_none:"" }}{% endif %}</td>
                                            <td>{% if s.laborcost != 0.0 %}{{ s.laborcost|default_if_none:"" }}{% endif %}</td>
                                            <td>{{ s.parts|default_if_none:"" }}</td>
                                            <td>{% if s.partscost != 0.0 %}{{ s.partscost|default_if_none:"" }}{% endif %}</td>
                                            <td>
                                              {% if s.image %}
                                              <a class="showthumb">
                                                <img height="20" src="{{s.image.url}}">
                                              </a>
                                              {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        
                                        <tr>
                                        
                                            <td colspan="10" class="bg_ylw"><strong>WARN</strong></td>
                                        </tr>
                                        {% for s in summary %}
                                        {% if s.status == "warning" %}
                                        <tr>
                                        	<td>{{ s.inspection.item.item}}</td>
                                            <td>{{ s.observation|default_if_none:"" }}</td>
                                            <td>{{ s.recommendations|default_if_none:"" }}</td>
                                            <td>{{ s.specs|default_if_none:"" }}</td>
                                            <td>{{ s.labornotes|default_if_none:"" }}</td>
                                            <td>{% if s.laborhours != 0.0 %}{{ s.laborhours|default_if_none:"" }}{% endif %}</td>
                                            <td>{% if s.laborcost != 0.0 %}{{ s.laborcost|default_if_none:"" }}{% endif %}</td>
                                            <td>{{ s.parts|default_if_none:"" }}</td>
                                            <td>{% if s.partscost != 0.0 %}{{ s.partscost|default_if_none:"" }}{% endif %}</td>
                                            <td>
                                              {% if s.image %}
                                              <a class="showthumb">
                                                <img height="20" src="{{s.image.url}}">
                                              </a>
                                              {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                       
                                        <tr>
                                        	
                                            <td colspan="10" class="bg_grn"><strong>PASS</strong></td>
                                           
                                        </tr>
                                        {% for s in summary %}
                                        {% if s.status == "pass" %}
                                        <tr>
                                        	<td>{{ s.inspection.item.item}}</td>
                                            <td>{{ s.observation|default_if_none:"" }}</td>
                                            <td>{{ s.recommendations|default_if_none:"" }}</td>
                                            <td>{{ s.specs|default_if_none:"" }}</td>
                                            <td>{{ s.labornotes|default_if_none:"" }}</td>
                                            <td>{% if s.laborhours != 0.0 %}{{ s.laborhours|default_if_none:"" }}{% endif %}</td>
                                            <td>{% if s.laborcost != 0.0 %}{{ s.laborcost|default_if_none:"" }}{% endif %}</td>
                                            <td>{{ s.parts|default_if_none:"" }}</td>
                                            <td>{% if s.partscost != 0.0 %}{{ s.partscost|default_if_none:"" }}{% endif %}</td>
                                            <td>
                                              {% if s.image %}
                                              <a class="showthumb">
                                                <img height="20" src="{{s.image.url}}">
                                              </a>
                                              {% endif %}
                                              
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                      
                                    </tbody>
                                    <tbody>
                                        <tr>
                                        	<td colspan="5" class="text-right"><strong>Totals</strong></td>
                                            <td>{% if laborhours__sum != 0.0 %}{{ laborhours__sum|default_if_none:"" }} Hrs{% endif %}</td>
                                            <td>{% if laborcost__sum != 0.0 %}${{ laborcost__sum|default_if_none:"" }}{% endif %}</td>
                                            <td></td>
                                            <td>{% if partscost__sum != 0.0 %}${{ partscost__sum|default_if_none:"" }}{% endif %}</td>
                                            <td><strong>{% if recommendation_total != 0.0 %}${{ recommendation_total }}{% endif %}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
{% endif %}
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-dismiss="modal">
      <div class="modal-content"  >
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             <img src="" class="imagepreview" style="width: 100%;" >
        </div>
   </div>
 </div>
</div>
<script>
  $(function() {
    $('.showthumb').on('click', function() {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        $('#imagemodal').modal('show');
    });
});
</script>
