
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-12 ">
			
			<div class="clearfix bg_wht FlaggingFilterForm">
			
				<div class="form-inline pad-10">
			      <div class="form-group">
			          <input type="search" class="form-control" id="searchTechView"
			          value="{{ roNumber  }}"
			           placeholder="Search RO #">
			      </div>
			         <div class="form-group">
			          <button type="submit" id="search" class="btn btn-link"><i class="fa fa-search fa-lg text_grey"></i></button>
			      </div>
            <input type="hidden" id="ro_id" value="{{ roID }}">
				  {%include 'flagging_app/partial/ro_details.html' %}
					</div>
				</div>
		</div>
	
	</div>
	
	<div class="clear pad-15"></div>

	<div id="printable">
	<div class="">
	<div class="row">
    	<div class="col-lg-12">
		    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  				<div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                  CUSTOMER APPROVED SERVICE REQUESTS & ESTIMATE
              </h4>
            </div>
    				<div id="collapseOne" class="panel-collapse " role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                
                <div class="clear pad-5"></div>
                <div class="table-responsive">
                {% include "flagging_app/partial/service_request.html" %}
                </div>
              </div>
    				</div>
  				</div>
	     
			    <div class="panel panel-default">
		        <div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">INSPECTION RECOMMENDATIONS</h4>
						</div>
						<div id="collapseTwo" class="panel-body" role="tabpanel" aria-labelledby="headingTwo">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 well">
								<button type="button"class="btn btn-sm btn-success addinspectionitem" data-id="content"><span class="glyphicon glyphicon-plus"></span> Add Inspection Item</button>
								<input id="submitRecommendations" style="width: 100%;margin-top: 1rem;" class=" btn btn-info pull-right" type="button" value="Save">
							</div>
							<div class="col-xs-12">
								<div class="panel-group">
									<div id="new_inspection_items" class="inspectionelements">
									</div>
								</div>
							</div>
							<div class="table-responsive">
								{% include "flagging_app/partial/recommendation.html"%}
					    </div>
						</div>
			    </div>
		    </div>
			<!--  -->
	    </div>
		</div>
	</div>
	</div>
</div>

<div id="inspectionelementadd" class="insectionelement hidden" style="margin-top:5px; margin-bottom: 5px">
		<div class="clear pad-10"></div>
		<div  class="categories_div" role="alert">
	      <form>
		      
	        <div class="col-sm-12">
	          <div class="form-group">
			          <button style="margin: 0 0 1rem; width: auto;" class="btn btn-danger removeinspectionitem" value="Remove">Remove</button>
							  <div class="btn-group-sm status" data-toggle="buttons">
									<label class="btn btn-sm btn-danger">
										<input type="radio"  class="button-fail" name="result_radio" value="Fail" checked />FAIL
		              </label>
								  <label class="btn btn-sm btn-warning">
									  <input type="radio"  class="button-warn" name="result_radio" value="Warn"/>WARN
								  </label>
	              </div>
	          </div>
	        </div>
	      
	        <div class="col-sm-12">
	          <div class="form-group">
	            <label>Name:</label>
	              <input style="" type="text" min="0" class="form-control" placeholder="Add Inspection Item Name" name="title">
	          </div>
	        </div>
	        
	        <div class="col-sm-6">
	          <div class="form-group">
	            <label>Complaint:</label>
	            <textarea type="text" style="line-height:normal;" class="form-control" placeholder="Add Complaint" name="observation"></textarea>
	          </div>
	          <div class="form-group">
							<label>Cause:</label>
		          <textarea type="text" style="line-height:normal;" class="form-control" placeholder="Add Cause" name="recommendation"></textarea>
	          </div>
	          <div class="form-group">
		          <label>Correction:</label>
		          <textarea type="text" style="line-height:normal;" class="form-control" placeholder="Add Correction" name="specs"></textarea>
	          </div>
	        </div>
	        <div class="col-sm-6">
	          <div class="form-group">
							<label>Labor Notes:</label>
	            <textarea type="text" style="line-height:normal;" class="form-control" placeholder="Add Labor Notes" name="labornotes"></textarea></div>
	          <div class="form-group">
							<label>Labor Hours:</label>
								<input style="" type="number" min="0" step="1.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="Add Labor Hours" name="laborhours">
	          </div>
	          <div class="form-group">
							<label>Labor Cost:</label>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input style="" type="number" min="0" step="1.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="Default: {{default_rate}}" name="laborcost">
							</div>
	          </div>
	          <div class="form-group">
	            <label>Parts:</label>
	            <textarea type="text" style="line-height:normal;" class="form-control" placeholder="Add Parts" name="partsnotes"></textarea>
	          </div>
	          <div class="form-group">
							<label>Parts Cost</label>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input style="" type="number" min="0" step="1.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="Add Parts Cost" name="partscost">
							</div>
		        </div>
						<input type="hidden" class="result" name="result" value="Fail">
	        </div>
	    </form>
		</div>
</div>




<script>

function rebindtechviewradios() {
	$(".new_inspection_item").each(function(){
		new TechViewRecommendationsDiv(this).bindEvents();
	});
}

$(function(){
	var techView = new TechView();
	techView.bindEvents();
	rebindtechviewradios()
})



function TechView(){
	this.bindEvents = function (){
		
		
		/* $("#print").click(function(){
			print($("#techviewTab"));
		}); */
		$("#search").off("click").on("click",function(){
			getTechView();
		});
		$("#searchTechView").keydown(function(e){
			
			  if(e.which == 10 || e.which == 13) {
				 
				getTechView();
				  
			
			 
	       }
		});
	}
}
function getTechView(){
	var roNumber = $("#searchTechView").val();
	var data = {"roNumber":roNumber};
	var url = "{% url 'flagging:tech_view'%}";
	ajaxRequest(url,"GET",successFunction,data);
}


function returntoropage() {
			window.location = window.flagger_home;
}


$(function(){
	var count=0;
	
	$('.addinspectionitem').click(function(e) {
	    //var div = document.createElement('div');
	
	    //div.className = 'row';
	    var newelem = $(document).find('#inspectionelementadd').clone();
			$(newelem).find("input,textarea").each(function(){
				var input_name = $(this).attr("name");
				var new_name = count.toString() + "_" + input_name;
				$(this).attr("name", new_name);
			});
	    $(newelem).removeClass('hidden');
			$(newelem).removeAttr('id');
			$(newelem).attr('class', 'new_inspection_item alert-danger row');
			$(newelem).appendTo('#new_inspection_items').fadeIn();
	
	    //var elid = '#' + $(this).attr("data-id");
	    //$(this).parent().find(elid).append(newelem).fadeIn();
	    count = count + 1;
	    rebindtechviewradios();
	});
	
	$('.inspectionelements').click(function(e) {
			if ($(e.target).hasClass('removeinspectionitem')) {
				e.preventDefault();
	      $(e.target).closest(".new_inspection_item").remove();
	    }
	});
	
	$("#submitRecommendations").on("click",function(){

		var emptyInputs = $('#new_inspection_items  input,textarea').filter(function() { return this.value.trim() == ""; })
		var data  = {};
		 $("#new_inspection_items").find("input,textarea").each(function(){
		      console.log("textinput");
					if($(this).attr("name") != undefined){
					if ($(this).attr("name").indexOf("result_radio") == -1)
					{
						data[$(this).attr("name")]= $(this).val();
					}
					}
		});
		
		
    data["roNumber"] = {{roNumber|default:"none"}};
    //data["flagId"] = flagId;
		//data["flagType"] = flagType;
		setTimeout(function(){
			ajaxRequest(window.add_recommendations_url,"GET",returntoropage,data);
		},300);
	});
});




</script>
