<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Greenlight Services Scheduler</title>
{% load staticfiles %}
<!-- Bootstrap core CSS -->
<script src="{% static "customer/js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "customer/js/bootstrap.js" %}"></script>
<link href="{% static "customer/css/bootstrap.css" %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static "customer/css/style.css" %}" rel="stylesheet">
<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="{% static "customer/css/font-awesome.css" %}" />
<link rel="stylesheet" href="{% static "customer/css/jquery.sidr.dark.css" %}">
<link rel="stylesheet" href="{% static "customer/css/custom.css" %}">
<!-- <link rel="shortcut icon" href="{% static "customer/images/favicon.png" %} /> -->
{%dealer_ico dealer_code%}
</head>
<body class="bg">
{% block header %}
<header>
	<div class="page-header">
        <div class="container-fluid">
        	<div class="row">
            	<div class="col-lg-12">
                	<a href="" class="logo">
		                {% if dealership.customer_portal_header_image %}
		                <img src="{{dealership.customer_portal_header_image.url}}" width="60" />
		                {% else %}
		                <img src="{% static 'customer/images/portalbackground.jpg' %}" width="60" />
		                {% endif %}
		                </a>
                    <h1>Greenlight Services Scheduler</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% if messages %}
		<div class="error_messages">
		    {% for message in messages %}
				<div class="alert alert-{{message.level_tag}} fade in">
				    <a href="#" class="close" data-dismiss="alert">&times;</a>
				     {{ message }}
				</div>
		    {% endfor %}
		</div>
	{% endif %}
{% endblock %}
{% block main %}
{% endblock%}
{% block js %}

{% endblock%}
{% block extra %}
{% endblock%}
</body>
</html>
