{% extends "customer/layouts/loggedin_base.html" %}
{% load staticfiles i18n %}
{% block submain%}


      <div id="myTabContent" class="tab-content">
      	<div role="tabpanel" class="tab-pane fade  active in " id="account" aria-labelledby="account-tab">
          	<p class="text-right">
          		<a data-href="{% url 'customer:delete_account' %}" class="btn btn-info " data-toggle="modal" data-target="#confirm-delete">Delete Account</a></p>
          	{% include "customer/partials/account_information.html"%}
		        {% comment %}
          	{% include "customer/partials/driver_insurance.html"%}
          	{% include "customer/partials/cc_form.html"%}
		        {% endcomment %}
          	{% include "customer/partials/change_password.html"%}
          </div>
      </div>

 
{% endblock %}
{% block js %}
{{block.super}}
 
	<script src="{% static "customer/js/settings.js" %}"></script>
	<script src="{% static "customer/js/change_password.js" %}"></script>
	{% comment %}
	<script src="{% static "customer/js/facebook.js" %}"></script>
	<script type="text/javascript" src="//platform.linkedin.com/in.js">
	    api_key:   77y6h4rxfoozmj
	    onLoad:    onLinkedInLoad
	    authorize: false
	</script>
	<script src="{% static "customer/js/linkedin.js" %}"></script>
	{% endcomment %}
	<link rel="stylesheet" href="{% static "customer/css/settings_login.css" %}" />
	
	{% endblock%}
	{% block extra %}
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	               	Delete Account
	            </div>
	            <div class="modal-body">
	                Are you sure you want to delete this information.
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <a class="btn btn-danger btn-ok" href="#">Delete</a>
	            </div>
	        </div>
	    </div>
	</div>
{%endblock%}
