{% extends 'customer/layouts/base.html' %}
{% block main %}
<div class="clear pad-20"></div>
<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-offset-2 col-sm-8">
    		{% block title %}
    		{% endblock %}
            <div class="row">
            	{% block fields %}
    			{% endblock %}
                <div class="col-sm-3">
                	<div class="clear pad-30"></div>
                	<ul class="tick">
                    	<li id="char">Six Characters</li>
                        <li id="uper">Upper Case</li>
                        <li id="lower">Lower Case</li>
                        <li id="number">Number</li>
                        <li id="symbol">Symble</li>
                        <li id="match">Passwords Match</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear pad-5"></div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		
		
		$('#form_pass #new').focusout(function(){
			console.info($(this).val().length);
			
			if($(this).val().length > 5) { $(".tick #char").addClass("check"); }
			else { $(".tick #char").removeClass("check") }
			
			if($(this).val().match(/[A-Z]/)){$(".tick #uper").addClass("check"); }
			else {$(".tick #uper").removeClass("check")}
			
			if($(this).val().match(/[a-z]/)){$(".tick #lower").addClass("check"); }
			else {$(".tick #lower").removeClass("check")}
			
			if($(this).val().match(/[0-9]/)){$(".tick #number").addClass("check"); }
			else {$(".tick #number").removeClass("check")}
			
			if($(this).val().match(/[!@#$%^&*()+=\';,.\/{}|":<>?~_-]/)){$(".tick #symbol").addClass("check"); }
			else {$(".tick #symbol").removeClass("check")}
			
			if($(this).val() == $('#form_pass #confirm').val()){ $(".tick #match").addClass("check") ; }
			else { $(".tick #match").removeClass("check") }
		});
	 
		$('#form_pass #confirm').focusout(function(){
			if($(this).val() == $('#form_pass #new').val()){ $(".tick #match").addClass("check") ; }
			else { $(".tick #match").removeClass("check") }
		});
		
		$('#form_pass').submit(function(event){
			if($('.tick .check').size() < 6){
				event.preventDefault();
			}
		});
	});
</script>
{% endblock %}
