
		{% load flagging_tags %}
		
	 <td style="background-color: {{appointment.ro.ro_number|getColor}} !important;"></td>
	 <td class="ro_number hideclmn">{{ appointment.ro.ro_number }}</td>
	<td class="hideclmn">{{ appointment.ro.ro_date }}</td>
	<td class="hideclmn">{{ appointment.ro.rfid_tag }}</td>
	<td class="brdrrgt">{{ appointment.customer.first_name|default_if_none:"" }} {{ appointment.customer.last_name }}</td>
	<td class="ro_number dsplyRNo">{{ appointment.ro.ro_number }}</td>
	<td class="hideclmn">{{ appointment.vehicle.vehicle.year.name }}</td>
	<td class="hideclmn">{{ appointment.vehicle.vehicle.make.name }}</td>
	<td class="hideclmn">{{ appointment.vehicle.vehicle.model.name }}</td>
	<td class="hideclmn">{{ appointment.vehicle.customer_vehicle_desc }}</td>
	<td class="hideclmn"> {{ appointment.vehicle.mileage }} </td>
	<td class="hideclmn"> {{ appointment.advisor.userprofile.first_name}} {{ appointment.advisor.userprofile.last_name}} </td>
	<td class="hideclmn"> {{ appointment.ro.inspector.userprofile.first_name}} {{ appointment.ro.inspector.userprofile.last_name}}  </td>
	{% if not appointment.ro.flag1 == None %}
	<td class="flag1" style="color:{{appointment.ro.ro_number|getColor}};
													{% if appointment.ro.ro_number|getBackgoundColor %}
														background-color: {{appointment.ro.ro_number|getBackgoundColor}} !important;
												{% endif %}"		>
	<span data-toggle="popover" title=""
	data-content="LastUpdated: {{appointment.ro.flag1_updated_time}} UpdatedBy: {{appointment.ro.flag1_updated_by.first_name}}">{{ appointment.ro.flag1.name }}</span>
	</td>
	{% else %}
	<td class="text_{{appointment.ro.ro_number|getColor}}"></td>
	{% endif %}
	<td class="">{{ appointment.ro|getFlagTimeLapsed:'flag1'}}</td>

    <td class="dsplyRNo">{{ appointment.ro.ro_date }}</td>
	<td class="dsplyRNo">{{ appointment.vehicle.vehicle.year.name }}</td>
	<td class="dsplyRNo">{{ appointment.vehicle.vehicle.make.name }}</td>
	<td class="dsplyRNo">{{ appointment.vehicle.vehicle.model.name }}</td>
	<td class="dsplyRNo">{{ appointment.vehicle.customer_vehicle_desc }}</td>
	<td class="dsplyRNo"> {{ appointment.vehicle.mileage }} </td>
	<td class="dsplyRNo"> {{ appointment.advisor.userprofile.first_name}} {{ appointment.advisor.userprofile.last_name}} </td>
	<td class="dsplyRNo"> {{ appointment.ro.inspector.userprofile.first_name}} {{ appointment.ro.inspector.userprofile.last_name}}  </td>
	

	{% if not appointment.ro.flag2 == None %}
	<td class="flag2" style="color:{{appointment.ro.ro_number|getColor}};
													{% if appointment.ro.ro_number|getBackgoundColor %}
														background-color: {{appointment.ro.ro_number|getBackgoundColor}} !important;
												{% endif %}		">
	<span data-toggle="popover" title=""
	data-content="LastUpdated: {{appointment.ro.flag2_updated_time}} UpdatedBy: {{appointment.ro.flag2_updated_by.first_name}}">
	{{ appointment.ro.flag2.name }}</span>
	
	
	</td>
	{% else %}
	<td class="text_{{appointment.ro.ro_number|getColor}}"></td>
	{% endif %}
	<td class="">{{ appointment.ro|getFlagTimeLapsed:'flag2'}}</td>
	{% if not appointment.ro.flag3 == None %}
	<td class="flag3"  style="color:{{appointment.ro.ro_number|getColor}};
													{% if appointment.ro.ro_number|getBackgoundColor %}
														background-color: {{appointment.ro.ro_number|getBackgoundColor}} !important;
												{% endif %}">
		<span data-toggle="popover" title=""
		data-content="LastUpdated: {{appointment.ro.flag3_updated_time}} UpdatedBy: {{appointment.ro.flag3_updated_by.first_name}}">
		{{ appointment.ro.flag3.name }}
		</span>
		</td>
	{% else %}
	<td class="text_{{appointment.ro.ro_number|getColor}}"></td>
	{% endif %}
	<td class="">{{ appointment.ro|getFlagTimeLapsed:'flag3'}}</td>
	<td class="">{% if  appointment.ro|checkinnotes %}<i class="fa fa-check"></i> {% else %}<i>...</i>{% endif %}</td>
	<td class="">{{ appointment.ro|getInspectionStatus }}</td>
