.tick {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tick li.check {
    margin: 0 0 8px 0;
    padding: 0 0 0 25px;
    background: url(../images/ico_gud.png) left top no-repeat;
}
input.error {
    border: 1px solid red;
}
div.error {
    color: red;
}
.daily_view_table {
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}
#overview_time_weekly .slabs_loader {
    width: 100%;
    text-align: center;
}
.breadcrumb-top span {
    color: #E3E0E0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.555556297302246px;
    font-weight: 600;
    padding-left: 10px;
}
