@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
body {
    background-color: #f5f5f5;
    color: #363636;
    font-family: "Open Sans", Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body.bg {
    background: #f5f7fa;
}

body.LoginBg {
    background: #f2f2f2 no-repeat fixed top center / 100% auto;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.pad-0 {
    padding: 0px
}

.pad-5 {
    padding: 5px
}

.pad-10 {
    padding: 10px
}

.pad-15 {
    padding: 15px
}

.pad-20 {
    padding: 20px
}

.pad-30 {
    padding: 30px
}

.pad-50 {
    padding: 50px
}

.ph-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.ph-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.ph-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.ph-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.ph-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pl-0 {
    padding-left: 0px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-25 {
    padding-left: 25px;
}


/*margin selectors*/

.m-a {
    margin: auto
}

.m-0 {
    margin: 0
}

.mt-0 {
    margin-top: 0
}

.mb-0 {
    margin-bottom: 0
}

.ml-0 {
    margin-left: 0
}

.mr-0 {
    margin-right: 0
}

.mt-5 {
    margin-top: 5px
}

.mb-5 {
    margin-bottom: 5px
}

.ml-5 {
    margin-left: 5px
}

.mr-5 {
    margin-right: 5px
}

.mt-10 {
    margin-top: 10px
}

.mb-10 {
    margin-bottom: 10px
}

.ml-10 {
    margin-left: 10px
}

.mr-10 {
    margin-right: 10px
}

.mt-15 {
    margin-top: 15px
}

.mb-15 {
    margin-bottom: 15px
}

.ml-15 {
    margin-left: 15px
}

.mr-15 {
    margin-right: 15px
}

.mt-20 {
    margin-top: 20px
}

.mb-20 {
    margin-bottom: 20px
}

.ml-20 {
    margin-left: 20px
}

.mr-20 {
    margin-right: 20px
}

.mt-30 {
    margin-top: 30px
}

.mb-30 {
    margin-bottom: 30px
}

.ml-30 {
    margin-left: 30px
}

.mr-30 {
    margin-right: 30px
}

.mt-minus {
    margin-top: -30px
}

.font_light {
    font-weight: 300;
}

.font_regular {
    font-weight: 400;
}

.font_bold {
    font-weight: 700;
}

.font_xbold {
    font-weight: 900;
}

.text_blue {
    color: #00529b;
}

.text_grey {
    color: #666;
}

.text_g999 {
    color: #999;
}

.text_blck {
    color: #000000;
}

.text_wht {
    color: #ffffff;
}

.text_red {
    color: #fe0000;
}

.text_br {
    color: #9c6602;
}

.text_mg {
    color: #ff24c7;
}

.text_tq {
    color: #3590ce;
}

.text_grn {
    color: #4CAF50;
}

.text_orange {
    color:#FFA500;
}

.text_20 {
    font-size: 20px;
}

.text_18 {
    font-size: 18px;
}

.text_16 {
    font-size: 16px;
}

.text_14 {
    font-size: 14px;
}

.text_12 {
    font-size: 12px;
}

.text-justify {
    text-align: justify;
}

.bg_grey {
    background-color: #f8f8f8;
    border: 1px solid #FFF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.bg_wht {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.bg_br {
    background-color: #9c6602 !important;
    color: #FFF;
}

.bg_mg {
    background-color: #ff24c7 !important;
    color: #FFF;
}

.bg_tq {
    background-color: #31cdfd !important;
    color: #FFF;
}

.bg_grn {
    background-color: #4CAF50 !important;
    color: #FFF;
}

.bg_red {
    background-color: #F00 !important;
    color: #FFF;
}

.bg_mrn {
    background-color: #d62e2e !important;
    color: #FFF;
}

.bg_ylw {
    background-color: #ffffac !important;
    color: #000;
}

.bg_blu {
    background-color: #2196f3;
    color: #fff;
}

.bg_gry {
    background-color: #CCC;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 99;
}

.Cus-Acc > .panel-heading.wht-heading {
    padding: 0;
}

input[type="file"] {
    background-color: #eee;
    border-color: #eee;
    display: block;
    padding: 6px 12px;
    width: 100%;
}


/* Flagging start here*/

.ActionPlanHead {
    background-color: white;
    font-size: 24px;
    line-height: 90px;
    padding: 0 30px;
    position: relative;
    text-align: left;
}

.ReportsTablesHead {
    background-color: #333;
    color: white;
    font-size: 24px;
    height: 90px;
    line-height: 90px;
    padding: 0 30px;
    position: relative;
    text-align: center;
}

.ActionPlanHeadLogo {
    font-size: 38px;
    left: 10px;
}

.evo-pop {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 5px;
    width: auto;
    z-index: 10000;
}

.ActionPlanHead p {
    margin: 0;
}

.ActionPlanHead img {
    border-radius: 50%;
}

.ReportsTableLogo {
    left: 10px;
    position: absolute;
}

.ReportsTableTitle {
    display: inline-block;
}

.ReportsFilters {
    margin: 0 0 20px;
}

.ReportsFiltersBlock select {
    min-width: 200px;
}

.ReportsFiltersBlock {
    display: table;
}

.ReportsFiltersBlock + .ReportsFiltersBlock {
    margin-top: 10px;
}

.ReportsFiltersBlock > div:first-child {
    min-width: 90px;
}

.ReportsFiltersBlock > div {
    display: table-cell;
    height: 39px;
    vertical-align: middle;
}

.RecSerGoogle {
    margin-right: 10px;
}


/* Weekly View start here*/

.well.weekly_day {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 20px 0;
}

.well.weekly_day .panel-group {
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 1px;
    position: relative;
    margin: 0;
}

.weekly_day > .panel-group > .panel {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.weekly_day > .panel-group > .panel > .panel-heading {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    position: relative;
}

.weekly_day .fa.fa-plus-circle.text_wht.pull-right,
.weekly_day .fa.text_wht.pull-right.fa-minus-circle {
    color: #aaa;
}

.weekly_day h4 {
    color: #008dff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.weekly_day > .panel-group > .panel > .panel-heading:hover {
    background-color: #f4f4f4;
}

.weekly_day > .panel-group > .panel >.panel-collapse.in {
    border-bottom: 2px solid #eee;
}


/* Weekly View end here*/


/* Login View start here*/

.NewUserTxt {
    color: #ff3300;
}

.NewUserTxt::before {
    color: black;
    content: "|";
    margin-left: -9px;
    margin-right: 5px;
    margin-top: -1px;
    position: absolute;
}

.LoginBox {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 0 #c5c4c4;
    display: block;
    margin: auto;
    min-height: 20px;
    padding: 30px;
    width: 400px;
}

.LoginBox .btn.LoginButton {
    width: 100%;
}

.LoginBox .form-group {
    margin-bottom: 0;
}

.LoginBox .form-control {
    background: #f8f8f8 none repeat scroll 0 0;
    height: 40px;
    line-height: 40px;
}

.LoginBox h3 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 25px;
}

.LoginBox hr {
    display: none;
}


/* Login View end here*/


/*misc*/

a[data-toggle="collapse"] i.fa-minus-circle {
    display: block;
}

a.collapsed[data-toggle="collapse"] i.fa-minus-circle {
    display: none;
}

a[data-toggle="collapse"] .fa-plus-circle {
    display: none;
}

a.collapsed[data-toggle="collapse"] .fa-plus-circle {
    display: block;
}

.HeadRow {
    cursor: pointer;
    position: relative;
}

.DetailRow img {
    border-radius: 2px;
    height: auto;
    width: 100%;
}

a {
    cursor: pointer;
}

.DetailRow {
    /*display: none;*/
}

.DetailRow > .table tbody tr {
    background-color: white;
}

.DetailRow > .table tbody tr.appointment_row {
    background-color: #f4f4f4;
}

.weekly_day > .panel-group > .panel > .panel-heading.GridRowGreen::before,
.GridRowGreen.HeadRow::before {
    background-color: #4caf50;
}

.weekly_day > .panel-group > .panel > .panel-heading.GridRowRed::before,
.GridRowRed.HeadRow::before {
    background-color: #F44336;
}

.weekly_day > .panel-group > .panel > .panel-heading.GridRowYellow::before,
.GridRowYellow.HeadRow::before {
    background-color: #FBC700;
}

.weekly_day > .panel-group > .panel > .panel-heading.GridRowBlue::before,
.GridRowBlue.HeadRow::before {
    background-color: #2196F3;
}

.weekly_day > .panel-group > .panel > .panel-heading::before,
.HeadRow::before {
    bottom: 0.4px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
    z-index: 1;
}

.weekly_day > .panel-group > .panel > .panel-heading > .panel-title {
    padding-left: 10px;
}

.ScheduleServiceCont {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px 0;
}

.panel-Teal {
    border-color: #009688;
    background-color: #009688;
}

.panel-Teal .panel-heading {
    background-color: #009688;
    color: white;
}

.panel-Teal .panel-heading a.collapsed::before {
    content: "+";
    display: block;
    float: left;
    font-weight: 800;
    height: 18px;
    line-height: 16px;
    width: 18px;
}

.panel-Teal .panel-heading a::before {
    content: "-";
    display: block;
    float: left;
    font-weight: 800;
    height: 18px;
    line-height: 14px;
    width: 18px;
}

.bg_grn select,
.bg_grn input[type="text"],
.bg_grn .form-control {
    background: #81c794 none repeat scroll 0 0;
    border-color: #81c784;
    box-shadow: none;
    color: white;
}

.bg_grn .form-control::-moz-placeholder {
    color: #d0edd8;
    opacity: 1;
}

.bg_grn .btn,
.bg_grn button,
.bg_grn button.form-control {
    background: #388E3C none repeat scroll 0 0;
    border-color: #388E3C;
    box-shadow: none;
    color: white;
}

.bg_grn .btn:hover,
.bg_grn button:hover,
.bg_grn button.form-control:hover {
    background: #2E7D32 none repeat scroll 0 0;
}

b,
strong {
    font-weight: 600;
}

.bg_wht.ChkinStatusArea {
    box-shadow: none;
}

.ChkinStatusArea table.table td {
    border: medium none;
}

.ChkinStatusArea .table {
    margin: 0;
}

.bg_wht.ChkinStatusArea {
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: none;
    margin: 10px 20px 0;
}

.ChkinStatusArea table.table td {
    border: medium none;
    text-align: center;
}

.ChkinStatusArea table.table td.StatusTimeLeft {
    background-color: #f44336;
}

.ChkinStatusArea table.table td.StatusInprogress {
    background-color: #4caf50;
}

.ChkinStatusArea table.table td.StatusInprogress .ChkinStatusInfo,
.ChkinStatusArea table.table td.StatusTimeLeft .ChkinStatusInfo {
    color: white;
    font-size: 29px;
}

.ChkinStatusArea table.table td.StatusInprogress .ChkinStatusTitle,
.ChkinStatusArea table.table td.StatusTimeLeft .ChkinStatusTitle {
    color: white;
}

.ChkinStatusInfo {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 2px;
}

.ChkinStatusTitle {
    color: #999;
    font-weight: 400;
}

.ChkinStatusArea .container-fluid {
    padding: 0;
}

.page-header .login {
    color: #333333;
    display: block;
    font-weight: normal;
    margin-top: 5px;
    text-shadow: none;
    white-space: nowrap;
}

.login .text_wht {
    color: inherit;
}

.login .text_wht:first-child {
    color: #4caf50;
    font-weight: 600;
    margin-left: 5px;
}

label {
    color: #333;
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
    margin-bottom: 5px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 600;
}

.modal-backdrop {
    z-index: 800 !important;
}

.modal {
    z-index: 850 !important;
}

.modal-content {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    outline: medium none;
    overflow: hidden;
    position: relative;
}

.modal-content > .modal-content {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}

.modal-header {
    background-color: #2196f3;
    border-bottom: 1px solid #2196f3;
    min-height: 16.4286px;
    padding: 15px 20px;
}

.modal-title {
    color: white;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857;
    margin: 0;
}

.modal-header .close {
    margin: 0;
    padding: 0 5px;
}

.DeleteItem {
    display: block;
    float: right;
    height: 15px;
    text-align: center;
    width: 15px;
}

#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

ul.ui-autocomplete {
    border: 1px solid #ccc;
    list-style: outside none none;
    margin: 0;
    max-height: 155px;
    overflow-y: scroll;
    padding: 0;
    width: 200px !important;
}

ul.FlagItemsList > li {
    background-color: #eee;
}

ul.FlagItemsList > li a.ItemLable {
    color: #333;
    display: block;
    float: left;
    width: 90%;
}

ul.FlagItemsList > li a.ItemLable:hover {
    text-decoration: none;
}

ul.FlagItemsList > li:hover {
    background-color: #fff;
}

ul.FlagItemsList > li + li {
    border-top: 1px solid #ccc;
}

.FlagItemAutoSearch {
    border: 1px solid #ccc;
    width: 200px !important;
    border-bottom: none;
}

ul.FlagItemsList > li.ui-menu-item,
.FlagItemAutoSearch {
    padding: 10px 15px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #eee none repeat scroll 0 0;
    border: medium none;
    color: #333;
    font-weight: normal;
    margin: 0;
}

ul.FlagItemsList > li + li.ui-state-hover,
ul.FlagItemsList > li + li.ui-state-focus {
    border-top: 1px solid #ccc;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: inherit;
    text-decoration: none;
}

.modal-dialog {
    z-index: 500;
}

.EditFlagCont > * {
    float: left;
    width: 49.5%;
}

.FlagCurrentColorsWrap {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: scroll;
}

.FlagColorPickerDropdown {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 7px;
    position: relative;
}

.FlagColorPickerDropdownTxt {
    display: inline-block;
    left: 0;
    right: 10px;
}

.FlagColorPickerRemoveColor {
    cursor: pointer;
}

.FlagColorPickerDropdownList {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    left: 0;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
}

.FlagColorPickerDropdownList li.ColorPickerPreview {
    padding: 0;
}

li.ColorPickerPreview > .jscolor {
    font-weight: 600;
    padding: 3px;
    width: 100%;
}

.FlagColorPickerGroup {
    position: relative;
    z-index: 1;
}

.FlagColorPickerSelectNew {
    padding: 10px;
}

.FlagColorPickWrapper {
    position: relative;
}

.addflag .FlagColorPickWrapper .evo-cp-wrap {
    width: 100% !important;
}

.addflag .FlagColorPickWrapper .evo-pointer {
    border-radius: 2px;
    margin-top: 5px;
}

.FlagColorPickerDropdownList > li {
    height: 25px;
    padding: 5px;
    cursor: pointer;
}

.OpenFlagColorPickerDropdown.glyphicon,
.SelectNewColor.glyphicon {
    cursor: pointer;
    padding: 2px;
    width: auto;
}

.FlagCurrentColorsWrap p {
    font-weight: 600;
    margin: 0;
    padding: 8px 2px;
    text-transform: capitalize;
}

.FlagCurrentColors {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.FlagCurrentColors > li {
    display: block;
    padding: 8px 5px;
}

.FlagCurrentColors > li + li {
    border-top: 2px solid #fff;
}

.navbar-inverse {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: medium none;
}

.navbar-inverse .navbar-nav > li:hover,
.navbar-inverse .navbar-nav > li.active,
.navbar-inverse .navbar-nav > li:focus {
    background-color: #fafafa;
    box-shadow: 0 1px 0 0 #26a69a;
}

.navbar-collapse.collapse {
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li {
    border-right: medium none;
    position: relative;
}

.navbar.CusLoginTabs .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
}

.navbar.CusLoginTabs .navbar-nav > li {
    border-left: 1px solid #d2d2d2;
    border-right: medium none;
}

.navbar.CusLoginTabs .navbar-nav > li:first-child {
    border-left: medium none;
}

.navbar.CusLoginTabs .navbar-nav > li.open:last-child {
    border-right: 1px solid #d2d2d2;
}

.btn,
input,
select,
.form-control,
button {
    border-radius: 2px;
    color: #555555;
    border: 1px solid #cccccc;
}

.btn,
input,
select,
.form-control,
button .input[type="text"],
select,
.form-control {}

.form-control {
    background-color: #fff;
    background-image: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: block;
    line-height: 33px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.btn-info {
    background-color: #2196f3;
    border-color: #2196f3;
    color: #ffffff;
}

.btn-primary {
    background-color: #0547a8;
    border-color: #00679e;
    color: #ffffff;
}

.btn-grey {
    background-color: #777777;
    border-color: #777777;
    color: white;
}

.btn-success {
    background-color: #4caf50;
    border-color: #4caf50;
    color: #ffffff;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #ffffff;
}

.btn {
    background-image: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    padding: 7px 15px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #1e88e5;
}

.btn-default,
button {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #666;
    padding: 6px 15px;
}

button:hover,
button:focus,
button:active {
    background-color: #f4f4f4;
    border-color: #d7d7d7;
}

.DatePickerBtn {
    display: inline-block;
}

.DatePickerBtn.btn-default > a {
    color: inherit;
}

a.TxtForget {
    color: #e57373;
    font-size: 13px;
}

.btn[type="file"] {
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding-left: 0;
    text-align: left;
}

.table > thead > tr > th,
table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #cccccc !important;
    color: inherit;
    font-weight: 600;
    vertical-align: middle;
}

.table-headgray > thead > tr > th {
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
    color: inherit;
    font-weight: 600;
    vertical-align: middle;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #dddddd;
    line-height: 1.42857;
    padding: 14px 2px;
    vertical-align: top;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
    padding-left: 6px;
}

.HeadRow:hover>.table {
    background-color: #f4f4f4;
}

.panel-default {
    border-color: #ccc;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ccc;
}

.panel-default > .panel-heading.wht-heading {
    background-color: #fcfcfc;
    color: #333333;
}

.panel-title {
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.alert {
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
}

.alert-success {
    margin-top: 0.5em;
}

.panel-default > .panel-heading {
    background-color: #fcfcfc;
    border-color: #9a9a9a;
    color: #333;
}


/*misc end here*/

.CusEditableTbl .control-group.form-group {
    margin: 0;
}


/*Bootstrap Tabs*/

.nav-tabs {
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px 2px 0 0;
}
.nav-tabs > li {
    float: left;
    margin: 0 0 -2px;
}

@media (max-width: 767px) {
  .nav-tabs li {
    width: 100%;
  }
}
.nav-tabs > li > a {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-right: 1px solid #ccc;
    border-top: 2px solid transparent;
    color: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: 10px 20px;
    text-shadow: 1px 1px #fff;
    text-transform: capitalize;
    border-radius: 0px;
    margin: 0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid transparent;
    border-right: 1px solid #ccc;
    border-top: 2px solid #2196f3;
    color: #2196f3;
    cursor: default;
}

@media (max-width: 767px) {
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
      background-color: #2196f3;
      border: none;
      color: #fff;
      text-shadow: none;
  }
}
.nav-tabs > li > a:hover {
    border-color: #ccc;
    color: #2196f3;
    border-top: 2px solid transparent;
    border-bottom: 1px solid transparent;
}


/*Bootstrap Tabs end here*/


/*Mobile checkin*/

#walkinappointment .form-group {
    margin-bottom: 2px;
}

.WorkAroundCar.container {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
    width: 700px;
}

.WorkAroundCar .item img {
    border-radius: 3px;
}

.WorkAroundCar .item h3 {
    font-weight: 500;
    margin: 0;
    text-shadow: none;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #333333;
}

.WorkAroundCar .item p {
    color: #333;
    text-shadow: none;
}

#overview_time_daily>table:nth-child(2n) .bg_blu,
.bluDataGrid>table:nth-child(2n) .bg_blu {
    background-color: #008f9e;
}

#overview_time_daily>table .bg_blu,
.bluDataGrid>table .bg_blu {
    background-color: #0097a7;
    border-top: 1px solid #33a5b1;
}

.bluDataGrid > table > thead > tr > th {
    background-color: #0097a7;
    border-bottom: medium none;
    border-top: 1px solid #33a5b1;
    color: white;
}

#overview_time_daily>table:hover .bg_blu,
.bluDataGrid>table .bg_blu {
    background-color: #007a87;
}

.bluDataGrid {
    border: 1px solid #cccccc;
}


/*Mobile checkin*/


/*Mobile checkin today app*/

.TodayAppFilter {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px;
    border-bottom: none;
}

.TodayAppFilter .search_form_checkin {
    border-radius: 3px;
    overflow: hidden;
}

.TodayAppFilter h3 {
    font-weight: 500;
    margin: 0px;
}

.wlktype {
    display: flex;
    margin-bottom: 10px;
}

.wlktype > * {
    border-radius: 0;
    border-right: medium none navy;
    position: relative;
    width: 50%;
}

.wlktype > *:first-child {
    border-radius: 3px 0 0 3px;
}

.wlktype > .active::before {
    background-color: #2196f3;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.wlktype > *:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #cccccc;
}

.TypeInt {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0;
}

.CamBtn {
    background-color: #4caf50;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 23px;
    height: 43px;
    line-height: 43px;
    margin-right: 10px;
    text-align: center;
    width: 43px;
}

.SelectOther {
    /*
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;*/
}

.SelectOther.SelectOtherShow {
    height: auto;
}

.CamBtn:hover {
    background-color: #3f9844;
}


/*Mobile checkin*/


/* Yamm!3 - Bootstrap 3 Start*/

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .yamm-content {
    padding: 20px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.yamm .dropdown-menu {
    background: rgba(155, 205, 255, 1);
    background: -moz-linear-gradient(top, rgba(155, 205, 255, 1) 0%, rgba(254, 254, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155, 205, 255, 1)), color-stop(100%, rgba(254, 254, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(155, 205, 255, 1) 0%, rgba(254, 254, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(155, 205, 255, 1) 0%, rgba(254, 254, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(155, 205, 255, 1) 0%, rgba(254, 254, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(155, 205, 255, 1) 0%, rgba(254, 254, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9bcdff', endColorstr='#fefeff', GradientType=0);
}

.navbar-default.CusLoginTabs .navbar-nav > li.open > a::before,
.navbar-default.CusLoginTabs .navbar-nav > li.active > a::before {
    background: white none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: -1px;
    z-index: 100000;
}

.navbar-default.CusLoginTabs .navbar-nav > li.open > a::after,
.navbar-default.CusLoginTabs .navbar-nav > li.active > a::after {
    background-color: #2196f3;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: -1px;
    top: 0;
}


/* Yamm!3 - Bootstrap 3 End*/


/*Login Page Start*/

.page-header.LoginPageHead,
.page-header {
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid #ccc;
    border-top: medium none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.page-header.LoginPageHead h1,
.page-header h1,
.page-header h2 {
    color: #333;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
    margin-right: 20px;
    text-shadow: none;
    text-transform: uppercase;
}

.navbar-default.CusLoginTabs {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border-color: #cccccc;
    border-radius: 3px;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
}

.navbar-default.CusLoginTabs .navbar-collapse.collapse {
    background-color: transparent;
}

.navbar.CusLoginTabs .navbar-nav > li > a {
    font-weight: normal;
}

.navbar-default.CusLoginTabs .navbar-nav > .open > a,
.navbar-default.CusLoginTabs .navbar-nav > .open > a:hover,
.navbar-default.CusLoginTabs .navbar-nav > .open > a:focus,
.navbar-default.CusLoginTabs .navbar-nav > .active > a,
.navbar-default.CusLoginTabs .navbar-nav > .active > a:hover,
.navbar-default.CusLoginTabs .navbar-nav > .active > a:focus {
    background: white none repeat scroll 0 0;
    color: #444;
}
@media (max-width: 900px) {
  .navbar-default.CusLoginTabs .navbar-nav > .open > a,
  .navbar-default.CusLoginTabs .navbar-nav > .open > a:hover,
  .navbar-default.CusLoginTabs .navbar-nav > .open > a:focus,
  .navbar-default.CusLoginTabs .navbar-nav > .active > a,
  .navbar-default.CusLoginTabs .navbar-nav > .active > a:hover,
  .navbar-default.CusLoginTabs .navbar-nav > .active > a:focus {
      background-color: #2196f3;
      color: #fff;
  }

  .navbar-default.CusLoginTabs .navbar-nav > li.open > a::before,
  .navbar-default.CusLoginTabs .navbar-nav > li.active > a::before {
    background-color: transparent;
  }

}

.navbar-default.CusLoginTabs .dropdown-menu,
.navbar.CusLoginTabs ~ .tabz-data {
    background: white none repeat scroll 0 0;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
    border-color: #cccccc;
}

.navbar-default.CusLoginTabs ~ .tabz-data {
    margin-top: -1px;
    padding: 1rem;
}

.navbar-default.CusLoginTabs ~ .tabz-data h3 {
  color: #2196f3;
}

.book-appt-buttons a {
  margin: 0 0 1rem;
}

/*Login Page End*/

.chatbox {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
}

#flip {
    padding: 5px;
    text-align: left;
    background: url(../images/chatbox_up.png) left top no-repeat;
    line-height: 28px;
    color: #000;
}

#panel {
    padding: 10px;
    display: none;
    background-color: #FFF;
    border: #9bcdff 1px solid;
}

#contact-button {
    background-image: url(../images/buttons.png) !important;
    background-position: 0px center;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 20px;
    width: 20px;
    float: left;
    margin: 5px 5px 0 5px;
}

.button-open {
    background-position: -26px center !important;
}

.chat-erea {
    padding: 10px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #fafafa;
    margin-top: 10px;
}


/*Inspection Accordion*/

.InspectionAccordionAddRemove {
    max-width: 130px;
    padding-top: 99px;
    text-align: center;
}

.InspectionAccordion select[multiple] {
    height: 250px;
}

.AddListBtnArrows > * {
    margin: 0 -1px;
}

.RemoveListBtnArrows,
.AddListBtnArrows {
    font-size: 8px;
    margin: 0 2px;
}

.RemoveListBtnArrows > * {
    margin: 0 -1px;
}

.RemoveListBtnArrows > *,
.AddListBtnArrows > * {
    top: -1px;
}

.BtnAddInspection,
.BtnRemoveInspection {
    width: 100%;
}

select.CustListCont {
    padding: 0;
}

.form-control.CustListCont > option {
    padding: 10px;
}

.form-control.CustListCont > option:nth-child(2n) {
    background-color: #fcfcfc;
}

.form-control.CustListCont > option:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.InspectionListHead {
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    margin: 0;
    padding: 10px 15px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}


/*Inspection Accordion Ends*/


/* .bubble */

.bubble {
    background-color: #eaeaea;
    border-radius: 20px;
    /* vendor rules */
    box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
    /* vendor rules */
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-bottom: 10px;
    padding: 5px 10px;
    position: relative;
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
}

.bubble:before,
.bubble:after {
    border-radius: 20px / 10px;
    content: '';
    display: block;
    position: absolute;
}

.bubble:before {
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: -7px;
    z-index: -2;
}

.bubble:after {
    border: 8px solid transparent;
    border-bottom-color: #eaeaea;
    bottom: 1px;
    left: -5px;
}

.bubble--alt {
    background-color: #dbedff;
    color: #666;
    float: right;
}

.bubble--alt:before {
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px / 10px;
    left: auto;
    right: -7px;
}

.bubble--alt:after {
    border-bottom-color: #dbedff;
    border-radius: 20px / 10px;
    left: auto;
    right: -5px;
}

.terms {
    height: 500px;
    overflow: auto;
    overflow-x: none;
}

.simple-menu {
    background: transparent url("../images/slider-nav.png") no-repeat scroll center center / 20px auto;
    color: #666;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    text-decoration: none;
    width: 22px;
}

.simple-menu:hover,
.simple-menu:focus {
    color: #333;
    border-color: #999;
}

.tick {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tick li {
    margin: 0 0 8px 0;
    padding: 0 0 0 25px;
    background: url(../images/ico_gud.png) left top no-repeat;
}

.panel-group .panel {
    border-radius: 3px;
    margin-bottom: 0;
    overflow: hidden;
}

.breadcrumb-top {
    background-color: #fcfcfc;
    border-bottom: 1px solid #ccc;
    border-top: medium none navy;
}

.breadcrumb-top .breadcrumb {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 15px;
}

.breadcrumb-top .breadcrumb > li > a {
    color: #999;
}

.breadcrumb-top .breadcrumb > .active {
    color: #FFF;
}

.breadcrumb-top .breadcrumb > li:first-child > a {
    color: #333;
    margin-left: 6px;
}

.breadcrumb > li + li::before {
    color: #999;
    content: "/ ";
    padding: 0 5px;
}

.top-links {
    background-color: #e3e3e3;
    padding: 10px;
    border-bottom: #7a7a7a 1px solid;
}

.top-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-links ul li {
    display: inline-block;
    border-right: #828282 1px solid;
    padding: 0 15px;
}

.top-links ul li:last-child {
    border-right: none;
}

.top-links ul li a {
    display: block;
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-inverse .navbar-nav > li > .submenu {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 150px;
}

.navbar-inverse .navbar-nav > li:hover > .submenu {
    display: block;
    border: #7f7f7f 1px solid;
    border-bottom: none;
    z-index: 999;
}

.submenu li {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
}

.submenu li:hover {
    background-color: #aed3fd !important;
}

.submenu li a {
    color: #333;
    display: block;
    padding: 7px;
    text-decoration: none;
}

.submenu li ul {
    display: none;
    position: absolute;
    left: 149px;
    top: -1px;
    max-width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.submenu li:hover ul {
    display: block;
    border: #7f7f7f 1px solid;
    border-bottom: none;
    z-index: 999;
}

.submenu li:hover ul li a {
    text-align: left;
    text-transform: none;
}

.submenu li ul li a.text_grey {
    color: #999 !important;
}

.ChkInCur {
    position: relative;
    z-index: 1;
}

.ChkInLftNav {
    position: relative;
    z-index: 1000;
}

.left_nav,
.left_Sub_nav {
    background-color: #263238;
    border-radius: 4px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.left_nav .left_Sub_nav {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -131px;
    top: -48px;
    width: 130px;
}

.left_nav>li {
    position: relative;
}

.left_nav .left_Sub_nav li {}

.left_nav .left_Sub_nav>li:last-child {
    border: none;
}

.left_nav li {
    border-bottom: 1px solid #3f4b52;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 10px;
}

.left_nav li a {
    color: rgba(255, 255, 255, 0.75);
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
}

.left_nav li#walkarscreenmain:hover .left_Sub_nav {
    display: block;
}

.left_nav li:hover a {
    color: #FFF;
}

.left_nav li.active a {
    color: #FFF;
}

.left_nav li.active>a {
    background-color: #2196f3;
    border-radius: 3px;
    color: white;
    padding: 10px 0;
}

.left_nav li a i {
    font-size: 22px;
}


/* Radio/Checkbox Buttons */

.radio {
    display: inline-block;
    margin-right: 30px;
    padding: 0;
}

.save-form.pending .radio + .radio,
.save-form.pending .checkbox + .checkbox {
    margin-top: 10px;
}

.radio input[type=radio] {
    width: 15px;
    height: 15px;
    opacity: 0;
    clip: rect(0px, 0px, 0px, 0px);
}

.radio input[type=radio] + span {
    background: url(../images/radio.png) left no-repeat;
    padding-left: 22px;
    float: left;
}

.radio input[type=radio]:checked + span {
    background-image: url(../images/radio_checked.png);
}

.checkbox {
    display: inline-block;
    margin-right: 30px;
    padding: 0;
}

.checkbox input[type=checkbox] {
    width: 15px;
    height: 15px;
    opacity: 0;
    clip: rect(0px, 0px, 0px, 0px);
}

.checkbox input[type=checkbox] + span {
    background: url(../images/checbox.png) left no-repeat;
    padding-left: 22px;
    float: left;
}

.checkbox input[type=checkbox]:checked + span {
    background-image: url(../images/checbox_checked.png);
}

.da_menu {
    background-color: transparent;
    border: medium none;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
}

.breadcrumb .glyphicon {
    display: none;
}

.da_menu ul {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: table;
    list-style: outside none none;
    padding: 0;
    margin: 0px;
    text-align: center;
    width: 100%;
}

.da_menu ul li:first-child {
    border: medium none;
}

.da_menu ul li {
    background: white none repeat scroll 0 0;
    border-left: 1px solid #ccc;
    display: table-cell;
    position: relative;
}

.da_menu > ul > li:hover a {
    background-color: #f8f8f8;
}

.da_menu ul li a {
    display: block;
    background-color: #FFF;
    padding: 5px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
}

.da_menu ul li a strong {
    color: #2196f3;
    display: block;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}

.da_menu ul li .inner_menu {
    display: none;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.da_menu ul li:hover .inner_menu {
    display: block;
}

.da_menu ul li:hover .inner_menu li {
    display: block;
    border: none;
    border-top: 1px solid #ccc
}

.da_menu ul li:hover .inner_menu li a {
    background-color: white;
}

.MCDispleNotes {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100%;
    padding: 10px;
    width: 100%;
}

.MCDispleNotes ul,
.MCDispleNotes li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.ui-helper-hidden-accessible {
    display: none;
}

@media all and (max-width: 800px) and (min-width: 300px) {
    .ChkinStatusInfo {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        margin-top: 2px;
    }
    .page-header.LoginPageHead h1,
    .page-header h1,
    .page-header h2 {
        color: #333;
        font-size: 16px;
        font-weight: 500;
    }
    .left_nav li a {
        font-size: 10px;
    }
    .TodayAppFilter h3 {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.login-container a {
  color: #fff;
}
@media (max-width: 767px) {
  .login-container,
  .logout-container {
    float: left !important;
  }
  .login-container a,
  .logout-container a {
    display: block;
  }
  .wayaway-btn button {
    width: 100%;
  }
}

.flex-row {
	display: flex;
	overflow-x: scroll;
}

.flex-column {
	display: flex;
	padding: 5px;
	flex-grow: 1;
	flex-flow: column nowrap;
}

.button-container {
  height: 370px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
