{% extends 'dealership/subbase.html' %}
{% load staticfiles %}
{% block content %}
<div class="clear pad-10"></div>
<div class="container-fluid">
		<h4>{{cv.vehicle.make.name}} {{cv.vehicle.model.name}} Service History</h4>
		<div class="clear pad-10"></div>
		{% if apphistory %}
		<table class="table table-bordered table-headgray">
         <thead>
           <tr>
             <th class="text-center bg_blu">Date</th>
             <th class="text-center bg_blu">Mobile Checkin Review</th>
             <th class="text-center bg_blu">Flagging Review</th>
           </tr>
         </thead>
          <tbody>
          {% for obj in apphistory %}
          <tr>
           <td class="text-center">{{obj.start_time}}</td>
           <td class="text-center"><a target="_blank" href="{% url 'mobilecheckin:pdf_view' obj.id %}">Mobile Checkin</a></td>
            {% if obj.ro.ro_number %}
           <td class="text-center"><a target="_blank" href="{% url 'flagging:generatepdf'%}?ro_number={{obj.ro.ro_number}}">Flagging</a></td>
            {% else %}
            <td class="text-center">No RO</td>
            {% endif %}
           </tr>
           {% endfor %}
        </tbody>
        </table>
        {% else %}
        No Service History Available
        {% endif %}
</div>
{% endblock %}
