<div bgcolor="#878787" style="background:#878787;height:100%!important;margin:0;padding:30px 0 0 0;width:100%!important">

    <table style="background-color:#878787;border-collapse:collapse!important;height:100%!important;margin:0;padding:0;width:100%!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td style="height:100%!important;margin:0;padding:0 20px;width:100%!important" valign="top" align="center">
                    <table style="border-collapse:collapse!important;width:600px;padding:0px;margin:0px" width="600" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style="background-color:#3e3e3e" valign="middle" height="26" bgcolor="#3e3e3e" align="left">
                                    <span style="color:#ffffff;font-family:helvetica,arial,sans-serif;font-size:10px;padding:0 0 0 30px;margin:0">Your {{dealer_name}} Service Appointment.</span>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <table style="background:#f4f4f4;background-color:#f4f4f4;border-collapse:collapse!important" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="color:#505050;font-family:Helvetica;font-size:20px;font-weight:bold;line-height:100%;padding:0;text-align:left;vertical-align:middle" valign="top" align="left">
                                                      {% if header %}
                                                    <img src="cid:{{header}}" alt="{{dealer_name}} Service" style="border:0;height:auto;line-height:100%;max-width:600px;outline:none;text-decoration:none" tabindex="0">
                                                
                                                    
                                                    {% else %}
                                                      <p align="center"><font size="3" face="Verdana"><b> {{ dealer_name }}</b></font></p>
                                                    {% endif %}
                                                    
                                                    <div dir="ltr" style="opacity: 0.01; left: 659px; top: 753px;">
                                                        <div role="button" tabindex="0" aria-label="Download attachment">
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #e5e5e5;padding:0;margin:0" valign="top" align="center">
                                    <table style="background:#fff;background-color:#fff;border-collapse:collapse!important" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 20px 30px;text-align:left" valign="top" align="left">
                                                    <h1 style="color:#000000!important;display:block;font-family:Helvetica,arial,sans-serif;font-size:30px;font-style:normal;font-weight:bold;letter-spacing:normal;line-height:100%;margin:50px 0 5px 0;padding:0;text-align:left"><strong>APPOINTMENT CANCELLED</strong></h1>
                                                    <p style="font-family:Helvetica;font-size:24px;font-weight:bold;line-height:100%;padding:0;margin:0"><strong>{{ dealer_name|upper }}</strong> </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 20px 30px;text-align:left" valign="top" align="left">
                                                    <p><strong>Dear {{name}},</strong></p>
                                                    <p>Thank you for taking the time to cancel your service appointment previously scheduled for <span>{{start_time}}</span>.</p>
                                                    <p>If you need to reschedule this appointment, or to make a new appointment, click the button below.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 20px 30px;text-align:left" valign="top" height="30" align="left">
                                                    <a href="{{main_site_url}}" style="font-size:12px;font-family:Georgia,Times,'Times New Roman',serif;font-weight:bold;color:#ffffff;text-decoration:none;display:inline-block" target="_blank"><button style="background-image: none;box-shadow: none;cursor: pointer;display: inline-block;padding: 7px 15px;font-weight: 400;margin-bottom: 0;text-align: center;vertical-align: middle;white-space: nowrap;color: #ffffff;background-color: #0384c9;order-color: #017ec0;">Schedule Appointment</button></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000;font-family:Helvetica;font-size:14px;line-height:150%;padding:0 30px 55px 30px;text-align:left" valign="top" align="left">
                                                    <p>We look forward to seeing you very soon.</p>
                                                    <p>Sincerely,</p>
                                                    	{{dealer_name}}<br>
	                                                  <p>
											                              {% if dealer_number %}
											                              Tel: <a href="#" value="{{dealer_number}}" target="_blank">{{dealer_number}}</a><br>
											                              {% endif %}
											                              {% if dealer_email %}
											                              Email: <a href="mailto:{{dealer_email}}" target="_top" target="_blank">{{dealer_email}}</a><br>
											                              {% endif %}
                                                    Website: <a href="{{main_site_url}}" target="_blank">{{dealer_name}}</a><br>
	                                                
                                                    {{dealer_address}}<br>
																										<a href="http://maps.google.com/?q={{dealer_address}}" target="_blank"><strong>Map to Dealership</strong></a></span></p>
              
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#3e3e3e;font-family:Helvetica,arial,sans-serif;line-height:125%;font-size:10px;color:#fff;font-weight:bold;text-decoration:none;padding:10px 0" valign="middle" height="26" bgcolor="#3e3e3e" align="center">THIS IS AN AUTOMATED MESSAGE &ndash; <span style="white-space:nowrap">PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL.</span>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="center">
                                    <table style="background:#e6e6e6;background-color:#e6e6e6;border-collapse:collapse!important;margin:15px 0 0 0" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="color:#808080;font-family:Helvetica,arial,sans-serif;font-size:10px;line-height:150%;margin-top:0;padding:30px;text-align:left" valign="top" align="left">
                                                    <p>&copy; {% now 'Y' %} {{dealer_name}}</p>
                                                    <p>Repair times and costs vary based upon the nature of the repair, parts availability, your warranty status, and other factors. Once your vehicle is in the shop, we will diagnose your problem and contact you as soon as we can to provide details and specific time and cost estimate. Diagnostic and/or repair fees may apply if work to be performed is not covered under warranty.
                                                        <br>
                                                        <br>Please use the <a href="#" target="_blank">My Account</a> link to unsubscribe or adjust your privacy preferences.</p>
                                                    <p>Please note we are located at {{dealer_address}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</div>
