{% extends "customer/layouts/loggedin_base.html" %}
{% load staticfiles %}
{% block main%}
<div class="status_successbox">Successful operation message</div>
<div class="status_errorbox">Error Occurred</div>
<div class="container">
        <div role="tabpanel" class="tab-pane active" id="vehicles">
        {% include "customer/statusalert/vehicles/index.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="acct-info">
        </div>
        <div role="tabpanel" class="tab-pane" id="notifications">
        </div>
</div>
<div class="modal fade payment_details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
        	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Payment Details</h4>
      		</div>
      		<div class="modal-body">
      		<div class="row">
      			<h5 class="text-center text_wht bg_blu m-0 pad-10 font_regular">Scheduled Services & Repair</h5>
				<div class="table-responsive">
				    <table class="table table-bordered table-headgray">
					<thead>
					    <tr>
					        <th>Services</th>
					        <th>Cost</th>
					    </tr>
					</thead>
					<tbody>
					{% for obj in appt_services %}
					    <tr>
					        <td>{{obj.service.name}}</td>
					        <td>{{obj.service.price}}</td>
					    </tr>
					 {% endfor %}
					 {% for obj in approved_rec %}
					 	<tr>
					        <td>{{obj.notes}}</td>
					        <td>{{obj.price}}</td>
					    </tr>
					 {% endfor %}
					    <tr>
					        <td class="bg_blu"><strong>TOTAL</strong></td>
					        <td class="bg_blu" style="border:none"><strong>${{s_total}}</strong></td>
					    </tr>
					</tbody>
					</table>
				</div>
            </div>
      		</div>
      		<div class="modal-footer">
            	<div class="row">
               	   <div class="col-xs-2"><a href="#" class="btn btn-info btn-block creditinfo">Pay Bill</a></div>
                   <div class="col-xs-2"><a href="#" class="btn btn-danger btn-block cancelpayment">CANCEL</a></div>
                </div>
      		</div>
    	</div>
  	</div>
</div>
{% endblock %}
{% block js %}
{{block.super}}
	<script src="{% static "customer/js/statusalert.js" %}"></script>
	<script>
	var approve_status = "{% url 'customer:approve_status' appt.id%}"
	var reply_status = "{% url 'customer:reply_status' appt.id %}"
	</script>
{% endblock%}
