<div class="row text_14">
	<div class="col-xs-4"><a id="time-grid-prev" class="time-grid-control" href="#"><i class="fa fa-angle-double-left"></i> Previous Week</a></div>
    <div class="col-xs-4 text-center"><i class="fa fa-calendar"></i> <span class="week-title">Week of Apr 27th - May 3rd</span></div>
    <div class="col-xs-4 text-right"><a id="time-grid-next" class="time-grid-control" href="#">Next Week <i class="fa fa-angle-double-right"></i></a></div>
</div>
<div class="clear pad-10"></div>
<div class="date-time">
	<div class="flex-row">
		{% for row in grid_data %}
			<div class="flex-column">
        		<button type="button" class="btn btn-info btn-block">{{ row.title }}</button>
        		{% for row_data in row.data %}
	        		<button type="button" rel="{{ row_data.start_time }}" class="btn start-time btn-{{ row_data.btn }} btn-block {{ row_data.class }}">{{ row_data.title }}</button>
        		{% endfor %}
       		</div>
		{% endfor %}
    </div>
</div>
