{% load set_var %}
<ul id="away-tabs" class="nav nav-tabs">
{% for wa in wayaway %}
 <li><a class="wayaway-btn" data-toggle="tab" href="#way_{{wa.default.id}}" rel="{{wa.default.id}}">
 {% if wa.default.id == appointment.way_away_id  %}
 			{%if appointment.reserve_wayaway%}
			             <script>
			             	$(document).ready(function(){
			             		$(".wayawaysuccess").html("Your {{wa.default.name}} has been successfully reserved.");
			             		$(".wayawaysuccess").show()
			             	})
			             </script>
			{%endif%}
 			<button type="button" class="btn btn-info wayawaydone" rel="{{wa.default.id}}"  {%if wa.default.popup_description != ""  %}  data-toggle="modal" data-target="#way_modal_{{wa.default.id}}" {%endif%}>
 				<span class="glyphicon glyphicon-ok"></span> {{wa.default.name}}
 			</button>
 {% else %}
 			<button type="button" class="btn btn-default wayawaybutton wayawaydone" rel="{{wa.default.id}}" {%if wa.default.popup_description != ""  %}  data-toggle="modal" data-target="#way_modal_{{wa.default.id}}" {%endif%}> {{wa.default.name}}</button> &nbsp;
 {% endif %}
</a></li>
{% endfor %}
</ul>
<div id="away-tabs-content" class="tab-content">
{% for wa in wayaway %}
		
		<div id="way_{{wa.default.id}}"  class="tab-pane fade in wayaway_form_container {% if wa.default.id == appointment.way_away_id %} active {%endif%}"  >

   

			<h4 class="mt-0">Request a {{wa.default.name}}</h4>
				{% if wa.default.show_dl %}
				    <p>Fill in Driver's License and Insurance Information below:
				    {%if profile  %}
				    	 <a class="accountinfo pointer">(Use Account Information)</a></p>
				    {%endif%}
				{%endif%}
			    <div class="bg_wht pad-15 clearfix">
			    {% if wa.default.show_dl %}
			    	<div class="row">
			        	<div class="col-sm-6">
			            	<label>Drivers License:</label>
			                <div class="row mt-10">
			                	<div class="col-xs-1 mt-10">State</div>
			                    <div class="col-xs-4"><select class="form-control waywaywidget_states" id="">
			                    {% for state in states %}
			                    		{%if state = appointment.state_wayaway%}
			                    			
			                    			<option value="{{state.id}}" selected="selected">{{state.name}}</option>
			                    		{%else%}
			                    			<option value="{{state.id}}">{{state.name}}</option>
			                    		{%endif%}
			                    {% endfor %}
			                    </select></div>
			                    <div class="col-xs-6"><input type="text" class="form-control wayawaywidget_license" placeholder="Enter Drivers License #" name="lisence" id="" value="{{appointment.driver_license_number}}" ></div>
			                </div>
			            </div>
			            <div class="col-sm-6">
			            	<label>Insurance Information:</label>
			                <div class="row mt-10">
			                	<div class="col-xs-6"><input type="text" class="form-control wayawaywidget_ins_company" placeholder="Enter Insurance Company" name="ins_comapny" id=""  value="{{appointment.insurance_company_name}}" /></div>
			                    <div class="col-xs-6"><input type="text" class="form-control wayawaywidget_ins_card" placeholder="Insurance Card #" name="ins_card" id=""  value="{{appointment.insurance_card_number}}"/></div>
			                </div>
			            </div>
			        </div>
			    {%endif%}
			    {%if wa.default.show_description %}
		        	<div class="clear pad-10"></div>
		        	{%if wa.dealer%}
		        		<p>{{wa.dealer.description}}</p>
		        	{%else%}
		        		<p>{{wa.default.description}}</p>
		        	{%endif%}
		        	
		        {%endif%}
		        <div class="clear pad-10"></div>
		        <div class="text-right">
		        	{%if wa.default.reserve_wayaway%}
				        	 	<a data-name="{{wa.default.name}}" class="btn btn-info reserve-wayaway " rel="{{wa.default.id}}">Reserve {{wa.default.name}}</a>
				        	
		        	{%endif%}
		        </div>
		        
		        {%if wa.default.popup_description != ""%}
		        	<div id="way_modal_{{wa.default.id}}" class="modal fade" role="dialog">
					  <div class="modal-dialog">
					
					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title">{{wa.default.name}}</h4>
					      </div>
					      <div class="modal-body">
					        <p>{{wa.default.popup_description}}</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					
					  </div>
					</div>
		        {%endif%}
		        
		    </div>
		    
    </div>
 {% endfor %}
 		<div class="clear pad-10">
 		</div>
		<div class="row">
			
				<div class='col-sm-offset-4 col-sm-4 wayawaysuccess'  >
				
				</div>
			
		</div>
  </div>
   <!-- <script>
   	$(document).ready(function(){
			$('#away-tabs').tabCollapse();
   	})
   </script> -->
