<div class="col-sm-6">
                    <div class="panel panel-Teal">
                        <div class="panel-heading" role="tab" id="v_capacity">
                            <h5 class="panel-title text_14">
            					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#capacity"
                                aria-expanded="false" aria-controls="capacity">View Capacity</a>
          					</h5>
                        </div>
                        <div id="capacity" class="panel-collapse collapse absolute" style="width:95%" role="tabpanel" aria-labelledby="v_capacity">
                            <div class="panel-body bg_wht">
                                <!-- <div class="text-right">
                                    <button type="submit" class="btn btn-default">Change Capacities</button>
                                </div> -->
                                <div class="clear pad-10"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <table width="80%" border="0">
                                            <tr>
                                                <td colspan="2">
                                                    <p class="text-center text_g999">SHOP</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Shop</td>
                                               <td>{{appts_total}}/{{totalcapacity}}</td>
                                            </tr>
                                            <!-- <tr>
                                                <td>Advisors</td>
                                                <td>04/10</td>
                                            </tr>
                                            <tr>
                                                <td>Diagnosis</td>
                                                <td>04/10</td>
                                            </tr> -->
                                        </table>
                                    </div>
                                    <div class="col-xs-6" style="display:none">
                                        <table width="80%" border="0">
                                            <tr>
                                                <td colspan="2">
                                                    <p class="text-center text_g999">A WAY WAY</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Shop</td>
                                                <td>72/80</td>
                                            </tr>
                                            <tr>
                                                <td>Advisors</td>
                                                <td>04/10</td>
                                            </tr>
                                            <tr>
                                                <td>Diagnosis</td>
                                                <td>04/10</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="clear pad-5"></div>
                                <div class="row" style="display:none">
                                    <div class="col-xs-6">
                                        <table width="80%" border="0">
                                            <tr>
                                                <td colspan="2">
                                                    <p class="text-center text_g999">SCHEDULED BY</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Shop</td>
                                                <td>{{totalcapacity}}/{{appts_total}}</td>
                                            </tr>
                                            <tr>
                                                <td>Advisors</td>
                                                <td>04/10</td>
                                            </tr>
                                            <tr>
                                                <td>Diagnosis</td>
                                                <td>04/10</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
